workflows/backups/8mlwAxLtJVrwpLhi-2026-04-19T01-06-46-before-f3-summary-aggregate.json
{
  "updatedAt": "2026-04-19T00:21:57.841Z",
  "createdAt": "2026-04-06T04:02:16.950Z",
  "id": "8mlwAxLtJVrwpLhi",
  "name": "AdsKiller - Contract Guard Daily KillSwitch (MVP)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "1 0 * * *"
            }
          ]
        }
      },
      "id": "712bba43-cd97-46c3-9455-41152512b137",
      "name": "Cron Diario 00:01",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -192,
        0
      ]
    },
    {
      "parameters": {},
      "id": "49fe0038-8b92-4214-be14-79e46158f75a",
      "name": "Trigger Manual On-Demand",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        192,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { run_mode: 'scheduled' } }];"
      },
      "id": "59a6f606-1be2-4da0-91cf-27d9fdadfcd6",
      "name": "Contexto Scheduled",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $json ?? {};\nconst payload = source.payload && typeof source.payload === 'object' ? source.payload : source;\nconst correlationId = String(source.correlation_id ?? payload.correlation_id ?? `ak-f2-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`);\nconst requestedAt = String(payload.requested_at ?? payload.request_ts ?? source.requested_at ?? new Date().toISOString());\n\nreturn [{\n  json: {\n    ...source,\n    ...payload,\n    run_mode: 'manual',\n    action: String(payload.action ?? source.action ?? 'run_now').trim().toLowerCase(),\n    tracking_id: String(payload.tracking_id ?? source.tracking_id ?? ''),\n    correlation_id: correlationId,\n    logical_execution_id: String(source.logical_execution_id ?? payload.logical_execution_id ?? `${correlationId}:f2`),\n    requested_at: requestedAt,\n    request_ts: requestedAt,\n    Contrato_ID: String(payload.Contrato_ID ?? source.Contrato_ID ?? ''),\n    Ad_ID: String(payload.Ad_ID ?? source.Ad_ID ?? '')\n  }\n}];"
      },
      "id": "d421319a-abcf-467f-bf2c-1d99539043a0",
      "name": "Contexto Manual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        352
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "=1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Contratos",
          "mode": "name"
        },
        "options": {}
      },
      "id": "70ed9a52-c2ef-4b38-bbd8-1a3f0001a602",
      "name": "Sheets - Leer Contratos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        688
      ],
      "credentials": {
        "googleApi": {
          "id": "BtY3uGIkB5umd39o",
          "name": "Google Service Account account"
        }
      },
      "notes": "Fuente ?nica de contratos. Se esperan columnas: Contrato_ID, Status_Contrato, Fecha_Fin (YYYY-MM-DD), Ad_ID, Ad_Name, Regex_Anuncio, Notificado_Previo."
    },
    {
      "parameters": {
        "jsCode": "const TZ = 'America/Argentina/Buenos_Aires';\n\nfunction parseYMD(value) {\n  if (!value || typeof value !== 'string') return null;\n  const m = value.trim().match(/^(\\d{4})-(\\d{2})-(\\d{2})$/);\n  if (!m) return null;\n  return new Date(Number(m[1]), Number(m[2]) - 1, Number(m[3]), 0, 0, 0, 0);\n}\n\nfunction nowInTimezone(timeZone) {\n  return new Date(new Date().toLocaleString('en-US', { timeZone }));\n}\n\nfunction startOfDay(d) {\n  const x = new Date(d);\n  x.setHours(0, 0, 0, 0);\n  return x;\n}\n\nfunction daysBetween(a, b) {\n  const ms = 24 * 60 * 60 * 1000;\n  return Math.floor((b.getTime() - a.getTime()) / ms);\n}\n\nfunction toBool(v) {\n  if (typeof v === 'boolean') return v;\n  if (typeof v === 'number') return v !== 0;\n  if (typeof v !== 'string') return false;\n  return ['true', '1', 'si', 's?', 'yes', 'y', 'x'].includes(v.trim().toLowerCase());\n}\n\nfunction escapeRegexText(value) {\n  const metas = new Set(['\\\\', '^', '$', '.', '|', '?', '*', '+', '(', ')', '[', ']', '{', '}']);\n  let out = '';\n  for (const ch of String(value || '')) {\n    out += metas.has(ch) ? ('\\\\' + ch) : ch;\n  }\n  return out;\n}\n\nfunction buildRegex(pattern, fallbackName) {\n  if (pattern && typeof pattern === 'string') {\n    try {\n      return new RegExp(pattern, 'i');\n    } catch (_) {}\n  }\n\n  const safe = escapeRegexText(String(fallbackName || '').trim())\n    .split(/\\s+/)\n    .filter(Boolean)\n    .join('.*');\n\n  return safe ? new RegExp(safe, 'i') : null;\n}\n\nfunction firstNodeJson(name) {\n  try {\n    const value = $(name).first()?.json;\n    return value && typeof value === 'object' ? value : null;\n  } catch (_) {\n    return null;\n  }\n}\n\nconst context =\n  firstNodeJson('Contexto Execute Internal') ??\n  firstNodeJson('Contexto Manual') ??\n  firstNodeJson('Contexto Scheduled') ??\n  ($input.first()?.json ?? {});\n\nconst today = startOfDay(nowInTimezone(TZ));\nconst runMode = String(context.run_mode ?? 'scheduled').toLowerCase();\nconst runCorrelation = String(context.correlation_id ?? `ak-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`);\nconst manualAction = String(context.action ?? '').toLowerCase();\nconst manualContractId = String(context.Contrato_ID ?? '').trim();\nconst manualAdId = String(context.Ad_ID ?? '').trim();\nconst manualTrackingId = String(context.tracking_id ?? '').trim();\nconst manualRequestedAt = String(context.requested_at ?? context.request_ts ?? new Date().toISOString());\nconst manualLogicalExecutionId = String(context.logical_execution_id ?? `${runCorrelation}:f2`);\n\nconst actionable = [];\nlet matchedManualPause = false;\n\nfor (const item of items) {\n  const row = item.json ?? {};\n  const status = String(row.Status_Contrato || '').trim().toLowerCase();\n  const isActiveContract = ['activo', 'active', 'activa'].includes(status);\n  if (!isActiveContract) continue;\n\n  const adName = String(row.Ad_Name || row.Ad_Name_Meta || row.Nombre_Anuncio || '').trim();\n  const regex = buildRegex(row.Regex_Anuncio || row.Regex_Anuncio, adName);\n  const regexMatchesSheetName = regex ? regex.test(adName) : false;\n\n  if (runMode === 'manual' && manualAction === 'pause_ad') {\n    const rowContractId = String(row.Contrato_ID ?? '').trim();\n    const rowAdId = String(row.Ad_ID ?? '').trim();\n    if (!manualContractId || !manualAdId) continue;\n    if (rowContractId !== manualContractId || rowAdId !== manualAdId) continue;\n\n    matchedManualPause = true;\n    actionable.push({\n      json: {\n        ...row,\n        run_mode: 'manual',\n        action: 'pause_ad',\n        tracking_id: manualTrackingId,\n        correlation_id: runCorrelation,\n        logical_execution_id: manualLogicalExecutionId,\n        requested_at: manualRequestedAt,\n        control_type: 'expired',\n        days_to_end: Number(row.days_to_end ?? 0),\n        timezone: TZ,\n        regex_pattern: regex ? regex.source : '.*',\n        regexMatchesSheetName: true,\n        manual_targeting: true,\n        target_contract_id: manualContractId,\n        target_ad_id: manualAdId\n      }\n    });\n    continue;\n  }\n\n  const endDate = parseYMD(row.Fecha_Fin);\n  if (!endDate) continue;\n\n  const diffDays = daysBetween(today, endDate);\n  const isExpired = diffDays < 0;\n  const isPreventiveWindow = diffDays >= 0 && diffDays <= 2;\n  const alreadyNotified = toBool(row.Notificado_Previo);\n\n  let controlType = null;\n  if (isExpired) controlType = 'expired';\n  if (isPreventiveWindow && !alreadyNotified) controlType = 'preventive';\n\n  if (!controlType) continue;\n\n  actionable.push({\n    json: {\n      ...row,\n      run_mode: runMode,\n      action: manualAction || 'run_now',\n      correlation_id: runCorrelation,\n      control_type: controlType,\n      days_to_end: diffDays,\n      timezone: TZ,\n      regex_pattern: regex ? regex.source : null,\n      regexMatchesSheetName,\n      requested_at: manualRequestedAt,\n      logical_execution_id: manualLogicalExecutionId,\n      tracking_id: manualTrackingId\n    }\n  });\n}\n\nif (runMode === 'manual' && manualAction === 'pause_ad' && manualAdId && !matchedManualPause) {\n  actionable.push({\n    json: {\n      Contrato_ID: manualContractId,\n      Ad_ID: manualAdId,\n      run_mode: 'manual',\n      action: 'pause_ad',\n      tracking_id: manualTrackingId,\n      correlation_id: runCorrelation,\n      logical_execution_id: manualLogicalExecutionId,\n      requested_at: manualRequestedAt,\n      control_type: 'expired',\n      days_to_end: Number(context.days_to_end ?? 0),\n      timezone: TZ,\n      regex_pattern: '.*',\n      regexMatchesSheetName: true,\n      manual_targeting: true,\n      target_contract_id: manualContractId,\n      target_ad_id: manualAdId,\n      Status_Contrato: 'Activo',\n      manual_fallback_without_sheet_match: true\n    }\n  });\n}\n\nreturn actionable;"
      },
      "id": "e36b8d4e-31e3-4e3f-8dca-e0359ca625f5",
      "name": "Evaluate_Clasificar_Contratos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        1024
      ]
    },
    {
      "parameters": {
        "jsCode": "function normalize(row, fallback = {}) {\n  const normalized = { ...row };\n  normalized.Contrato_ID = String(normalized.Contrato_ID ?? fallback.Contrato_ID ?? '').trim();\n  normalized.Fecha_Fin = String(normalized.Fecha_Fin ?? fallback.Fecha_Fin ?? '').trim();\n\n  const regexCanon = String(normalized.Regex_Anuncio ?? normalized.regex_pattern ?? fallback.Regex_Anuncio ?? fallback.regex_pattern ?? '').trim();\n  normalized.Regex_Anuncio = regexCanon;\n  normalized.regex_pattern = String(normalized.regex_pattern ?? regexCanon).trim();\n\n  return normalized;\n}\n\nconst expanded = [];\nfor (const item of items) {\n  const source = item.json ?? {};\n  const preventiva = Array.isArray(source.preventiva) ? source.preventiva : [];\n\n  if (preventiva.length > 0) {\n    for (const row of preventiva) {\n      if (!row || typeof row !== 'object') continue;\n      expanded.push({ json: normalize(row, source) });\n    }\n    continue;\n  }\n\n  if (String(source.control_type || '').toLowerCase() === 'preventive') {\n    expanded.push({ json: normalize(source, source) });\n  }\n}\n\nreturn expanded;"
      },
      "id": "cd0b262a-273b-40d4-ad16-07a77e61b0fb",
      "name": "Expand Preventiva",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "function normalize(row, fallback = {}) {\n  const normalized = { ...row };\n  normalized.Contrato_ID = String(normalized.Contrato_ID ?? fallback.Contrato_ID ?? '').trim();\n  normalized.Fecha_Fin = String(normalized.Fecha_Fin ?? fallback.Fecha_Fin ?? '').trim();\n\n  const regexCanon = String(normalized.Regex_Anuncio ?? normalized.regex_pattern ?? fallback.Regex_Anuncio ?? fallback.regex_pattern ?? '').trim();\n  normalized.Regex_Anuncio = regexCanon;\n  normalized.regex_pattern = String(normalized.regex_pattern ?? regexCanon).trim();\n\n  return normalized;\n}\n\nconst expanded = [];\nfor (const item of items) {\n  const source = item.json ?? {};\n  const vencidos = Array.isArray(source.vencidos) ? source.vencidos : [];\n\n  if (vencidos.length > 0) {\n    for (const row of vencidos) {\n      if (!row || typeof row !== 'object') continue;\n      expanded.push({ json: normalize(row, source) });\n    }\n    continue;\n  }\n\n  if (String(source.control_type || '').toLowerCase() === 'expired') {\n    expanded.push({ json: normalize(source, source) });\n  }\n}\n\nreturn expanded;"
      },
      "id": "b1ff90da-f910-4b85-9486-f920fda8dd87",
      "name": "Expand Vencidos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        1360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://168.138.125.21.nip.io:5678/webhook/mock/alerts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "e5da6bfa-d6d7-419c-8d3f-3a33ab278f34",
      "name": "Emitir Alerta Operativa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        2048
      ],
      "notes": "Canal ?nico de alertas en MVP (sin fallback Slack/Telegram)."
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Contratos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "Contrato_ID": "={{$json.Contrato_ID}}",
            "Ad_ID": "={{ $json.Ad_ID }}",
            "Notificado_Previo": "TRUE",
            "Fecha_Notificado_Previo": "={{$now.setZone('America/Argentina/Buenos_Aires').toISO()}}",
            "Updated_At": "={{$now.setZone('America/Argentina/Buenos_Aires').toISO()}}"
          },
          "matchingColumns": [
            "Contrato_ID"
          ],
          "schema": [
            {
              "id": "Contrato_ID",
              "displayName": "Contrato_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Regex_Anuncio",
              "displayName": "Regex_Anuncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ad_ID",
              "displayName": "Ad_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ad_Name",
              "displayName": "Ad_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha_Alta",
              "displayName": "Fecha_Alta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha_Fin",
              "displayName": "Fecha_Fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status_Contrato",
              "displayName": "Status_Contrato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notificado_Previo",
              "displayName": "Notificado_Previo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha_Notificado_Previo",
              "displayName": "Fecha_Notificado_Previo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha_Finalizacion",
              "displayName": "Fecha_Finalizacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Updated_At",
              "displayName": "Updated_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9e200fbf-0050-457f-bd49-c73766c61d46",
      "name": "Sheets - Marcar Notificado_Previo",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        768,
        2384
      ],
      "credentials": {
        "googleApi": {
          "id": "BtY3uGIkB5umd39o",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.regexMatchesSheetName}}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "18b5dc8b-d51e-4367-bab4-f0c7577ee5f5",
      "name": "Evaluate_Regex_Coincide_Nombre_Sheet",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -192,
        1712
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92e6e644-9bf2-4f5f-80f2-4cb932e78687",
              "name": "precheck_attempt",
              "value": 1,
              "type": "number"
            },
            {
              "id": "f7edfd6e-15ab-4294-bf87-2df4eb8746ff",
              "name": "precheck_max_attempts",
              "value": 3,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "0990e02a-4f15-4c57-a2d9-04efe0d0e1c1",
      "name": "Init Retry Precheck",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        2048
      ]
    },
    {
      "parameters": {
        "url": "={{'http://168.138.125.21.nip.io:5678/webhook/adskiller-meta-precheck?ad_id=' + $json.Ad_ID}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{$json.Ad_Name}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        },
        "method": "GET"
      },
      "id": "996ef569-eca9-428c-9bd5-6b0c3b5904d2",
      "name": "Meta_Check_Precheck_Estado_Ad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        2384
      ],
      "notes": "Pre-check: continuar solo si Meta devuelve ACTIVE y nombre matchea regex case-insensitive."
    },
    {
      "parameters": {
        "jsCode": "function toFiniteNumber(value) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : null;\n}\nreturn $input.all().map((item) => {\n  const raw = item.json ?? {};\n  const hasWrapper = Object.prototype.hasOwnProperty.call(raw, 'statusCode');\n  const statusFromWrapper = toFiniteNumber(raw.statusCode);\n  const statusFromCanonical = toFiniteNumber(raw.http_status);\n  const httpStatus = statusFromWrapper ?? statusFromCanonical ?? (hasWrapper ? 0 : 200);\n  const bodyCandidate = hasWrapper ? raw.body : (raw.http_body ?? raw);\n  const httpBody = bodyCandidate && typeof bodyCandidate === 'object' ? bodyCandidate : {};\n  const httpOk = httpStatus >= 200 && httpStatus < 300;\n  const retryable = [429, 500].includes(httpStatus);\n  return {\n    json: {\n      ...raw,\n      http_status: httpStatus,\n      http_body: httpBody,\n      http_ok: httpOk,\n      retryable,\n      statusCode: httpStatus,\n      body: httpBody\n    }\n  };\n});"
      },
      "id": "1dd56036-37db-4f5f-af9a-3c1221608f28",
      "name": "Normalizar HTTP Precheck",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        2720
      ]
    },
    {
      "parameters": {
        "jsCode": "\nfunction getNodeJson(name, idx) {\n  try {\n    return $item(idx).$node[name].json || {};\n  } catch (_) {\n    return {};\n  }\n}\n\nconst inputItems = $input.all();\n\nreturn inputItems.map((inputItem, idx) => {\n  const response = inputItem.json || {};\n  const row = {\n    ...getNodeJson('Contexto Execute Internal', idx),\n    ...getNodeJson('Expand Vencidos', idx),\n    ...getNodeJson('Init Retry Precheck', idx),\n    ...getNodeJson('Wait 5m Precheck Retry', idx)\n  };\n\n  row.Contrato_ID = String(row.Contrato_ID || '').trim();\n  row.regex_pattern = String(row.regex_pattern || row.Regex_Anuncio || '').trim();\n\n  const attempt = Number(row.precheck_attempt || 1);\n  const maxAttempts = Number(row.precheck_max_attempts || 3);\n  const httpStatus = Number(response.http_status || 0);\n  const httpBody = response.http_body && typeof response.http_body === 'object' ? response.http_body : {};\n  const httpOk = Boolean(response.http_ok);\n  const retryable = Boolean(response.retryable);\n\n  if (retryable && attempt < maxAttempts) {\n    return {\n      json: {\n        ...row,\n        precheck_attempt: attempt + 1,\n        precheck_state: 'retry',\n        precheck_status_code: httpStatus,\n        precheck_http_ok: httpOk\n      }\n    };\n  }\n\n  if (!httpOk) {\n    return {\n      json: {\n        ...row,\n        precheck_state: 'failed',\n        precheck_status_code: httpStatus,\n        precheck_http_ok: httpOk,\n        precheck_reason: 'meta_precheck_non_2xx'\n      }\n    };\n  }\n\n  const adNameMeta = String(httpBody.name || '').trim();\n  const regexPattern = row.regex_pattern;\n  const manualTargeting = Boolean(row.manual_targeting);\n  let regexMatchesMetaName = false;\n  try {\n    regexMatchesMetaName = manualTargeting ? true : (!!regexPattern && new RegExp(regexPattern, 'i').test(adNameMeta));\n  } catch (_) {\n    regexMatchesMetaName = manualTargeting;\n  }\n\n  const status = String(httpBody.status || httpBody.effective_status || '').toUpperCase();\n  const isActive = status === 'ACTIVE';\n\n  if (!isActive || !regexMatchesMetaName) {\n    return {\n      json: {\n        ...row,\n        precheck_state: 'not_actionable',\n        precheck_status_code: httpStatus,\n        precheck_http_ok: httpOk,\n        ad_status_meta: status || 'UNKNOWN',\n        regexMatchesMetaName,\n        ad_name_meta: adNameMeta\n      }\n    };\n  }\n\n  return {\n    json: {\n      ...row,\n      precheck_state: 'ready_to_pause',\n      precheck_status_code: httpStatus,\n      precheck_http_ok: httpOk,\n      ad_status_meta: status,\n      regexMatchesMetaName,\n      ad_name_meta: adNameMeta\n    }\n  };\n});\n"
      },
      "id": "baacf0cc-c10f-4100-9710-eb0e4b0a6ce4",
      "name": "Evaluate_Precheck_Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        3072
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "1e4a8adc-4f0a-400a-8014-d16e2f820867",
                    "leftValue": "={{ String($json.precheck_state || '').trim().toLowerCase() }}",
                    "rightValue": "ready_to_pause",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "a4013fec-d220-46ec-9e10-a7ffea195f9e",
                    "leftValue": "={{ String($json.precheck_state || '').trim().toLowerCase() }}",
                    "rightValue": "retry",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f4232937-2a90-49ec-801b-9100e5b7cfec",
                    "leftValue": "={{ String($json.precheck_state || '').trim().toLowerCase() }}",
                    "rightValue": "not_actionable",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "12747da9-d550-46c4-890a-85c6320a47e6",
                    "leftValue": "={{ String($json.precheck_state || '').trim().toLowerCase() }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "da47451a-91f7-497e-937e-5340861c5eb7",
      "name": "Evaluate_Rutear_Estado_Precheck",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        0,
        3408
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds",
        "resume": "timeInterval"
      },
      "id": "d40c1c23-2674-4c30-acc8-6dcf4783eea3",
      "name": "Wait 5m Precheck Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        3744
      ],
      "webhookId": "102699c9-1c7f-4e7f-9b5e-6f0eb820e564"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36714951-a53f-4ef8-a2c1-98f84d620806",
              "name": "pause_attempt",
              "value": 1,
              "type": "number"
            },
            {
              "id": "6a88e977-ed8a-4fcb-89ab-8f48416c712b",
              "name": "pause_max_attempts",
              "value": 3,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ee344ad2-a69a-4591-bf3d-21feabe572f0",
      "name": "Pause_Init_Retry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        3744
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://168.138.125.21.nip.io:5678/webhook/adskiller-meta-pause",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ad_id",
              "value": "={{$json.Ad_ID}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        },
        "contentType": "json"
      },
      "id": "8cd2113e-cfd5-43f0-974d-f313e2118a7c",
      "name": "Pause_Meta_Pausar_Ad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        4080
      ],
      "onError": "continueRegularOutput",
      "notes": "Kill-switch: pausa SOLO a nivel Ad."
    },
    {
      "parameters": {
        "jsCode": "function toFiniteNumber(value) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : null;\n}\n\nreturn $input.all().map((item) => {\n  const raw = item.json || {};\n\n  const hasWrapper = Object.prototype.hasOwnProperty.call(raw, 'statusCode');\n  const statusFromWrapper = toFiniteNumber(raw.statusCode);\n  const statusFromCanonical = toFiniteNumber(raw.http_status);\n  const httpStatus = statusFromWrapper ?? statusFromCanonical ?? (hasWrapper ? 0 : 200);\n\n  const bodyCandidate = hasWrapper ? raw.body : (raw.http_body ?? raw);\n  const httpBody = bodyCandidate && typeof bodyCandidate === 'object' ? bodyCandidate : {};\n\n  const httpOk = httpStatus >= 200 && httpStatus < 300;\n  const retryable = [429, 500].includes(httpStatus);\n\n  return {\n    json: {\n      ...raw,\n      http_status: httpStatus,\n      http_body: httpBody,\n      http_ok: httpOk,\n      retryable,\n      statusCode: httpStatus,\n      body: httpBody\n    }\n  };\n});"
      },
      "id": "8487140c-62d7-4333-943e-2ba98155f60a",
      "name": "Pause_Normalizar_HTTP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        4432
      ]
    },
    {
      "parameters": {
        "jsCode": "function getNodeJson(name, idx) {\n  try {\n    return $item(idx).$node[name].json || {};\n  } catch (_) {\n    return {};\n  }\n}\n\nconst inputItems = $input.all();\n\nreturn inputItems.map((inputItem, idx) => {\n  const response = inputItem.json || {};\n  const row = {\n    ...getNodeJson('Contexto Execute Internal', idx),\n    ...getNodeJson('Expand Vencidos', idx),\n    ...getNodeJson('Pause_Init_Retry', idx),\n    ...getNodeJson('Pause_Wait_5m_Retry', idx)\n  };\n\n  row.Contrato_ID = String(row.Contrato_ID || '').trim();\n\n  const attempt = Number(row.pause_attempt || 1);\n  const maxAttempts = Number(row.pause_max_attempts || 3);\n  const httpStatus = Number(response.http_status || 0);\n  const httpOk = Boolean(response.http_ok);\n  const retryable = Boolean(response.retryable);\n\n  if (httpOk) {\n    return {\n      json: {\n        ...row,\n        pause_state: 'success',\n        pause_status_code: httpStatus,\n        pause_http_ok: httpOk\n      }\n    };\n  }\n\n  if (retryable && attempt < maxAttempts) {\n    return {\n      json: {\n        ...row,\n        pause_attempt: attempt + 1,\n        pause_state: 'retry',\n        pause_status_code: httpStatus,\n        pause_http_ok: httpOk\n      }\n    };\n  }\n\n  return {\n    json: {\n      ...row,\n      pause_state: 'failed',\n      pause_status_code: httpStatus,\n      pause_http_ok: httpOk,\n      pause_reason: retryable ? 'retry_exhausted' : 'non_retryable_meta_response'\n    }\n  };\n});"
      },
      "id": "ad0c25a1-863f-49b2-bed2-c1fbf8434705",
      "name": "Evaluate_Pausa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        4768
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "a286ee98-0bd6-4f2c-92bd-cae17b2d3032",
                    "leftValue": "={{ String($json.pause_state || '').trim().toLowerCase() }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bed2435a-628f-43fb-9812-995766aaac2e",
                    "leftValue": "={{ String($json.pause_state || '').trim().toLowerCase() }}",
                    "rightValue": "retry",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7cf15c2e-1450-4bf6-84a2-768e22780eb5",
                    "leftValue": "={{ String($json.pause_state || '').trim().toLowerCase() }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "83a94fed-6aa4-475a-8451-963d3e1e2c9a",
      "name": "Evaluate_Rutear_Resultado_Pausa",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        0,
        5104
      ]
    },
    {
      "parameters": {
        "jsCode": "function getNodeJson(name, idx) {\n  try {\n    return $item(idx).$node[name].json || {};\n  } catch (_) {\n    return {};\n  }\n}\n\nconst nowIso = $now.setZone('America/Argentina/Buenos_Aires').toISO();\nconst inputItems = $input.all();\n\nreturn inputItems.map((inputItem, idx) => {\n  const merged = {\n    ...getNodeJson('Expand Vencidos', idx),\n    ...getNodeJson('Init Retry Pausa', idx),\n    ...(inputItem.json || {})\n  };\n\n  const contratoId = String(merged.Contrato_ID || '').trim();\n\n  return {\n    json: {\n      ...merged,\n      Contrato_ID: contratoId,\n      Status_Contrato: 'Finalizado',\n      Fecha_Finalizacion: nowIso,\n      Updated_At: nowIso\n    }\n  };\n});"
      },
      "id": "3b3bb406-4da2-4e8d-93f0-0a5f541c0f64",
      "name": "Build Finalizado Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        5440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.pause_state}}",
              "operation": "notEqual",
              "value2": "failed"
            },
            {
              "value1": "={{$json.pause_state}}",
              "operation": "notEqual",
              "value2": "list_failed"
            },
            {
              "value1": "={{String($json.Contrato_ID ?? '').trim()}}",
              "operation": "notEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "10e358eb-4194-46ca-8142-37dd9be46038",
      "name": "Finalizado Payload Valido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        5792
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds",
        "resume": "timeInterval"
      },
      "id": "86490c96-29d9-4e27-b150-d424d9646a97",
      "name": "Pause_Wait_5m_Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        384,
        5440
      ],
      "webhookId": "52f3fd56-305c-49f8-bfb7-003b22189540"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Contratos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status_Contrato": "={{$json.Status_Contrato}}",
            "Fecha_Finalizacion": "={{$json.Fecha_Finalizacion}}",
            "Updated_At": "={{$json.Updated_At}}",
            "row_number": 0,
            "Contrato_ID": "={{$json.Contrato_ID}}"
          },
          "matchingColumns": [
            "Contrato_ID"
          ],
          "schema": [
            {
              "id": "Contrato_ID",
              "displayName": "Contrato_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Regex_Anuncio",
              "displayName": "Regex_Anuncio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ad_ID",
              "displayName": "Ad_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ad_Name",
              "displayName": "Ad_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha_Alta",
              "displayName": "Fecha_Alta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha_Fin",
              "displayName": "Fecha_Fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status_Contrato",
              "displayName": "Status_Contrato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notificado_Previo",
              "displayName": "Notificado_Previo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha_Notificado_Previo",
              "displayName": "Fecha_Notificado_Previo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha_Finalizacion",
              "displayName": "Fecha_Finalizacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Updated_At",
              "displayName": "Updated_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "valueToMatch": "={{$json.Contrato_ID}}"
        },
        "options": {}
      },
      "id": "5ddff62b-ff28-465c-8af9-43b9df0779cf",
      "name": "Sheets - Marcar Finalizado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        6128
      ],
      "credentials": {
        "googleApi": {
          "id": "BtY3uGIkB5umd39o",
          "name": "Google Service Account account"
        }
      },
      "notes": "Regla de dominio: solo pasar a Finalizado si la pausa en Meta fue exitosa."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d196474d-a324-4c80-b061-6888b2f74703",
              "name": "alert_severity",
              "value": "CRITICAL",
              "type": "string"
            },
            {
              "id": "1fbc27de-85f5-4496-a55f-f98bd9933632",
              "name": "alert_type",
              "value": "EXPIRED_NOT_PAUSED_REGEX_MISMATCH",
              "type": "string"
            },
            {
              "id": "6985ff70-ed54-49c2-a27f-e1db822849c0",
              "name": "message",
              "value": "=Contrato {{$json.Contrato_ID}} vencido no elegible para pausa: regex no matchea nombre de anuncio en Sheet.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3bcb8c20-38b4-4ba7-ad8d-8b8f6699291f",
      "name": "Alerta Cr?tica - Regex inv?lido",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        2048
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fbd8ed4b-2e5b-4917-8de6-e4ff34aa8fcb",
              "name": "alert_severity",
              "value": "CRITICAL",
              "type": "string"
            },
            {
              "id": "a318500e-8dcf-4f06-ae7b-e55358f91b89",
              "name": "alert_type",
              "value": "EXPIRED_NOT_PAUSED_PRECHECK_FAILED",
              "type": "string"
            },
            {
              "id": "7db057a5-852d-497b-ab95-ee238ad79ca6",
              "name": "message",
              "value": "=Contrato {{$json.Contrato_ID}} vencido sin pausa: precheck Meta fall? tras {{$json.precheck_max_attempts}} intentos (?ltimo status {{$json.precheck_status_code}}).",
              "type": "string"
            },
            {
              "id": "78f308ec-586d-4e7f-9766-8ef7ded9a561",
              "name": "Contrato_ID",
              "value": "={{$json.Contrato_ID}}",
              "type": "string"
            },
            {
              "id": "2dd10b8c-1728-48ca-9346-3d241a86f48f",
              "name": "Ad_ID",
              "value": "={{$json.Ad_ID}}",
              "type": "string"
            },
            {
              "id": "873f23d2-7659-4cc3-accf-7768a314f472",
              "name": "correlation_id",
              "value": "={{$json.correlation_id}}",
              "type": "string"
            },
            {
              "id": "a8259ef8-6b22-4f31-bb58-10fb9030cddf",
              "name": "run_mode",
              "value": "={{$json.run_mode}}",
              "type": "string"
            },
            {
              "id": "66b1a27c-ff88-4df7-b267-d6575da2f4db",
              "name": "attempts",
              "value": "={{$json.precheck_attempt \n\n $json.pause_attempt \n\n 0}}",
              "type": "string"
            },
            {
              "id": "3360f5fa-5325-4721-abde-9029a0a67cd4",
              "name": "max_attempts",
              "value": "={{$json.precheck_max_attempts \n\n $json.pause_max_attempts \n\n 0}}",
              "type": "string"
            },
            {
              "id": "710ac233-0382-4050-b8c5-5da60c00a98b",
              "name": "status_code",
              "value": "={{$json.precheck_status_code \n\n $json.pause_status_code \n\n 0}}",
              "type": "string"
            },
            {
              "id": "5c1172c8-8003-426f-8b76-dd75e187e17d",
              "name": "timestamp",
              "value": "={{$now.setZone('America/Argentina/Buenos_Aires').toISO()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7e3d0b9f-7531-4a3e-83bf-816bef1a283c",
      "name": "Alerta Cr?tica - Precheck fallido",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        3744
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c7dbe49-c7df-4a82-8f55-bff7891e2d65",
              "name": "alert_severity",
              "value": "CRITICAL",
              "type": "string"
            },
            {
              "id": "c5ff70d7-ebea-4a84-a90d-8118f07ab9a0",
              "name": "alert_type",
              "value": "={{ (() => { const attempt = Number($json.pause_attempt ?? 0); const maxAttempts = Number($json.pause_max_attempts ?? 0); const status = Number($json.pause_status_code ?? $json.http_status ?? 0); const retryable = [429, 500].includes(status) || String($json.pause_reason || \"\").toLowerCase() === \"retry_exhausted\"; if (retryable && maxAttempts > 0 && attempt >= maxAttempts) return \"EXPIRED_NOT_PAUSED_RETRY_EXHAUSTED\"; if (!retryable && (maxAttempts === 0 || attempt < maxAttempts)) return \"EXPIRED_NOT_PAUSED_NON_RETRYABLE\"; return $json.alert_type || (retryable ? \"EXPIRED_NOT_PAUSED_RETRY_EXHAUSTED\" : \"EXPIRED_NOT_PAUSED_NON_RETRYABLE\"); })() }}",
              "type": "string"
            },
            {
              "id": "11282ef7-7c77-4ee7-866e-5045f0fc4f96",
              "name": "message",
              "value": "={{ (() => { const status = Number($json.pause_status_code ?? $json.http_status ?? 0); const contrato = $json.Contrato_ID || \"N/A\"; const attempt = Number($json.pause_attempt ?? 0); const maxAttempts = Number($json.pause_max_attempts ?? 0); const retryable = [429, 500].includes(status) || String($json.pause_reason || \"\").toLowerCase() === \"retry_exhausted\"; const resolvedType = (retryable && maxAttempts > 0 && attempt >= maxAttempts) ? \"EXPIRED_NOT_PAUSED_RETRY_EXHAUSTED\" : \"EXPIRED_NOT_PAUSED_NON_RETRYABLE\"; if (resolvedType === \"EXPIRED_NOT_PAUSED_RETRY_EXHAUSTED\") return `Contrato ${contrato} vencido sin pausa: se agotaron retries (${maxAttempts}x cada 5m) (status ${status}).`; return `Contrato ${contrato} vencido sin pausa: Meta devolvio una respuesta no reintentable (status ${status}, intento ${attempt}/${maxAttempts || \"?\"}).`; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f20ee737-d32c-4289-848a-929fc03a8f42",
      "name": "Alerta Cr?tica - Pausa fallida",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        5440
      ]
    },
    {
      "parameters": {
        "errorMessage": "={{ (() => { const current = $json || {}; let fromPause = {}; try { fromPause = $item(0).$node[\"Alerta Cr?tica - Pausa fallida\"].json || {}; } catch (e) {} const data = Object.keys(current).length ? current : fromPause; const contrato = data.Contrato_ID || \"N/A\"; const ad = data.Ad_ID || \"N/A\"; const type = data.alert_type || \"N/A\"; return `AdsKiller CRITICAL: anuncio vencido no pausado. Contrato ${contrato}, Ad ${ad}, tipo ${type}`; })() }}"
      },
      "id": "ace071c0-8260-487f-9112-5b0edca357ab",
      "name": "Stop and Error - Escalar Incidente",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        576,
        2720
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -192,
        3744
      ],
      "id": "94d508cc-f783-4929-882f-772609815dd5",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0f22d187-d9c5-4c5d-80a6-25bac56170e6",
              "leftValue": "={{$json.statusCode >= 200 && $json.statusCode < 300}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        2384
      ],
      "id": "70f666d6-68fe-4565-b86d-f13397571810",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        576,
        2048
      ],
      "id": "35e3addd-9421-41ac-bba5-3bd024cea5dc",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -192,
        2720
      ],
      "id": "3e8fb544-7534-4426-8eb5-963c8ddb4921",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ff45eb3-589f-4d2e-9025-6dd2fca9d3b5",
              "name": "alert_severity",
              "value": "WARNING",
              "type": "string"
            },
            {
              "id": "31f6397b-4ca6-4385-8e55-b96685541595",
              "name": "alert_type",
              "value": "PREVENTIVE_48H",
              "type": "string"
            },
            {
              "id": "53ab40f3-74f1-4ff4-ac94-566acb4c3528",
              "name": "message",
              "value": "=Contrato {{$json.Contrato_ID}} entra en ventana preventiva de 48h para anuncio {{$json.Ad_ID}}.",
              "type": "string"
            },
            {
              "id": "cc783101-17e3-4a04-b92d-ee6748d6d840",
              "name": "Contrato_ID",
              "value": "={{$json.Contrato_ID}}",
              "type": "string"
            },
            {
              "id": "8993e5d9-f5e9-4eb7-b585-c4ac7d2fcdce",
              "name": "Ad_ID",
              "value": "={{$json.Ad_ID}}",
              "type": "string"
            },
            {
              "id": "a95e6e71-0cd2-442a-a31d-dc55182f5936",
              "name": "run_mode",
              "value": "={{$json.run_mode}}",
              "type": "string"
            },
            {
              "id": "4d3cfea4-fe27-49db-ba3e-a8e9d33cc344",
              "name": "correlation_id",
              "value": "={{$json.correlation_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "22aaf72f-a7f7-458b-8231-a2ae87be1270",
      "name": "Payload Alerta Preventiva",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        1712
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://168.138.125.21.nip.io:5678/webhook/mock/alerts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "7e866d66-ad16-452d-a1b7-d436bfae0a4f",
      "name": "Emitir Alerta Critica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        2384
      ],
      "notes": "Canal ?nico MVP para severidad CRITICAL."
    },
    {
      "parameters": {
        "jsCode": "﻿const rows = $input.all().map((item) => item.json ?? {});\nconst nowIso = new Date().toISOString();\n\nfunction lower(value) {\n  return String(value ?? '').trim().toLowerCase();\n}\n\nfunction toNum(value, fallback = 0) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction uniq(values) {\n  return [...new Set(values.filter(Boolean))];\n}\n\nfunction firstNonEmpty(values, fallback = '') {\n  for (const v of values) {\n    const t = String(v ?? '').trim();\n    if (t) return t;\n  }\n  return fallback;\n}\n\nconst correlationId = firstNonEmpty(\n  rows.map((r) => r.correlation_id),\n  `ak-f2-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`\n);\nconst logicalExecutionId = firstNonEmpty(rows.map((r) => r.logical_execution_id), `${correlationId}:f2`);\nconst executionId = firstNonEmpty(rows.map((r) => r.execution_id), logicalExecutionId);\nconst executionMode = firstNonEmpty(rows.map((r) => r.run_mode ?? r.execution_mode), 'internal_execute_workflow');\nconst notification = rows.find((r) => r.notification && typeof r.notification === 'object')?.notification ?? {};\n\nconst contractIds = uniq(rows.map((r) => String(r.Contrato_ID ?? '').trim()));\nconst influencers = uniq(rows.map((r) => String(r.Cliente ?? r.influencer ?? '').trim()));\n\nconst preventiveRows = rows.filter((r) => {\n  const alertType = lower(r.alert_type);\n  const controlType = lower(r.control_type);\n  return alertType === 'preventive_48h' || controlType === 'preventive';\n});\n\nconst expiredUnpausedRows = rows.filter((r) => {\n  const alertType = lower(r.alert_type);\n  return alertType.startsWith('expired_not_paused') || alertType.includes('expired_not_paused');\n});\n\nconst preventiveContractIds = uniq(preventiveRows.map((r) => String(r.Contrato_ID ?? '').trim()));\nconst expiredUnpausedContractIds = uniq(expiredUnpausedRows.map((r) => String(r.Contrato_ID ?? '').trim()));\n\nlet adsEvaluated = rows.reduce((acc, r) => acc + toNum(r.ads_total, 0), 0);\nif (adsEvaluated === 0) {\n  adsEvaluated = preventiveRows.length + expiredUnpausedRows.length;\n}\n\nlet pausedSuccessCount = rows.reduce((acc, r) => acc + toNum(r.ads_paused, 0), 0);\nlet pausedErrorCount = rows.reduce((acc, r) => acc + toNum(r.ads_failed, 0), 0);\n\nconst incidents = [];\nfor (const row of rows) {\n  if (Array.isArray(row.incidents)) {\n    for (const it of row.incidents) {\n      incidents.push(it);\n    }\n  }\n\n  const pauseState = lower(row.pause_state);\n  const hasPauseError = pauseState === 'failed' || pauseState === 'list_failed' || pauseState === 'partial';\n  if (hasPauseError) {\n    incidents.push({\n      type: 'pause_failed',\n      code: firstNonEmpty([row.pause_reason, row.error_code], 'PAUSE_FAILED'),\n      message: firstNonEmpty([row.list_error, row.error_message], `Pause state ${pauseState}`),\n      contract_id: String(row.Contrato_ID ?? ''),\n      influencer: String(row.Cliente ?? row.influencer ?? '').trim(),\n      ad_id: String(row.Ad_ID ?? ''),\n      stage: firstNonEmpty([row.error_stage], pauseState)\n    });\n  }\n}\n\nif (expiredUnpausedRows.length > 0 && incidents.length === 0) {\n  for (const row of expiredUnpausedRows) {\n    incidents.push({\n      type: 'expired_not_paused',\n      code: firstNonEmpty([row.alert_type], 'EXPIRED_NOT_PAUSED'),\n      message: firstNonEmpty([row.message], 'Expired contract has ads not paused'),\n      contract_id: String(row.Contrato_ID ?? ''),\n      influencer: String(row.Cliente ?? row.influencer ?? '').trim(),\n      ad_id: String(row.Ad_ID ?? '')\n    });\n  }\n}\n\nconst hasCritical = expiredUnpausedContractIds.length > 0;\nconst hasWarnSignals = preventiveContractIds.length > 0 || pausedErrorCount > 0 || incidents.length > 0;\n\nconst executionStatus = hasCritical || pausedErrorCount > 0 ? 'partial_failure' : 'success';\nconst severity = hasCritical ? 'CRITICAL' : (hasWarnSignals ? 'WARN' : 'INFO');\n\nconst context = {\n  contract_ids: contractIds,\n  influencers,\n  Contrato_ID: contractIds[0] ?? '',\n  Ad_ID: '',\n  alert_type: hasCritical ? 'EXPIRED_NOT_PAUSED' : (preventiveContractIds.length > 0 ? 'PREVENTIVE_48H' : ''),\n  error_stage: '',\n  status_contrato: '',\n  message: preventiveContractIds.length > 0\n    ? `Preventive alerts: ${preventiveContractIds.length} contract(s) in 48h window.`\n    : (hasCritical ? 'Critical alerts detected: expired contracts with unpaused ads.' : 'No critical or preventive alerts.'),\n  crm_url: firstNonEmpty(rows.map((r) => r.crm_url ?? r.sheet_url ?? r.context?.crm_url ?? r.context?.sheet_url), '')\n};\n\nconst durationMs = toNum(rows[0]?.duration_ms, 0);\n\nreturn [{\n  json: {\n    schema_version: '1.0.0',\n    event_type: 'killswitch.execution.summary',\n    source_workflow: 'contract-guard-daily-killswitch',\n    target_workflow_id: 'BFHHQwYFfmcpqshb',\n    timezone: 'America/Argentina/Buenos_Aires',\n    correlation_id: correlationId,\n    logical_execution_id: logicalExecutionId,\n    execution_id: executionId,\n    execution_status: executionStatus,\n    severity,\n    execution_mode: executionMode,\n    executed_at: nowIso,\n    metrics: {\n      contracts_evaluated: contractIds.length,\n      ads_evaluated: adsEvaluated,\n      paused_success_count: pausedSuccessCount,\n      paused_error_count: pausedErrorCount,\n      expired_unpaused_count: expiredUnpausedContractIds.length,\n      preventive_48h_count: preventiveContractIds.length,\n      duration_ms: durationMs\n    },\n    incidents,\n    notification,\n    context\n  }\n}];\r\n"
      },
      "id": "8f2f5951-eeb5-47fa-bf8d-aed5b8458d61",
      "name": "Build F2->F3 Canonical Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        2384
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BFHHQwYFfmcpqshb",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "c3c64676-38f3-46f6-a4d3-93c2f43676f8",
      "name": "Execute F3 Internal",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -576,
        2720
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $json ?? {};\nreturn [{ json: { event: 'internal_chain_dispatch_ok', source_workflow: 'contract-guard-daily-killswitch', target_workflow_id: 'BFHHQwYFfmcpqshb', correlation_id: String(input.correlation_id ?? ''), logical_execution_id: String(input.logical_execution_id ?? ''), status: 'dispatched', timestamp: new Date().toISOString() } }];"
      },
      "id": "9f42f03c-cd5f-4f2c-a48a-d76f47d1a9f5",
      "name": "Log_F2_F3_Dispatch_OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        3072
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json ?? {};\nreturn [{ json: { event: 'internal_chain_dispatch_error', source_workflow: 'contract-guard-daily-killswitch', target_workflow_id: 'BFHHQwYFfmcpqshb', correlation_id: String(input.correlation_id ?? ''), logical_execution_id: String(input.logical_execution_id ?? ''), status: 'error', error: String(input.error?.message ?? input.message ?? 'unknown_execute_workflow_error'), timestamp: new Date().toISOString() } }];"
      },
      "id": "219180fc-bb6f-4a16-a8f5-b0f1ced3c66a",
      "name": "Log_F2_F3_Dispatch_Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        3072
      ]
    },
    {
      "parameters": {
        "jsCode": "const nowIso = $now.setZone('America/Argentina/Buenos_Aires').toISO();\n\nfunction toFinalStatus(row) {\n  const pauseState = String(row.pause_state ?? '').toLowerCase();\n  const precheckState = String(row.precheck_state ?? '').toLowerCase();\n  const statusContrato = String(row.Status_Contrato ?? '').toLowerCase();\n\n  if (pauseState === 'success' || statusContrato === 'finalizado') return 'paused';\n  if (precheckState === 'not_actionable') return 'already_paused';\n  if (precheckState === 'failed' || pauseState === 'failed') return 'failed';\n  if (['retry', 'ready_to_pause'].includes(precheckState) || pauseState === 'retry') return 'processing';\n  return 'processing';\n}\n\nreturn $input.all().flatMap((item) => {\n  const row = item.json ?? {};\n  const trackingId = String(row.tracking_id ?? '').trim();\n  if (!trackingId) return [];\n\n  const correlationId = String(row.correlation_id ?? '').trim();\n  const finalStatus = toFinalStatus(row);\n\n  return [{\n    json: {\n      tracking_id: trackingId,\n      correlation_id: correlationId,\n      action: String(row.action ?? 'pause_ad'),\n      run_mode: String(row.run_mode ?? 'manual'),\n      status: finalStatus,\n      final_status: finalStatus,\n      result: finalStatus,\n      Contrato_ID: String(row.Contrato_ID ?? row.target_contract_id ?? ''),\n      Ad_ID: String(row.Ad_ID ?? row.target_ad_id ?? ''),\n      precheck_status: String(row.ad_status_meta ?? row.precheck_status ?? 'UNKNOWN'),\n      meta_http_status: Number(row.pause_status_code ?? row.precheck_status_code ?? row.http_status ?? 0) || null,\n      pause_attempt: Number(row.pause_attempt ?? row.precheck_attempt ?? 0) || 0,\n      pause_max_attempts: Number(row.pause_max_attempts ?? row.precheck_max_attempts ?? 0) || 0,\n      pause_reason: String(row.pause_reason ?? row.precheck_reason ?? ''),\n      source_workflow: 'contract-guard-daily-killswitch',\n      execution_id: String($execution?.id ?? ''),\n      requested_at: String(row.requested_at ?? row.request_ts ?? nowIso),\n      updated_at: nowIso,\n      timestamp: nowIso\n    }\n  }];\n});"
      },
      "id": "f2-build-op-final-status",
      "name": "Build Operation Final Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        1376
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Operations_Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f2-append-op-final-status",
      "name": "GS Append Operation Final Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        704,
        1376
      ],
      "credentials": {
        "googleApi": {
          "id": "BtY3uGIkB5umd39o",
          "name": "Google Service Account account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "manual-pause-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        1376
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json ?? {};\nconst payload = input.payload ?? input;\n\nconst contrataId = String(payload.Contrato_ID ?? payload.contract_id ?? '').trim();\nconst adId       = String(payload.Ad_ID       ?? payload.ad_id       ?? '').trim();\nconst trackingId = String(payload.tracking_id ?? '').trim();\nconst actor      = String(payload.actor       ?? 'ops@adskiller').trim();\nconst nowIso     = new Date().toISOString();\n\nif (!adId) throw new Error('Contexto Execute Internal: Ad_ID requerido');\n\nreturn [{\n  json: {\n    // Contract row fields expected by downstream nodes\n    Contrato_ID:         contrataId,\n    Ad_ID:               adId,\n    tracking_id:         trackingId,\n    actor:               actor,\n    run_mode:            'manual',\n    manual_targeting:    true,       // bypasses regex check in Evaluate_Precheck_Meta\n    Regex_Anuncio:       '.*',       // fallback no-op regex\n\n    // Precheck retry state\n    precheck_attempt:      1,\n    precheck_max_attempts: 3,\n\n    // Pause retry state\n    pause_attempt:      1,\n    pause_max_attempts: 3,\n\n    requested_at: String(payload.requested_at ?? nowIso),\n    source:       'manual_pause_dispatch'\n  }\n}];"
      },
      "id": "contexto-execute-internal",
      "name": "Contexto Execute Internal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        1376
      ]
    },
    {
      "id": "route-execute-action",
      "name": "Route Execute Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -580,
        1376
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.payload.action }}",
              "rightValue": "pause_ad",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "killswitch-engine-v1",
      "name": "Killswitch_Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        1360
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const LIST_URL = 'http://168.138.125.21:5678/webhook/contract-ui-management-v2';\nconst PAUSE_URL = 'http://168.138.125.21.nip.io:5678/webhook/adskiller-meta-pause';\nconst DELAY_MS = 300;\n\nconst results = [];\n\nfunction getHttpStatus(err) {\n  return Number(\n    err?.statusCode ??\n    err?.response?.statusCode ??\n    err?.response?.status ??\n    err?.context?.response?.statusCode ??\n    0\n  ) || 0;\n}\n\nfunction resolveHttpClient() {\n  const candidates = [];\n\n  try {\n    if (typeof $helpers !== 'undefined' && $helpers) {\n      candidates.push($helpers);\n    }\n  } catch (_) {}\n\n  try {\n    if (typeof this !== 'undefined' && this && this.helpers) {\n      candidates.push(this.helpers);\n    }\n  } catch (_) {}\n\n  try {\n    if (typeof helpers !== 'undefined' && helpers) {\n      candidates.push(helpers);\n    }\n  } catch (_) {}\n\n  for (const h of candidates) {\n    if (!h) continue;\n    if (typeof h.httpRequest === 'function') {\n      return { fn: h.httpRequest, ctx: h, mode: 'httpRequest' };\n    }\n    if (typeof h.request === 'function') {\n      return { fn: h.request, ctx: h, mode: 'request' };\n    }\n  }\n\n  return null;\n}\n\nconst httpClient = resolveHttpClient();\nif (!httpClient) {\n  throw new Error('http_helper_not_available');\n}\n\nasync function httpJson(options) {\n  const opts = {\n    ...options,\n    uri: options.uri ?? options.url,\n    json: true,\n  };\n  return await httpClient.fn.call(httpClient.ctx, opts);\n}\n\nfor (const item of $input.all()) {\n  const contract = item.json ?? {};\n  const contractId = String(contract.Contrato_ID ?? contract.contract_id ?? '').trim();\n\n  let ads = [];\n  let listFailed = false;\n  let listError = '';\n  let listStatusCode = 0;\n\n  try {\n    const body = await httpJson({\n      method: 'POST',\n      url: LIST_URL,\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        action: 'listar_ads',\n        contract_id: contractId,\n        Contrato_ID: contractId,\n        correlation_id: String(contract.correlation_id ?? ''),\n      },\n      timeout: 20000,\n    });\n\n    listStatusCode = 200;\n\n    if (!body || body.ok !== true) {\n      throw new Error('listar_ads returned ok=false');\n    }\n\n    const rawAds = Array.isArray(body?.data?.ads) ? body.data.ads : [];\n    const normalized = rawAds.map((ad) => ({\n      ad_id: String(ad?.ad_id ?? ad?.id ?? '').trim(),\n      ad_name: String(ad?.ad_name ?? ad?.name ?? '').trim(),\n      ad_status: String(ad?.ad_status ?? ad?.effective_status ?? ad?.status ?? '').trim().toUpperCase(),\n    }));\n\n    ads = normalized.filter((ad) => ad.ad_id && ad.ad_status === 'ACTIVE');\n  } catch (e) {\n    listFailed = true;\n    ads = [];\n    listError = String(e?.message ?? e ?? 'list_error');\n    listStatusCode = getHttpStatus(e);\n  }\n\n  let adsPaused = 0;\n  let adsFailed = 0;\n  const adResults = [];\n\n  for (const ad of ads) {\n    try {\n      await httpJson({\n        method: 'POST',\n        url: PAUSE_URL,\n        headers: { 'Content-Type': 'application/json' },\n        body: { ad_id: ad.ad_id },\n        timeout: 20000,\n      });\n\n      adsPaused++;\n      adResults.push({\n        ad_id: ad.ad_id,\n        ad_name: ad.ad_name,\n        state: 'paused',\n        status_code: 200,\n      });\n    } catch (e) {\n      adsFailed++;\n      adResults.push({\n        ad_id: ad.ad_id,\n        ad_name: ad.ad_name,\n        state: 'failed',\n        status_code: getHttpStatus(e),\n        error: String(e?.message ?? e ?? 'pause_error'),\n      });\n    }\n\n    await new Promise((resolve) => setTimeout(resolve, DELAY_MS));\n  }\n\n  let pause_state;\n  if (listFailed) {\n    pause_state = 'list_failed';\n  } else if (adsFailed === 0) {\n    pause_state = adsPaused > 0 ? 'success' : 'no_active_ads';\n  } else {\n    pause_state = adsPaused > 0 ? 'partial' : 'failed';\n  }\n\n  results.push({\n    json: {\n      ...contract,\n      pause_state,\n      ads_total: ads.length,\n      ads_paused: adsPaused,\n      ads_failed: adsFailed,\n      ad_results: adResults,\n      ads_source: 'f1_listar_ads',\n      list_error: listError,\n      list_status_code: listStatusCode,\n      list_http_client_mode: httpClient.mode,\n      run_mode: 'killswitch',\n      source: 'killswitch_daily',\n    },\n  });\n}\n\nreturn results;"
      }
    }
  ],
  "connections": {
    "Evaluate_Rutear_Resultado_Pausa": {
      "main": [
        [
          {
            "node": "Build Finalizado Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pause_Wait_5m_Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta Cr?tica - Pausa fallida",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Operation Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Finalizado Payload": {
      "main": [
        [
          {
            "node": "Build Operation Final Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Finalizado Payload Valido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5m Precheck Retry": {
      "main": [
        [
          {
            "node": "Meta_Check_Precheck_Estado_Ad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerta Cr?tica - Regex inv?lido": {
      "main": [
        [
          {
            "node": "Emitir Alerta Critica",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build F2->F3 Canonical Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate_Pausa": {
      "main": [
        [
          {
            "node": "Evaluate_Rutear_Resultado_Pausa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate_Regex_Coincide_Nombre_Sheet": {
      "main": [
        [
          {
            "node": "Init Retry Precheck",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta Cr?tica - Regex inv?lido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate_Rutear_Estado_Precheck": {
      "main": [
        [
          {
            "node": "Pause_Init_Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5m Precheck Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Operation Final Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta Cr?tica - Precheck fallido",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Operation Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emitir Alerta Critica": {
      "main": [
        [
          {
            "node": "Stop and Error - Escalar Incidente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Retry Precheck": {
      "main": [
        [
          {
            "node": "Meta_Check_Precheck_Estado_Ad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sheets - Marcar Notificado_Previo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Vencidos": {
      "main": [
        [
          {
            "node": "Killswitch_Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerta Cr?tica - Pausa fallida": {
      "main": [
        [
          {
            "node": "Emitir Alerta Critica",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build F2->F3 Canonical Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Manual On-Demand": {
      "main": [
        [
          {
            "node": "Contexto Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute F3 Internal": {
      "main": [
        [
          {
            "node": "Log_F2_F3_Dispatch_OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log_F2_F3_Dispatch_Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Diario 00:01": {
      "main": [
        [
          {
            "node": "Contexto Scheduled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerta Cr?tica - Precheck fallido": {
      "main": [
        [
          {
            "node": "Emitir Alerta Critica",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build F2->F3 Canonical Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Marcar Finalizado": {
      "main": [
        [
          {
            "node": "Build F2->F3 Canonical Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar HTTP Precheck": {
      "main": [
        [
          {
            "node": "Evaluate_Precheck_Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause_Meta_Pausar_Ad": {
      "main": [
        [
          {
            "node": "Pause_Normalizar_HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate_Precheck_Meta": {
      "main": [
        [
          {
            "node": "Evaluate_Rutear_Estado_Precheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause_Init_Retry": {
      "main": [
        [
          {
            "node": "Pause_Meta_Pausar_Ad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalizado Payload Valido": {
      "main": [
        [
          {
            "node": "Sheets - Marcar Finalizado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerta Cr?tica - Pausa fallida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build F2->F3 Canonical Summary": {
      "main": [
        [
          {
            "node": "Execute F3 Internal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Preventiva": {
      "main": [
        [
          {
            "node": "Payload Alerta Preventiva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Alerta Preventiva": {
      "main": [
        [
          {
            "node": "Emitir Alerta Operativa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause_Wait_5m_Retry": {
      "main": [
        [
          {
            "node": "Pause_Meta_Pausar_Ad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contexto Scheduled": {
      "main": [
        [
          {
            "node": "Sheets - Leer Contratos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emitir Alerta Operativa": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build F2->F3 Canonical Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate_Clasificar_Contratos": {
      "main": [
        [
          {
            "node": "Expand Preventiva",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expand Vencidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta_Check_Precheck_Estado_Ad": {
      "main": [
        [
          {
            "node": "Normalizar HTTP Precheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Leer Contratos": {
      "main": [
        [
          {
            "node": "Evaluate_Clasificar_Contratos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contexto Manual": {
      "main": [
        [
          {
            "node": "Sheets - Leer Contratos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause_Normalizar_HTTP": {
      "main": [
        [
          {
            "node": "Evaluate_Pausa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Operation Final Status": {
      "main": [
        [
          {
            "node": "GS Append Operation Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Route Execute Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contexto Execute Internal": {
      "main": [
        [
          {
            "node": "Init Retry Precheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Execute Action": {
      "main": [
        [
          {
            "node": "Contexto Execute Internal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contexto Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Killswitch_Engine": {
      "main": [
        [
          {
            "node": "Build Finalizado Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "staticData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e03982e2-fa2e-49dc-aa15-4951dc9896fd",
  "activeVersionId": "e03982e2-fa2e-49dc-aa15-4951dc9896fd",
  "versionCounter": 734,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-06T04:02:16.953Z",
      "createdAt": "2026-04-06T04:02:16.953Z",
      "role": "workflow:owner",
      "workflowId": "8mlwAxLtJVrwpLhi",
      "projectId": "Z0pgCY9RJ5VJF6JD",
      "project": {
        "updatedAt": "2026-03-13T00:12:04.657Z",
        "createdAt": "2026-03-13T00:09:47.440Z",
        "id": "Z0pgCY9RJ5VJF6JD",
        "name": "Alexander Villa <alexandervilla.cuenta@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3350874b-f3a7-46b8-bdc1-49a5dbdda144"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-19T00:21:57.843Z",
    "createdAt": "2026-04-19T00:21:57.843Z",
    "versionId": "e03982e2-fa2e-49dc-aa15-4951dc9896fd",
    "workflowId": "8mlwAxLtJVrwpLhi",
    "nodes": [
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "custom",
                "cronExpression": "1 0 * * *"
              }
            ]
          }
        },
        "id": "712bba43-cd97-46c3-9455-41152512b137",
        "name": "Cron Diario 00:01",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          -192,
          0
        ]
      },
      {
        "parameters": {},
        "id": "49fe0038-8b92-4214-be14-79e46158f75a",
        "name": "Trigger Manual On-Demand",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          192,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { run_mode: 'scheduled' } }];"
        },
        "id": "59a6f606-1be2-4da0-91cf-27d9fdadfcd6",
        "name": "Contexto Scheduled",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          192,
          352
        ]
      },
      {
        "parameters": {
          "jsCode": "const source = $json ?? {};\nconst payload = source.payload && typeof source.payload === 'object' ? source.payload : source;\nconst correlationId = String(source.correlation_id ?? payload.correlation_id ?? `ak-f2-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`);\nconst requestedAt = String(payload.requested_at ?? payload.request_ts ?? source.requested_at ?? new Date().toISOString());\n\nreturn [{\n  json: {\n    ...source,\n    ...payload,\n    run_mode: 'manual',\n    action: String(payload.action ?? source.action ?? 'run_now').trim().toLowerCase(),\n    tracking_id: String(payload.tracking_id ?? source.tracking_id ?? ''),\n    correlation_id: correlationId,\n    logical_execution_id: String(source.logical_execution_id ?? payload.logical_execution_id ?? `${correlationId}:f2`),\n    requested_at: requestedAt,\n    request_ts: requestedAt,\n    Contrato_ID: String(payload.Contrato_ID ?? source.Contrato_ID ?? ''),\n    Ad_ID: String(payload.Ad_ID ?? source.Ad_ID ?? '')\n  }\n}];"
        },
        "id": "d421319a-abcf-467f-bf2c-1d99539043a0",
        "name": "Contexto Manual",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -192,
          352
        ]
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "documentId": {
            "__rl": true,
            "value": "=1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "=Contratos",
            "mode": "name"
          },
          "options": {}
        },
        "id": "70ed9a52-c2ef-4b38-bbd8-1a3f0001a602",
        "name": "Sheets - Leer Contratos",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          0,
          688
        ],
        "credentials": {
          "googleApi": {
            "id": "BtY3uGIkB5umd39o",
            "name": "Google Service Account account"
          }
        },
        "notes": "Fuente ?nica de contratos. Se esperan columnas: Contrato_ID, Status_Contrato, Fecha_Fin (YYYY-MM-DD), Ad_ID, Ad_Name, Regex_Anuncio, Notificado_Previo."
      },
      {
        "parameters": {
          "jsCode": "const TZ = 'America/Argentina/Buenos_Aires';\n\nfunction parseYMD(value) {\n  if (!value || typeof value !== 'string') return null;\n  const m = value.trim().match(/^(\\d{4})-(\\d{2})-(\\d{2})$/);\n  if (!m) return null;\n  return new Date(Number(m[1]), Number(m[2]) - 1, Number(m[3]), 0, 0, 0, 0);\n}\n\nfunction nowInTimezone(timeZone) {\n  return new Date(new Date().toLocaleString('en-US', { timeZone }));\n}\n\nfunction startOfDay(d) {\n  const x = new Date(d);\n  x.setHours(0, 0, 0, 0);\n  return x;\n}\n\nfunction daysBetween(a, b) {\n  const ms = 24 * 60 * 60 * 1000;\n  return Math.floor((b.getTime() - a.getTime()) / ms);\n}\n\nfunction toBool(v) {\n  if (typeof v === 'boolean') return v;\n  if (typeof v === 'number') return v !== 0;\n  if (typeof v !== 'string') return false;\n  return ['true', '1', 'si', 's?', 'yes', 'y', 'x'].includes(v.trim().toLowerCase());\n}\n\nfunction escapeRegexText(value) {\n  const metas = new Set(['\\\\', '^', '$', '.', '|', '?', '*', '+', '(', ')', '[', ']', '{', '}']);\n  let out = '';\n  for (const ch of String(value || '')) {\n    out += metas.has(ch) ? ('\\\\' + ch) : ch;\n  }\n  return out;\n}\n\nfunction buildRegex(pattern, fallbackName) {\n  if (pattern && typeof pattern === 'string') {\n    try {\n      return new RegExp(pattern, 'i');\n    } catch (_) {}\n  }\n\n  const safe = escapeRegexText(String(fallbackName || '').trim())\n    .split(/\\s+/)\n    .filter(Boolean)\n    .join('.*');\n\n  return safe ? new RegExp(safe, 'i') : null;\n}\n\nfunction firstNodeJson(name) {\n  try {\n    const value = $(name).first()?.json;\n    return value && typeof value === 'object' ? value : null;\n  } catch (_) {\n    return null;\n  }\n}\n\nconst context =\n  firstNodeJson('Contexto Execute Internal') ??\n  firstNodeJson('Contexto Manual') ??\n  firstNodeJson('Contexto Scheduled') ??\n  ($input.first()?.json ?? {});\n\nconst today = startOfDay(nowInTimezone(TZ));\nconst runMode = String(context.run_mode ?? 'scheduled').toLowerCase();\nconst runCorrelation = String(context.correlation_id ?? `ak-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`);\nconst manualAction = String(context.action ?? '').toLowerCase();\nconst manualContractId = String(context.Contrato_ID ?? '').trim();\nconst manualAdId = String(context.Ad_ID ?? '').trim();\nconst manualTrackingId = String(context.tracking_id ?? '').trim();\nconst manualRequestedAt = String(context.requested_at ?? context.request_ts ?? new Date().toISOString());\nconst manualLogicalExecutionId = String(context.logical_execution_id ?? `${runCorrelation}:f2`);\n\nconst actionable = [];\nlet matchedManualPause = false;\n\nfor (const item of items) {\n  const row = item.json ?? {};\n  const status = String(row.Status_Contrato || '').trim().toLowerCase();\n  const isActiveContract = ['activo', 'active', 'activa'].includes(status);\n  if (!isActiveContract) continue;\n\n  const adName = String(row.Ad_Name || row.Ad_Name_Meta || row.Nombre_Anuncio || '').trim();\n  const regex = buildRegex(row.Regex_Anuncio || row.Regex_Anuncio, adName);\n  const regexMatchesSheetName = regex ? regex.test(adName) : false;\n\n  if (runMode === 'manual' && manualAction === 'pause_ad') {\n    const rowContractId = String(row.Contrato_ID ?? '').trim();\n    const rowAdId = String(row.Ad_ID ?? '').trim();\n    if (!manualContractId || !manualAdId) continue;\n    if (rowContractId !== manualContractId || rowAdId !== manualAdId) continue;\n\n    matchedManualPause = true;\n    actionable.push({\n      json: {\n        ...row,\n        run_mode: 'manual',\n        action: 'pause_ad',\n        tracking_id: manualTrackingId,\n        correlation_id: runCorrelation,\n        logical_execution_id: manualLogicalExecutionId,\n        requested_at: manualRequestedAt,\n        control_type: 'expired',\n        days_to_end: Number(row.days_to_end ?? 0),\n        timezone: TZ,\n        regex_pattern: regex ? regex.source : '.*',\n        regexMatchesSheetName: true,\n        manual_targeting: true,\n        target_contract_id: manualContractId,\n        target_ad_id: manualAdId\n      }\n    });\n    continue;\n  }\n\n  const endDate = parseYMD(row.Fecha_Fin);\n  if (!endDate) continue;\n\n  const diffDays = daysBetween(today, endDate);\n  const isExpired = diffDays < 0;\n  const isPreventiveWindow = diffDays >= 0 && diffDays <= 2;\n  const alreadyNotified = toBool(row.Notificado_Previo);\n\n  let controlType = null;\n  if (isExpired) controlType = 'expired';\n  if (isPreventiveWindow && !alreadyNotified) controlType = 'preventive';\n\n  if (!controlType) continue;\n\n  actionable.push({\n    json: {\n      ...row,\n      run_mode: runMode,\n      action: manualAction || 'run_now',\n      correlation_id: runCorrelation,\n      control_type: controlType,\n      days_to_end: diffDays,\n      timezone: TZ,\n      regex_pattern: regex ? regex.source : null,\n      regexMatchesSheetName,\n      requested_at: manualRequestedAt,\n      logical_execution_id: manualLogicalExecutionId,\n      tracking_id: manualTrackingId\n    }\n  });\n}\n\nif (runMode === 'manual' && manualAction === 'pause_ad' && manualAdId && !matchedManualPause) {\n  actionable.push({\n    json: {\n      Contrato_ID: manualContractId,\n      Ad_ID: manualAdId,\n      run_mode: 'manual',\n      action: 'pause_ad',\n      tracking_id: manualTrackingId,\n      correlation_id: runCorrelation,\n      logical_execution_id: manualLogicalExecutionId,\n      requested_at: manualRequestedAt,\n      control_type: 'expired',\n      days_to_end: Number(context.days_to_end ?? 0),\n      timezone: TZ,\n      regex_pattern: '.*',\n      regexMatchesSheetName: true,\n      manual_targeting: true,\n      target_contract_id: manualContractId,\n      target_ad_id: manualAdId,\n      Status_Contrato: 'Activo',\n      manual_fallback_without_sheet_match: true\n    }\n  });\n}\n\nreturn actionable;"
        },
        "id": "e36b8d4e-31e3-4e3f-8dca-e0359ca625f5",
        "name": "Evaluate_Clasificar_Contratos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          1024
        ]
      },
      {
        "parameters": {
          "jsCode": "function normalize(row, fallback = {}) {\n  const normalized = { ...row };\n  normalized.Contrato_ID = String(normalized.Contrato_ID ?? fallback.Contrato_ID ?? '').trim();\n  normalized.Fecha_Fin = String(normalized.Fecha_Fin ?? fallback.Fecha_Fin ?? '').trim();\n\n  const regexCanon = String(normalized.Regex_Anuncio ?? normalized.regex_pattern ?? fallback.Regex_Anuncio ?? fallback.regex_pattern ?? '').trim();\n  normalized.Regex_Anuncio = regexCanon;\n  normalized.regex_pattern = String(normalized.regex_pattern ?? regexCanon).trim();\n\n  return normalized;\n}\n\nconst expanded = [];\nfor (const item of items) {\n  const source = item.json ?? {};\n  const preventiva = Array.isArray(source.preventiva) ? source.preventiva : [];\n\n  if (preventiva.length > 0) {\n    for (const row of preventiva) {\n      if (!row || typeof row !== 'object') continue;\n      expanded.push({ json: normalize(row, source) });\n    }\n    continue;\n  }\n\n  if (String(source.control_type || '').toLowerCase() === 'preventive') {\n    expanded.push({ json: normalize(source, source) });\n  }\n}\n\nreturn expanded;"
        },
        "id": "cd0b262a-273b-40d4-ad16-07a77e61b0fb",
        "name": "Expand Preventiva",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -192,
          1360
        ]
      },
      {
        "parameters": {
          "jsCode": "function normalize(row, fallback = {}) {\n  const normalized = { ...row };\n  normalized.Contrato_ID = String(normalized.Contrato_ID ?? fallback.Contrato_ID ?? '').trim();\n  normalized.Fecha_Fin = String(normalized.Fecha_Fin ?? fallback.Fecha_Fin ?? '').trim();\n\n  const regexCanon = String(normalized.Regex_Anuncio ?? normalized.regex_pattern ?? fallback.Regex_Anuncio ?? fallback.regex_pattern ?? '').trim();\n  normalized.Regex_Anuncio = regexCanon;\n  normalized.regex_pattern = String(normalized.regex_pattern ?? regexCanon).trim();\n\n  return normalized;\n}\n\nconst expanded = [];\nfor (const item of items) {\n  const source = item.json ?? {};\n  const vencidos = Array.isArray(source.vencidos) ? source.vencidos : [];\n\n  if (vencidos.length > 0) {\n    for (const row of vencidos) {\n      if (!row || typeof row !== 'object') continue;\n      expanded.push({ json: normalize(row, source) });\n    }\n    continue;\n  }\n\n  if (String(source.control_type || '').toLowerCase() === 'expired') {\n    expanded.push({ json: normalize(source, source) });\n  }\n}\n\nreturn expanded;"
        },
        "id": "b1ff90da-f910-4b85-9486-f920fda8dd87",
        "name": "Expand Vencidos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          192,
          1360
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=http://168.138.125.21.nip.io:5678/webhook/mock/alerts",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{$json}}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            },
            "timeout": 30000
          }
        },
        "id": "e5da6bfa-d6d7-419c-8d3f-3a33ab278f34",
        "name": "Emitir Alerta Operativa",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -192,
          2048
        ],
        "notes": "Canal ?nico de alertas en MVP (sin fallback Slack/Telegram)."
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "=1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "=Contratos",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": 0,
              "Contrato_ID": "={{$json.Contrato_ID}}",
              "Ad_ID": "={{ $json.Ad_ID }}",
              "Notificado_Previo": "TRUE",
              "Fecha_Notificado_Previo": "={{$now.setZone('America/Argentina/Buenos_Aires').toISO()}}",
              "Updated_At": "={{$now.setZone('America/Argentina/Buenos_Aires').toISO()}}"
            },
            "matchingColumns": [
              "Contrato_ID"
            ],
            "schema": [
              {
                "id": "Contrato_ID",
                "displayName": "Contrato_ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Cliente",
                "displayName": "Cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Regex_Anuncio",
                "displayName": "Regex_Anuncio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Ad_ID",
                "displayName": "Ad_ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Ad_Name",
                "displayName": "Ad_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Fecha_Alta",
                "displayName": "Fecha_Alta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Fecha_Fin",
                "displayName": "Fecha_Fin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Status_Contrato",
                "displayName": "Status_Contrato",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Notificado_Previo",
                "displayName": "Notificado_Previo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Fecha_Notificado_Previo",
                "displayName": "Fecha_Notificado_Previo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Fecha_Finalizacion",
                "displayName": "Fecha_Finalizacion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Updated_At",
                "displayName": "Updated_At",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "9e200fbf-0050-457f-bd49-c73766c61d46",
        "name": "Sheets - Marcar Notificado_Previo",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          768,
          2384
        ],
        "credentials": {
          "googleApi": {
            "id": "BtY3uGIkB5umd39o",
            "name": "Google Service Account account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{$json.regexMatchesSheetName}}",
                "value2": true
              }
            ]
          },
          "options": {}
        },
        "id": "18b5dc8b-d51e-4367-bab4-f0c7577ee5f5",
        "name": "Evaluate_Regex_Coincide_Nombre_Sheet",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -192,
          1712
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "92e6e644-9bf2-4f5f-80f2-4cb932e78687",
                "name": "precheck_attempt",
                "value": 1,
                "type": "number"
              },
              {
                "id": "f7edfd6e-15ab-4294-bf87-2df4eb8746ff",
                "name": "precheck_max_attempts",
                "value": 3,
                "type": "number"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "0990e02a-4f15-4c57-a2d9-04efe0d0e1c1",
        "name": "Init Retry Precheck",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          192,
          2048
        ]
      },
      {
        "parameters": {
          "url": "={{'http://168.138.125.21.nip.io:5678/webhook/adskiller-meta-precheck?ad_id=' + $json.Ad_ID}}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "name",
                "value": "={{$json.Ad_Name}}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true,
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          },
          "method": "GET"
        },
        "id": "996ef569-eca9-428c-9bd5-6b0c3b5904d2",
        "name": "Meta_Check_Precheck_Estado_Ad",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          384,
          2384
        ],
        "notes": "Pre-check: continuar solo si Meta devuelve ACTIVE y nombre matchea regex case-insensitive."
      },
      {
        "parameters": {
          "jsCode": "function toFiniteNumber(value) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : null;\n}\nreturn $input.all().map((item) => {\n  const raw = item.json ?? {};\n  const hasWrapper = Object.prototype.hasOwnProperty.call(raw, 'statusCode');\n  const statusFromWrapper = toFiniteNumber(raw.statusCode);\n  const statusFromCanonical = toFiniteNumber(raw.http_status);\n  const httpStatus = statusFromWrapper ?? statusFromCanonical ?? (hasWrapper ? 0 : 200);\n  const bodyCandidate = hasWrapper ? raw.body : (raw.http_body ?? raw);\n  const httpBody = bodyCandidate && typeof bodyCandidate === 'object' ? bodyCandidate : {};\n  const httpOk = httpStatus >= 200 && httpStatus < 300;\n  const retryable = [429, 500].includes(httpStatus);\n  return {\n    json: {\n      ...raw,\n      http_status: httpStatus,\n      http_body: httpBody,\n      http_ok: httpOk,\n      retryable,\n      statusCode: httpStatus,\n      body: httpBody\n    }\n  };\n});"
        },
        "id": "1dd56036-37db-4f5f-af9a-3c1221608f28",
        "name": "Normalizar HTTP Precheck",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          192,
          2720
        ]
      },
      {
        "parameters": {
          "jsCode": "\nfunction getNodeJson(name, idx) {\n  try {\n    return $item(idx).$node[name].json || {};\n  } catch (_) {\n    return {};\n  }\n}\n\nconst inputItems = $input.all();\n\nreturn inputItems.map((inputItem, idx) => {\n  const response = inputItem.json || {};\n  const row = {\n    ...getNodeJson('Contexto Execute Internal', idx),\n    ...getNodeJson('Expand Vencidos', idx),\n    ...getNodeJson('Init Retry Precheck', idx),\n    ...getNodeJson('Wait 5m Precheck Retry', idx)\n  };\n\n  row.Contrato_ID = String(row.Contrato_ID || '').trim();\n  row.regex_pattern = String(row.regex_pattern || row.Regex_Anuncio || '').trim();\n\n  const attempt = Number(row.precheck_attempt || 1);\n  const maxAttempts = Number(row.precheck_max_attempts || 3);\n  const httpStatus = Number(response.http_status || 0);\n  const httpBody = response.http_body && typeof response.http_body === 'object' ? response.http_body : {};\n  const httpOk = Boolean(response.http_ok);\n  const retryable = Boolean(response.retryable);\n\n  if (retryable && attempt < maxAttempts) {\n    return {\n      json: {\n        ...row,\n        precheck_attempt: attempt + 1,\n        precheck_state: 'retry',\n        precheck_status_code: httpStatus,\n        precheck_http_ok: httpOk\n      }\n    };\n  }\n\n  if (!httpOk) {\n    return {\n      json: {\n        ...row,\n        precheck_state: 'failed',\n        precheck_status_code: httpStatus,\n        precheck_http_ok: httpOk,\n        precheck_reason: 'meta_precheck_non_2xx'\n      }\n    };\n  }\n\n  const adNameMeta = String(httpBody.name || '').trim();\n  const regexPattern = row.regex_pattern;\n  const manualTargeting = Boolean(row.manual_targeting);\n  let regexMatchesMetaName = false;\n  try {\n    regexMatchesMetaName = manualTargeting ? true : (!!regexPattern && new RegExp(regexPattern, 'i').test(adNameMeta));\n  } catch (_) {\n    regexMatchesMetaName = manualTargeting;\n  }\n\n  const status = String(httpBody.status || httpBody.effective_status || '').toUpperCase();\n  const isActive = status === 'ACTIVE';\n\n  if (!isActive || !regexMatchesMetaName) {\n    return {\n      json: {\n        ...row,\n        precheck_state: 'not_actionable',\n        precheck_status_code: httpStatus,\n        precheck_http_ok: httpOk,\n        ad_status_meta: status || 'UNKNOWN',\n        regexMatchesMetaName,\n        ad_name_meta: adNameMeta\n      }\n    };\n  }\n\n  return {\n    json: {\n      ...row,\n      precheck_state: 'ready_to_pause',\n      precheck_status_code: httpStatus,\n      precheck_http_ok: httpOk,\n      ad_status_meta: status,\n      regexMatchesMetaName,\n      ad_name_meta: adNameMeta\n    }\n  };\n});\n"
        },
        "id": "baacf0cc-c10f-4100-9710-eb0e4b0a6ce4",
        "name": "Evaluate_Precheck_Meta",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -384,
          3072
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "1e4a8adc-4f0a-400a-8014-d16e2f820867",
                      "leftValue": "={{ String($json.precheck_state || '').trim().toLowerCase() }}",
                      "rightValue": "ready_to_pause",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "a4013fec-d220-46ec-9e10-a7ffea195f9e",
                      "leftValue": "={{ String($json.precheck_state || '').trim().toLowerCase() }}",
                      "rightValue": "retry",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "f4232937-2a90-49ec-801b-9100e5b7cfec",
                      "leftValue": "={{ String($json.precheck_state || '').trim().toLowerCase() }}",
                      "rightValue": "not_actionable",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "12747da9-d550-46c4-890a-85c6320a47e6",
                      "leftValue": "={{ String($json.precheck_state || '').trim().toLowerCase() }}",
                      "rightValue": "failed",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "da47451a-91f7-497e-937e-5340861c5eb7",
        "name": "Evaluate_Rutear_Estado_Precheck",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          0,
          3408
        ]
      },
      {
        "parameters": {
          "amount": 10,
          "unit": "seconds",
          "resume": "timeInterval"
        },
        "id": "d40c1c23-2674-4c30-acc8-6dcf4783eea3",
        "name": "Wait 5m Precheck Retry",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          576,
          3744
        ],
        "webhookId": "102699c9-1c7f-4e7f-9b5e-6f0eb820e564"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "36714951-a53f-4ef8-a2c1-98f84d620806",
                "name": "pause_attempt",
                "value": 1,
                "type": "number"
              },
              {
                "id": "6a88e977-ed8a-4fcb-89ab-8f48416c712b",
                "name": "pause_max_attempts",
                "value": 3,
                "type": "number"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "ee344ad2-a69a-4591-bf3d-21feabe572f0",
        "name": "Pause_Init_Retry",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          192,
          3744
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://168.138.125.21.nip.io:5678/webhook/adskiller-meta-pause",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ad_id",
                "value": "={{$json.Ad_ID}}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true,
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          },
          "contentType": "json"
        },
        "id": "8cd2113e-cfd5-43f0-974d-f313e2118a7c",
        "name": "Pause_Meta_Pausar_Ad",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          4080
        ],
        "onError": "continueRegularOutput",
        "notes": "Kill-switch: pausa SOLO a nivel Ad."
      },
      {
        "parameters": {
          "jsCode": "function toFiniteNumber(value) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : null;\n}\n\nreturn $input.all().map((item) => {\n  const raw = item.json || {};\n\n  const hasWrapper = Object.prototype.hasOwnProperty.call(raw, 'statusCode');\n  const statusFromWrapper = toFiniteNumber(raw.statusCode);\n  const statusFromCanonical = toFiniteNumber(raw.http_status);\n  const httpStatus = statusFromWrapper ?? statusFromCanonical ?? (hasWrapper ? 0 : 200);\n\n  const bodyCandidate = hasWrapper ? raw.body : (raw.http_body ?? raw);\n  const httpBody = bodyCandidate && typeof bodyCandidate === 'object' ? bodyCandidate : {};\n\n  const httpOk = httpStatus >= 200 && httpStatus < 300;\n  const retryable = [429, 500].includes(httpStatus);\n\n  return {\n    json: {\n      ...raw,\n      http_status: httpStatus,\n      http_body: httpBody,\n      http_ok: httpOk,\n      retryable,\n      statusCode: httpStatus,\n      body: httpBody\n    }\n  };\n});"
        },
        "id": "8487140c-62d7-4333-943e-2ba98155f60a",
        "name": "Pause_Normalizar_HTTP",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          4432
        ]
      },
      {
        "parameters": {
          "jsCode": "function getNodeJson(name, idx) {\n  try {\n    return $item(idx).$node[name].json || {};\n  } catch (_) {\n    return {};\n  }\n}\n\nconst inputItems = $input.all();\n\nreturn inputItems.map((inputItem, idx) => {\n  const response = inputItem.json || {};\n  const row = {\n    ...getNodeJson('Contexto Execute Internal', idx),\n    ...getNodeJson('Expand Vencidos', idx),\n    ...getNodeJson('Pause_Init_Retry', idx),\n    ...getNodeJson('Pause_Wait_5m_Retry', idx)\n  };\n\n  row.Contrato_ID = String(row.Contrato_ID || '').trim();\n\n  const attempt = Number(row.pause_attempt || 1);\n  const maxAttempts = Number(row.pause_max_attempts || 3);\n  const httpStatus = Number(response.http_status || 0);\n  const httpOk = Boolean(response.http_ok);\n  const retryable = Boolean(response.retryable);\n\n  if (httpOk) {\n    return {\n      json: {\n        ...row,\n        pause_state: 'success',\n        pause_status_code: httpStatus,\n        pause_http_ok: httpOk\n      }\n    };\n  }\n\n  if (retryable && attempt < maxAttempts) {\n    return {\n      json: {\n        ...row,\n        pause_attempt: attempt + 1,\n        pause_state: 'retry',\n        pause_status_code: httpStatus,\n        pause_http_ok: httpOk\n      }\n    };\n  }\n\n  return {\n    json: {\n      ...row,\n      pause_state: 'failed',\n      pause_status_code: httpStatus,\n      pause_http_ok: httpOk,\n      pause_reason: retryable ? 'retry_exhausted' : 'non_retryable_meta_response'\n    }\n  };\n});"
        },
        "id": "ad0c25a1-863f-49b2-bed2-c1fbf8434705",
        "name": "Evaluate_Pausa",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          4768
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "a286ee98-0bd6-4f2c-92bd-cae17b2d3032",
                      "leftValue": "={{ String($json.pause_state || '').trim().toLowerCase() }}",
                      "rightValue": "success",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "bed2435a-628f-43fb-9812-995766aaac2e",
                      "leftValue": "={{ String($json.pause_state || '').trim().toLowerCase() }}",
                      "rightValue": "retry",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "7cf15c2e-1450-4bf6-84a2-768e22780eb5",
                      "leftValue": "={{ String($json.pause_state || '').trim().toLowerCase() }}",
                      "rightValue": "failed",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "83a94fed-6aa4-475a-8451-963d3e1e2c9a",
        "name": "Evaluate_Rutear_Resultado_Pausa",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          0,
          5104
        ]
      },
      {
        "parameters": {
          "jsCode": "function getNodeJson(name, idx) {\n  try {\n    return $item(idx).$node[name].json || {};\n  } catch (_) {\n    return {};\n  }\n}\n\nconst nowIso = $now.setZone('America/Argentina/Buenos_Aires').toISO();\nconst inputItems = $input.all();\n\nreturn inputItems.map((inputItem, idx) => {\n  const merged = {\n    ...getNodeJson('Expand Vencidos', idx),\n    ...getNodeJson('Init Retry Pausa', idx),\n    ...(inputItem.json || {})\n  };\n\n  const contratoId = String(merged.Contrato_ID || '').trim();\n\n  return {\n    json: {\n      ...merged,\n      Contrato_ID: contratoId,\n      Status_Contrato: 'Finalizado',\n      Fecha_Finalizacion: nowIso,\n      Updated_At: nowIso\n    }\n  };\n});"
        },
        "id": "3b3bb406-4da2-4e8d-93f0-0a5f541c0f64",
        "name": "Build Finalizado Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          5440
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json.pause_state}}",
                "operation": "notEqual",
                "value2": "failed"
              },
              {
                "value1": "={{$json.pause_state}}",
                "operation": "notEqual",
                "value2": "list_failed"
              },
              {
                "value1": "={{String($json.Contrato_ID ?? '').trim()}}",
                "operation": "notEmpty"
              }
            ]
          },
          "options": {}
        },
        "id": "10e358eb-4194-46ca-8142-37dd9be46038",
        "name": "Finalizado Payload Valido",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          0,
          5792
        ]
      },
      {
        "parameters": {
          "amount": 10,
          "unit": "seconds",
          "resume": "timeInterval"
        },
        "id": "86490c96-29d9-4e27-b150-d424d9646a97",
        "name": "Pause_Wait_5m_Retry",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          384,
          5440
        ],
        "webhookId": "52f3fd56-305c-49f8-bfb7-003b22189540"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "=1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "=Contratos",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Status_Contrato": "={{$json.Status_Contrato}}",
              "Fecha_Finalizacion": "={{$json.Fecha_Finalizacion}}",
              "Updated_At": "={{$json.Updated_At}}",
              "row_number": 0,
              "Contrato_ID": "={{$json.Contrato_ID}}"
            },
            "matchingColumns": [
              "Contrato_ID"
            ],
            "schema": [
              {
                "id": "Contrato_ID",
                "displayName": "Contrato_ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Cliente",
                "displayName": "Cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Regex_Anuncio",
                "displayName": "Regex_Anuncio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Ad_ID",
                "displayName": "Ad_ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Ad_Name",
                "displayName": "Ad_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Fecha_Alta",
                "displayName": "Fecha_Alta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Fecha_Fin",
                "displayName": "Fecha_Fin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Status_Contrato",
                "displayName": "Status_Contrato",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Notificado_Previo",
                "displayName": "Notificado_Previo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Fecha_Notificado_Previo",
                "displayName": "Fecha_Notificado_Previo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Fecha_Finalizacion",
                "displayName": "Fecha_Finalizacion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Updated_At",
                "displayName": "Updated_At",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false,
            "valueToMatch": "={{$json.Contrato_ID}}"
          },
          "options": {}
        },
        "id": "5ddff62b-ff28-465c-8af9-43b9df0779cf",
        "name": "Sheets - Marcar Finalizado",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          0,
          6128
        ],
        "credentials": {
          "googleApi": {
            "id": "BtY3uGIkB5umd39o",
            "name": "Google Service Account account"
          }
        },
        "notes": "Regla de dominio: solo pasar a Finalizado si la pausa en Meta fue exitosa."
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d196474d-a324-4c80-b061-6888b2f74703",
                "name": "alert_severity",
                "value": "CRITICAL",
                "type": "string"
              },
              {
                "id": "1fbc27de-85f5-4496-a55f-f98bd9933632",
                "name": "alert_type",
                "value": "EXPIRED_NOT_PAUSED_REGEX_MISMATCH",
                "type": "string"
              },
              {
                "id": "6985ff70-ed54-49c2-a27f-e1db822849c0",
                "name": "message",
                "value": "=Contrato {{$json.Contrato_ID}} vencido no elegible para pausa: regex no matchea nombre de anuncio en Sheet.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "3bcb8c20-38b4-4ba7-ad8d-8b8f6699291f",
        "name": "Alerta Cr?tica - Regex inv?lido",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -576,
          2048
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fbd8ed4b-2e5b-4917-8de6-e4ff34aa8fcb",
                "name": "alert_severity",
                "value": "CRITICAL",
                "type": "string"
              },
              {
                "id": "a318500e-8dcf-4f06-ae7b-e55358f91b89",
                "name": "alert_type",
                "value": "EXPIRED_NOT_PAUSED_PRECHECK_FAILED",
                "type": "string"
              },
              {
                "id": "7db057a5-852d-497b-ab95-ee238ad79ca6",
                "name": "message",
                "value": "=Contrato {{$json.Contrato_ID}} vencido sin pausa: precheck Meta fall? tras {{$json.precheck_max_attempts}} intentos (?ltimo status {{$json.precheck_status_code}}).",
                "type": "string"
              },
              {
                "id": "78f308ec-586d-4e7f-9766-8ef7ded9a561",
                "name": "Contrato_ID",
                "value": "={{$json.Contrato_ID}}",
                "type": "string"
              },
              {
                "id": "2dd10b8c-1728-48ca-9346-3d241a86f48f",
                "name": "Ad_ID",
                "value": "={{$json.Ad_ID}}",
                "type": "string"
              },
              {
                "id": "873f23d2-7659-4cc3-accf-7768a314f472",
                "name": "correlation_id",
                "value": "={{$json.correlation_id}}",
                "type": "string"
              },
              {
                "id": "a8259ef8-6b22-4f31-bb58-10fb9030cddf",
                "name": "run_mode",
                "value": "={{$json.run_mode}}",
                "type": "string"
              },
              {
                "id": "66b1a27c-ff88-4df7-b267-d6575da2f4db",
                "name": "attempts",
                "value": "={{$json.precheck_attempt \n\n $json.pause_attempt \n\n 0}}",
                "type": "string"
              },
              {
                "id": "3360f5fa-5325-4721-abde-9029a0a67cd4",
                "name": "max_attempts",
                "value": "={{$json.precheck_max_attempts \n\n $json.pause_max_attempts \n\n 0}}",
                "type": "string"
              },
              {
                "id": "710ac233-0382-4050-b8c5-5da60c00a98b",
                "name": "status_code",
                "value": "={{$json.precheck_status_code \n\n $json.pause_status_code \n\n 0}}",
                "type": "string"
              },
              {
                "id": "5c1172c8-8003-426f-8b76-dd75e187e17d",
                "name": "timestamp",
                "value": "={{$now.setZone('America/Argentina/Buenos_Aires').toISO()}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "7e3d0b9f-7531-4a3e-83bf-816bef1a283c",
        "name": "Alerta Cr?tica - Precheck fallido",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -576,
          3744
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5c7dbe49-c7df-4a82-8f55-bff7891e2d65",
                "name": "alert_severity",
                "value": "CRITICAL",
                "type": "string"
              },
              {
                "id": "c5ff70d7-ebea-4a84-a90d-8118f07ab9a0",
                "name": "alert_type",
                "value": "={{ (() => { const attempt = Number($json.pause_attempt ?? 0); const maxAttempts = Number($json.pause_max_attempts ?? 0); const status = Number($json.pause_status_code ?? $json.http_status ?? 0); const retryable = [429, 500].includes(status) || String($json.pause_reason || \"\").toLowerCase() === \"retry_exhausted\"; if (retryable && maxAttempts > 0 && attempt >= maxAttempts) return \"EXPIRED_NOT_PAUSED_RETRY_EXHAUSTED\"; if (!retryable && (maxAttempts === 0 || attempt < maxAttempts)) return \"EXPIRED_NOT_PAUSED_NON_RETRYABLE\"; return $json.alert_type || (retryable ? \"EXPIRED_NOT_PAUSED_RETRY_EXHAUSTED\" : \"EXPIRED_NOT_PAUSED_NON_RETRYABLE\"); })() }}",
                "type": "string"
              },
              {
                "id": "11282ef7-7c77-4ee7-866e-5045f0fc4f96",
                "name": "message",
                "value": "={{ (() => { const status = Number($json.pause_status_code ?? $json.http_status ?? 0); const contrato = $json.Contrato_ID || \"N/A\"; const attempt = Number($json.pause_attempt ?? 0); const maxAttempts = Number($json.pause_max_attempts ?? 0); const retryable = [429, 500].includes(status) || String($json.pause_reason || \"\").toLowerCase() === \"retry_exhausted\"; const resolvedType = (retryable && maxAttempts > 0 && attempt >= maxAttempts) ? \"EXPIRED_NOT_PAUSED_RETRY_EXHAUSTED\" : \"EXPIRED_NOT_PAUSED_NON_RETRYABLE\"; if (resolvedType === \"EXPIRED_NOT_PAUSED_RETRY_EXHAUSTED\") return `Contrato ${contrato} vencido sin pausa: se agotaron retries (${maxAttempts}x cada 5m) (status ${status}).`; return `Contrato ${contrato} vencido sin pausa: Meta devolvio una respuesta no reintentable (status ${status}, intento ${attempt}/${maxAttempts || \"?\"}).`; })() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "f20ee737-d32c-4289-848a-929fc03a8f42",
        "name": "Alerta Cr?tica - Pausa fallida",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -384,
          5440
        ]
      },
      {
        "parameters": {
          "errorMessage": "={{ (() => { const current = $json || {}; let fromPause = {}; try { fromPause = $item(0).$node[\"Alerta Cr?tica - Pausa fallida\"].json || {}; } catch (e) {} const data = Object.keys(current).length ? current : fromPause; const contrato = data.Contrato_ID || \"N/A\"; const ad = data.Ad_ID || \"N/A\"; const type = data.alert_type || \"N/A\"; return `AdsKiller CRITICAL: anuncio vencido no pausado. Contrato ${contrato}, Ad ${ad}, tipo ${type}`; })() }}"
        },
        "id": "ace071c0-8260-487f-9112-5b0edca357ab",
        "name": "Stop and Error - Escalar Incidente",
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          576,
          2720
        ]
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -192,
          3744
        ],
        "id": "94d508cc-f783-4929-882f-772609815dd5",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "0f22d187-d9c5-4c5d-80a6-25bac56170e6",
                "leftValue": "={{$json.statusCode >= 200 && $json.statusCode < 300}}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          0,
          2384
        ],
        "id": "70f666d6-68fe-4565-b86d-f13397571810",
        "name": "If"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          576,
          2048
        ],
        "id": "35e3addd-9421-41ac-bba5-3bd024cea5dc",
        "name": "Merge"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -192,
          2720
        ],
        "id": "3e8fb544-7534-4426-8eb5-963c8ddb4921",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4ff45eb3-589f-4d2e-9025-6dd2fca9d3b5",
                "name": "alert_severity",
                "value": "WARNING",
                "type": "string"
              },
              {
                "id": "31f6397b-4ca6-4385-8e55-b96685541595",
                "name": "alert_type",
                "value": "PREVENTIVE_48H",
                "type": "string"
              },
              {
                "id": "53ab40f3-74f1-4ff4-ac94-566acb4c3528",
                "name": "message",
                "value": "=Contrato {{$json.Contrato_ID}} entra en ventana preventiva de 48h para anuncio {{$json.Ad_ID}}.",
                "type": "string"
              },
              {
                "id": "cc783101-17e3-4a04-b92d-ee6748d6d840",
                "name": "Contrato_ID",
                "value": "={{$json.Contrato_ID}}",
                "type": "string"
              },
              {
                "id": "8993e5d9-f5e9-4eb7-b585-c4ac7d2fcdce",
                "name": "Ad_ID",
                "value": "={{$json.Ad_ID}}",
                "type": "string"
              },
              {
                "id": "a95e6e71-0cd2-442a-a31d-dc55182f5936",
                "name": "run_mode",
                "value": "={{$json.run_mode}}",
                "type": "string"
              },
              {
                "id": "4d3cfea4-fe27-49db-ba3e-a8e9d33cc344",
                "name": "correlation_id",
                "value": "={{$json.correlation_id}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "22aaf72f-a7f7-458b-8231-a2ae87be1270",
        "name": "Payload Alerta Preventiva",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          192,
          1712
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=http://168.138.125.21.nip.io:5678/webhook/mock/alerts",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{$json}}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            },
            "timeout": 30000
          }
        },
        "id": "7e866d66-ad16-452d-a1b7-d436bfae0a4f",
        "name": "Emitir Alerta Critica",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -384,
          2384
        ],
        "notes": "Canal ?nico MVP para severidad CRITICAL."
      },
      {
        "parameters": {
          "jsCode": "﻿const rows = $input.all().map((item) => item.json ?? {});\nconst nowIso = new Date().toISOString();\n\nfunction lower(value) {\n  return String(value ?? '').trim().toLowerCase();\n}\n\nfunction toNum(value, fallback = 0) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction uniq(values) {\n  return [...new Set(values.filter(Boolean))];\n}\n\nfunction firstNonEmpty(values, fallback = '') {\n  for (const v of values) {\n    const t = String(v ?? '').trim();\n    if (t) return t;\n  }\n  return fallback;\n}\n\nconst correlationId = firstNonEmpty(\n  rows.map((r) => r.correlation_id),\n  `ak-f2-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`\n);\nconst logicalExecutionId = firstNonEmpty(rows.map((r) => r.logical_execution_id), `${correlationId}:f2`);\nconst executionId = firstNonEmpty(rows.map((r) => r.execution_id), logicalExecutionId);\nconst executionMode = firstNonEmpty(rows.map((r) => r.run_mode ?? r.execution_mode), 'internal_execute_workflow');\nconst notification = rows.find((r) => r.notification && typeof r.notification === 'object')?.notification ?? {};\n\nconst contractIds = uniq(rows.map((r) => String(r.Contrato_ID ?? '').trim()));\nconst influencers = uniq(rows.map((r) => String(r.Cliente ?? r.influencer ?? '').trim()));\n\nconst preventiveRows = rows.filter((r) => {\n  const alertType = lower(r.alert_type);\n  const controlType = lower(r.control_type);\n  return alertType === 'preventive_48h' || controlType === 'preventive';\n});\n\nconst expiredUnpausedRows = rows.filter((r) => {\n  const alertType = lower(r.alert_type);\n  return alertType.startsWith('expired_not_paused') || alertType.includes('expired_not_paused');\n});\n\nconst preventiveContractIds = uniq(preventiveRows.map((r) => String(r.Contrato_ID ?? '').trim()));\nconst expiredUnpausedContractIds = uniq(expiredUnpausedRows.map((r) => String(r.Contrato_ID ?? '').trim()));\n\nlet adsEvaluated = rows.reduce((acc, r) => acc + toNum(r.ads_total, 0), 0);\nif (adsEvaluated === 0) {\n  adsEvaluated = preventiveRows.length + expiredUnpausedRows.length;\n}\n\nlet pausedSuccessCount = rows.reduce((acc, r) => acc + toNum(r.ads_paused, 0), 0);\nlet pausedErrorCount = rows.reduce((acc, r) => acc + toNum(r.ads_failed, 0), 0);\n\nconst incidents = [];\nfor (const row of rows) {\n  if (Array.isArray(row.incidents)) {\n    for (const it of row.incidents) {\n      incidents.push(it);\n    }\n  }\n\n  const pauseState = lower(row.pause_state);\n  const hasPauseError = pauseState === 'failed' || pauseState === 'list_failed' || pauseState === 'partial';\n  if (hasPauseError) {\n    incidents.push({\n      type: 'pause_failed',\n      code: firstNonEmpty([row.pause_reason, row.error_code], 'PAUSE_FAILED'),\n      message: firstNonEmpty([row.list_error, row.error_message], `Pause state ${pauseState}`),\n      contract_id: String(row.Contrato_ID ?? ''),\n      influencer: String(row.Cliente ?? row.influencer ?? '').trim(),\n      ad_id: String(row.Ad_ID ?? ''),\n      stage: firstNonEmpty([row.error_stage], pauseState)\n    });\n  }\n}\n\nif (expiredUnpausedRows.length > 0 && incidents.length === 0) {\n  for (const row of expiredUnpausedRows) {\n    incidents.push({\n      type: 'expired_not_paused',\n      code: firstNonEmpty([row.alert_type], 'EXPIRED_NOT_PAUSED'),\n      message: firstNonEmpty([row.message], 'Expired contract has ads not paused'),\n      contract_id: String(row.Contrato_ID ?? ''),\n      influencer: String(row.Cliente ?? row.influencer ?? '').trim(),\n      ad_id: String(row.Ad_ID ?? '')\n    });\n  }\n}\n\nconst hasCritical = expiredUnpausedContractIds.length > 0;\nconst hasWarnSignals = preventiveContractIds.length > 0 || pausedErrorCount > 0 || incidents.length > 0;\n\nconst executionStatus = hasCritical || pausedErrorCount > 0 ? 'partial_failure' : 'success';\nconst severity = hasCritical ? 'CRITICAL' : (hasWarnSignals ? 'WARN' : 'INFO');\n\nconst context = {\n  contract_ids: contractIds,\n  influencers,\n  Contrato_ID: contractIds[0] ?? '',\n  Ad_ID: '',\n  alert_type: hasCritical ? 'EXPIRED_NOT_PAUSED' : (preventiveContractIds.length > 0 ? 'PREVENTIVE_48H' : ''),\n  error_stage: '',\n  status_contrato: '',\n  message: preventiveContractIds.length > 0\n    ? `Preventive alerts: ${preventiveContractIds.length} contract(s) in 48h window.`\n    : (hasCritical ? 'Critical alerts detected: expired contracts with unpaused ads.' : 'No critical or preventive alerts.'),\n  crm_url: firstNonEmpty(rows.map((r) => r.crm_url ?? r.sheet_url ?? r.context?.crm_url ?? r.context?.sheet_url), '')\n};\n\nconst durationMs = toNum(rows[0]?.duration_ms, 0);\n\nreturn [{\n  json: {\n    schema_version: '1.0.0',\n    event_type: 'killswitch.execution.summary',\n    source_workflow: 'contract-guard-daily-killswitch',\n    target_workflow_id: 'BFHHQwYFfmcpqshb',\n    timezone: 'America/Argentina/Buenos_Aires',\n    correlation_id: correlationId,\n    logical_execution_id: logicalExecutionId,\n    execution_id: executionId,\n    execution_status: executionStatus,\n    severity,\n    execution_mode: executionMode,\n    executed_at: nowIso,\n    metrics: {\n      contracts_evaluated: contractIds.length,\n      ads_evaluated: adsEvaluated,\n      paused_success_count: pausedSuccessCount,\n      paused_error_count: pausedErrorCount,\n      expired_unpaused_count: expiredUnpausedContractIds.length,\n      preventive_48h_count: preventiveContractIds.length,\n      duration_ms: durationMs\n    },\n    incidents,\n    notification,\n    context\n  }\n}];\r\n"
        },
        "id": "8f2f5951-eeb5-47fa-bf8d-aed5b8458d61",
        "name": "Build F2->F3 Canonical Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -768,
          2384
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "BFHHQwYFfmcpqshb",
            "mode": "id"
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "id": "c3c64676-38f3-46f6-a4d3-93c2f43676f8",
        "name": "Execute F3 Internal",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -576,
          2720
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const input = $json ?? {};\nreturn [{ json: { event: 'internal_chain_dispatch_ok', source_workflow: 'contract-guard-daily-killswitch', target_workflow_id: 'BFHHQwYFfmcpqshb', correlation_id: String(input.correlation_id ?? ''), logical_execution_id: String(input.logical_execution_id ?? ''), status: 'dispatched', timestamp: new Date().toISOString() } }];"
        },
        "id": "9f42f03c-cd5f-4f2c-a48a-d76f47d1a9f5",
        "name": "Log_F2_F3_Dispatch_OK",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          384,
          3072
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $json ?? {};\nreturn [{ json: { event: 'internal_chain_dispatch_error', source_workflow: 'contract-guard-daily-killswitch', target_workflow_id: 'BFHHQwYFfmcpqshb', correlation_id: String(input.correlation_id ?? ''), logical_execution_id: String(input.logical_execution_id ?? ''), status: 'error', error: String(input.error?.message ?? input.message ?? 'unknown_execute_workflow_error'), timestamp: new Date().toISOString() } }];"
        },
        "id": "219180fc-bb6f-4a16-a8f5-b0f1ced3c66a",
        "name": "Log_F2_F3_Dispatch_Error",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          3072
        ]
      },
      {
        "parameters": {
          "jsCode": "const nowIso = $now.setZone('America/Argentina/Buenos_Aires').toISO();\n\nfunction toFinalStatus(row) {\n  const pauseState = String(row.pause_state ?? '').toLowerCase();\n  const precheckState = String(row.precheck_state ?? '').toLowerCase();\n  const statusContrato = String(row.Status_Contrato ?? '').toLowerCase();\n\n  if (pauseState === 'success' || statusContrato === 'finalizado') return 'paused';\n  if (precheckState === 'not_actionable') return 'already_paused';\n  if (precheckState === 'failed' || pauseState === 'failed') return 'failed';\n  if (['retry', 'ready_to_pause'].includes(precheckState) || pauseState === 'retry') return 'processing';\n  return 'processing';\n}\n\nreturn $input.all().flatMap((item) => {\n  const row = item.json ?? {};\n  const trackingId = String(row.tracking_id ?? '').trim();\n  if (!trackingId) return [];\n\n  const correlationId = String(row.correlation_id ?? '').trim();\n  const finalStatus = toFinalStatus(row);\n\n  return [{\n    json: {\n      tracking_id: trackingId,\n      correlation_id: correlationId,\n      action: String(row.action ?? 'pause_ad'),\n      run_mode: String(row.run_mode ?? 'manual'),\n      status: finalStatus,\n      final_status: finalStatus,\n      result: finalStatus,\n      Contrato_ID: String(row.Contrato_ID ?? row.target_contract_id ?? ''),\n      Ad_ID: String(row.Ad_ID ?? row.target_ad_id ?? ''),\n      precheck_status: String(row.ad_status_meta ?? row.precheck_status ?? 'UNKNOWN'),\n      meta_http_status: Number(row.pause_status_code ?? row.precheck_status_code ?? row.http_status ?? 0) || null,\n      pause_attempt: Number(row.pause_attempt ?? row.precheck_attempt ?? 0) || 0,\n      pause_max_attempts: Number(row.pause_max_attempts ?? row.precheck_max_attempts ?? 0) || 0,\n      pause_reason: String(row.pause_reason ?? row.precheck_reason ?? ''),\n      source_workflow: 'contract-guard-daily-killswitch',\n      execution_id: String($execution?.id ?? ''),\n      requested_at: String(row.requested_at ?? row.request_ts ?? nowIso),\n      updated_at: nowIso,\n      timestamp: nowIso\n    }\n  }];\n});"
        },
        "id": "f2-build-op-final-status",
        "name": "Build Operation Final Status",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          1376
        ]
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Operations_Log",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "f2-append-op-final-status",
        "name": "GS Append Operation Final Status",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          704,
          1376
        ],
        "credentials": {
          "googleApi": {
            "id": "BtY3uGIkB5umd39o",
            "name": "Google Service Account account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {},
        "id": "manual-pause-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          -688,
          1376
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json ?? {};\nconst payload = input.payload ?? input;\n\nconst contrataId = String(payload.Contrato_ID ?? payload.contract_id ?? '').trim();\nconst adId       = String(payload.Ad_ID       ?? payload.ad_id       ?? '').trim();\nconst trackingId = String(payload.tracking_id ?? '').trim();\nconst actor      = String(payload.actor       ?? 'ops@adskiller').trim();\nconst nowIso     = new Date().toISOString();\n\nif (!adId) throw new Error('Contexto Execute Internal: Ad_ID requerido');\n\nreturn [{\n  json: {\n    // Contract row fields expected by downstream nodes\n    Contrato_ID:         contrataId,\n    Ad_ID:               adId,\n    tracking_id:         trackingId,\n    actor:               actor,\n    run_mode:            'manual',\n    manual_targeting:    true,       // bypasses regex check in Evaluate_Precheck_Meta\n    Regex_Anuncio:       '.*',       // fallback no-op regex\n\n    // Precheck retry state\n    precheck_attempt:      1,\n    precheck_max_attempts: 3,\n\n    // Pause retry state\n    pause_attempt:      1,\n    pause_max_attempts: 3,\n\n    requested_at: String(payload.requested_at ?? nowIso),\n    source:       'manual_pause_dispatch'\n  }\n}];"
        },
        "id": "contexto-execute-internal",
        "name": "Contexto Execute Internal",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -480,
          1376
        ]
      },
      {
        "id": "route-execute-action",
        "name": "Route Execute Action",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -580,
          1376
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.payload.action }}",
                "rightValue": "pause_ad",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "killswitch-engine-v1",
        "name": "Killswitch_Engine",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          96,
          1360
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const LIST_URL = 'http://168.138.125.21:5678/webhook/contract-ui-management-v2';\nconst PAUSE_URL = 'http://168.138.125.21.nip.io:5678/webhook/adskiller-meta-pause';\nconst DELAY_MS = 300;\n\nconst results = [];\n\nfunction getHttpStatus(err) {\n  return Number(\n    err?.statusCode ??\n    err?.response?.statusCode ??\n    err?.response?.status ??\n    err?.context?.response?.statusCode ??\n    0\n  ) || 0;\n}\n\nfunction resolveHttpClient() {\n  const candidates = [];\n\n  try {\n    if (typeof $helpers !== 'undefined' && $helpers) {\n      candidates.push($helpers);\n    }\n  } catch (_) {}\n\n  try {\n    if (typeof this !== 'undefined' && this && this.helpers) {\n      candidates.push(this.helpers);\n    }\n  } catch (_) {}\n\n  try {\n    if (typeof helpers !== 'undefined' && helpers) {\n      candidates.push(helpers);\n    }\n  } catch (_) {}\n\n  for (const h of candidates) {\n    if (!h) continue;\n    if (typeof h.httpRequest === 'function') {\n      return { fn: h.httpRequest, ctx: h, mode: 'httpRequest' };\n    }\n    if (typeof h.request === 'function') {\n      return { fn: h.request, ctx: h, mode: 'request' };\n    }\n  }\n\n  return null;\n}\n\nconst httpClient = resolveHttpClient();\nif (!httpClient) {\n  throw new Error('http_helper_not_available');\n}\n\nasync function httpJson(options) {\n  const opts = {\n    ...options,\n    uri: options.uri ?? options.url,\n    json: true,\n  };\n  return await httpClient.fn.call(httpClient.ctx, opts);\n}\n\nfor (const item of $input.all()) {\n  const contract = item.json ?? {};\n  const contractId = String(contract.Contrato_ID ?? contract.contract_id ?? '').trim();\n\n  let ads = [];\n  let listFailed = false;\n  let listError = '';\n  let listStatusCode = 0;\n\n  try {\n    const body = await httpJson({\n      method: 'POST',\n      url: LIST_URL,\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        action: 'listar_ads',\n        contract_id: contractId,\n        Contrato_ID: contractId,\n        correlation_id: String(contract.correlation_id ?? ''),\n      },\n      timeout: 20000,\n    });\n\n    listStatusCode = 200;\n\n    if (!body || body.ok !== true) {\n      throw new Error('listar_ads returned ok=false');\n    }\n\n    const rawAds = Array.isArray(body?.data?.ads) ? body.data.ads : [];\n    const normalized = rawAds.map((ad) => ({\n      ad_id: String(ad?.ad_id ?? ad?.id ?? '').trim(),\n      ad_name: String(ad?.ad_name ?? ad?.name ?? '').trim(),\n      ad_status: String(ad?.ad_status ?? ad?.effective_status ?? ad?.status ?? '').trim().toUpperCase(),\n    }));\n\n    ads = normalized.filter((ad) => ad.ad_id && ad.ad_status === 'ACTIVE');\n  } catch (e) {\n    listFailed = true;\n    ads = [];\n    listError = String(e?.message ?? e ?? 'list_error');\n    listStatusCode = getHttpStatus(e);\n  }\n\n  let adsPaused = 0;\n  let adsFailed = 0;\n  const adResults = [];\n\n  for (const ad of ads) {\n    try {\n      await httpJson({\n        method: 'POST',\n        url: PAUSE_URL,\n        headers: { 'Content-Type': 'application/json' },\n        body: { ad_id: ad.ad_id },\n        timeout: 20000,\n      });\n\n      adsPaused++;\n      adResults.push({\n        ad_id: ad.ad_id,\n        ad_name: ad.ad_name,\n        state: 'paused',\n        status_code: 200,\n      });\n    } catch (e) {\n      adsFailed++;\n      adResults.push({\n        ad_id: ad.ad_id,\n        ad_name: ad.ad_name,\n        state: 'failed',\n        status_code: getHttpStatus(e),\n        error: String(e?.message ?? e ?? 'pause_error'),\n      });\n    }\n\n    await new Promise((resolve) => setTimeout(resolve, DELAY_MS));\n  }\n\n  let pause_state;\n  if (listFailed) {\n    pause_state = 'list_failed';\n  } else if (adsFailed === 0) {\n    pause_state = adsPaused > 0 ? 'success' : 'no_active_ads';\n  } else {\n    pause_state = adsPaused > 0 ? 'partial' : 'failed';\n  }\n\n  results.push({\n    json: {\n      ...contract,\n      pause_state,\n      ads_total: ads.length,\n      ads_paused: adsPaused,\n      ads_failed: adsFailed,\n      ad_results: adResults,\n      ads_source: 'f1_listar_ads',\n      list_error: listError,\n      list_status_code: listStatusCode,\n      list_http_client_mode: httpClient.mode,\n      run_mode: 'killswitch',\n      source: 'killswitch_daily',\n    },\n  });\n}\n\nreturn results;"
        }
      }
    ],
    "connections": {
      "Evaluate_Rutear_Resultado_Pausa": {
        "main": [
          [
            {
              "node": "Build Finalizado Payload",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Pause_Wait_5m_Retry",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Alerta Cr?tica - Pausa fallida",
              "type": "main",
              "index": 0
            },
            {
              "node": "Build Operation Final Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Finalizado Payload": {
        "main": [
          [
            {
              "node": "Build Operation Final Status",
              "type": "main",
              "index": 0
            },
            {
              "node": "Finalizado Payload Valido",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 5m Precheck Retry": {
        "main": [
          [
            {
              "node": "Meta_Check_Precheck_Estado_Ad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Alerta Cr?tica - Regex inv?lido": {
        "main": [
          [
            {
              "node": "Emitir Alerta Critica",
              "type": "main",
              "index": 0
            },
            {
              "node": "Build F2->F3 Canonical Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate_Pausa": {
        "main": [
          [
            {
              "node": "Evaluate_Rutear_Resultado_Pausa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate_Regex_Coincide_Nombre_Sheet": {
        "main": [
          [
            {
              "node": "Init Retry Precheck",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Alerta Cr?tica - Regex inv?lido",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate_Rutear_Estado_Precheck": {
        "main": [
          [
            {
              "node": "Pause_Init_Retry",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait 5m Precheck Retry",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            },
            {
              "node": "Build Operation Final Status",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Alerta Cr?tica - Precheck fallido",
              "type": "main",
              "index": 0
            },
            {
              "node": "Build Operation Final Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Emitir Alerta Critica": {
        "main": [
          [
            {
              "node": "Stop and Error - Escalar Incidente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Init Retry Precheck": {
        "main": [
          [
            {
              "node": "Meta_Check_Precheck_Estado_Ad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Sheets - Marcar Notificado_Previo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expand Vencidos": {
        "main": [
          [
            {
              "node": "Killswitch_Engine",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Alerta Cr?tica - Pausa fallida": {
        "main": [
          [
            {
              "node": "Emitir Alerta Critica",
              "type": "main",
              "index": 0
            },
            {
              "node": "Build F2->F3 Canonical Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Manual On-Demand": {
        "main": [
          [
            {
              "node": "Contexto Manual",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute F3 Internal": {
        "main": [
          [
            {
              "node": "Log_F2_F3_Dispatch_OK",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log_F2_F3_Dispatch_Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cron Diario 00:01": {
        "main": [
          [
            {
              "node": "Contexto Scheduled",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Alerta Cr?tica - Precheck fallido": {
        "main": [
          [
            {
              "node": "Emitir Alerta Critica",
              "type": "main",
              "index": 0
            },
            {
              "node": "Build F2->F3 Canonical Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheets - Marcar Finalizado": {
        "main": [
          [
            {
              "node": "Build F2->F3 Canonical Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar HTTP Precheck": {
        "main": [
          [
            {
              "node": "Evaluate_Precheck_Meta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pause_Meta_Pausar_Ad": {
        "main": [
          [
            {
              "node": "Pause_Normalizar_HTTP",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate_Precheck_Meta": {
        "main": [
          [
            {
              "node": "Evaluate_Rutear_Estado_Precheck",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pause_Init_Retry": {
        "main": [
          [
            {
              "node": "Pause_Meta_Pausar_Ad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Finalizado Payload Valido": {
        "main": [
          [
            {
              "node": "Sheets - Marcar Finalizado",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Alerta Cr?tica - Pausa fallida",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build F2->F3 Canonical Summary": {
        "main": [
          [
            {
              "node": "Execute F3 Internal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expand Preventiva": {
        "main": [
          [
            {
              "node": "Payload Alerta Preventiva",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Payload Alerta Preventiva": {
        "main": [
          [
            {
              "node": "Emitir Alerta Operativa",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pause_Wait_5m_Retry": {
        "main": [
          [
            {
              "node": "Pause_Meta_Pausar_Ad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contexto Scheduled": {
        "main": [
          [
            {
              "node": "Sheets - Leer Contratos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Emitir Alerta Operativa": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            },
            {
              "node": "Build F2->F3 Canonical Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate_Clasificar_Contratos": {
        "main": [
          [
            {
              "node": "Expand Preventiva",
              "type": "main",
              "index": 0
            },
            {
              "node": "Expand Vencidos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Meta_Check_Precheck_Estado_Ad": {
        "main": [
          [
            {
              "node": "Normalizar HTTP Precheck",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheets - Leer Contratos": {
        "main": [
          [
            {
              "node": "Evaluate_Clasificar_Contratos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contexto Manual": {
        "main": [
          [
            {
              "node": "Sheets - Leer Contratos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pause_Normalizar_HTTP": {
        "main": [
          [
            {
              "node": "Evaluate_Pausa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Operation Final Status": {
        "main": [
          [
            {
              "node": "GS Append Operation Final Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Route Execute Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contexto Execute Internal": {
        "main": [
          [
            {
              "node": "Init Retry Precheck",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Execute Action": {
        "main": [
          [
            {
              "node": "Contexto Execute Internal",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Contexto Manual",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Killswitch_Engine": {
        "main": [
          [
            {
              "node": "Build Finalizado Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alexander Villa",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-19T00:21:57.970Z",
        "id": 493,
        "workflowId": "8mlwAxLtJVrwpLhi",
        "versionId": "e03982e2-fa2e-49dc-aa15-4951dc9896fd",
        "event": "activated",
        "userId": "3350874b-f3a7-46b8-bdc1-49a5dbdda144"
      },
      {
        "createdAt": "2026-04-19T00:21:57.920Z",
        "id": 492,
        "workflowId": "8mlwAxLtJVrwpLhi",
        "versionId": "e03982e2-fa2e-49dc-aa15-4951dc9896fd",
        "event": "deactivated",
        "userId": "3350874b-f3a7-46b8-bdc1-49a5dbdda144"
      }
    ]
  }
}