workflows/backups/mock-JwVHYsLLnoVMgvyI-fixed.json
{"name": "AdsKiller - Meta API Mock (GSheet-backed)", "nodes": [{"id": "precheck-webhook", "name": "Mock Precheck Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-600, -200], "parameters": {"httpMethod": "GET", "path": "meta/precheck/:adId", "responseMode": "responseNode", "options": {}}, "webhookId": "ak-meta-precheck-v1"}, {"id": "precheck-extract-id", "name": "Precheck - Extract Ad ID", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-380, -200], "parameters": {"jsCode": "const params = $json.params ?? {};\nconst query  = $json.query  ?? {};\nconst adId = String(params.adId ?? query.ad_id ?? '').trim();\nif (!adId) throw new Error('ad_id is required');\nreturn [{ json: { adId } }];"}}, {"id": "precheck-gs-read", "name": "Precheck - GS Read Mock_Ads", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [-160, -200], "parameters": {"authentication": "serviceAccount", "resource": "sheet", "operation": "read", "documentId": {"__rl": true, "value": "1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY", "mode": "id"}, "sheetName": {"__rl": true, "value": "Mock_Ads", "mode": "name"}, "filtersUI": {"values": [{"lookupColumn": "ad_id", "lookupValue": "={{ $('Precheck - Extract Ad ID').item.json.adId }}"}]}, "options": {}}, "credentials": {"googleApi": {"id": "BtY3uGIkB5umd39o", "name": "Google Service Account account"}}}, {"id": "precheck-build-response", "name": "Precheck - Build Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [60, -200], "parameters": {"jsCode": "const adId = $('Precheck - Extract Ad ID').item.json.adId;\nconst rows = $input.all();\nif (!rows.length || !rows[0].json.ad_id) {\n  return [{ json: { statusCode: 404, body: { error: { message: 'Ad not found', code: 100 }, id: adId } } }];\n}\nconst row = rows[0].json;\nreturn [{ json: { statusCode: 200, body: { id: row.ad_id, name: row.ad_name, status: row.status, effective_status: row.status } } }];"}}, {"id": "precheck-respond", "name": "Precheck - Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [280, -200], "parameters": {"respondWith": "json", "responseBody": "={{ $json.body }}", "options": {"responseCode": "={{ $json.statusCode }}"}}}, {"id": "pause-webhook", "name": "Mock Pause Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-600, 100], "parameters": {"httpMethod": "POST", "path": "meta/pause/:adId", "responseMode": "responseNode", "options": {}}, "webhookId": "ak-meta-pause-v1"}, {"id": "pause-extract-id", "name": "Pause - Extract Ad ID", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-380, 100], "parameters": {"jsCode": "const params = $json.params ?? {};\nconst query  = $json.query  ?? {};\nconst adId = String(params.adId ?? query.ad_id ?? '').trim();\nif (!adId) throw new Error('ad_id is required');\nreturn [{ json: { adId } }];"}}, {"id": "pause-gs-read", "name": "Pause - GS Read Mock_Ads", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [-160, 100], "parameters": {"authentication": "serviceAccount", "resource": "sheet", "operation": "read", "documentId": {"__rl": true, "value": "1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY", "mode": "id"}, "sheetName": {"__rl": true, "value": "Mock_Ads", "mode": "name"}, "filtersUI": {"values": [{"lookupColumn": "ad_id", "lookupValue": "={{ $('Pause - Extract Ad ID').item.json.adId }}"}]}, "options": {}}, "credentials": {"googleApi": {"id": "BtY3uGIkB5umd39o", "name": "Google Service Account account"}}}, {"id": "pause-gs-update", "name": "Pause - GS Update Status PAUSED", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [60, 100], "parameters": {"authentication": "serviceAccount", "resource": "sheet", "operation": "update", "documentId": {"__rl": true, "value": "1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY", "mode": "id"}, "sheetName": {"__rl": true, "value": "Mock_Ads", "mode": "name"}, "columns": {"mappingMode": "defineBelow", "value": {"ad_id": "={{ $json.ad_id }}", "status": "PAUSED"}, "matchingColumns": ["ad_id"], "schema": [{"id": "ad_id", "displayName": "ad_id", "required": false, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "status", "displayName": "status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false}]}, "options": {}}, "credentials": {"googleApi": {"id": "BtY3uGIkB5umd39o", "name": "Google Service Account account"}}}, {"id": "pause-build-response", "name": "Pause - Build Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [280, 100], "parameters": {"jsCode": "const adId = $('Pause - Extract Ad ID').item.json.adId;\nreturn [{ json: { statusCode: 200, body: { success: true, id: adId } } }];"}}, {"id": "pause-respond", "name": "Pause - Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [500, 100], "parameters": {"respondWith": "json", "responseBody": "={{ $json.body }}", "options": {"responseCode": "={{ $json.statusCode }}"}}}, {"id": "list-webhook", "name": "Mock List Ads Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-600, 400], "parameters": {"httpMethod": "GET", "path": "ak-meta-list-v1", "responseMode": "responseNode", "options": {}}, "webhookId": "ak-meta-list-v1"}, {"id": "list-gs-read-all", "name": "List - GS Read All Mock_Ads", "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [-380, 400], "parameters": {"authentication": "serviceAccount", "resource": "sheet", "operation": "read", "documentId": {"__rl": true, "value": "1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY", "mode": "id"}, "sheetName": {"__rl": true, "value": "Mock_Ads", "mode": "name"}, "filtersUI": {}, "options": {}}, "credentials": {"googleApi": {"id": "BtY3uGIkB5umd39o", "name": "Google Service Account account"}}}, {"id": "list-filter-respond", "name": "List - Filter by Pattern & Build Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-160, 400], "parameters": {"jsCode": "const pattern = String($('Mock List Ads Webhook').item.json.query?.pattern ?? '').trim();\nconst allRows = $input.all();\nlet filtered = allRows;\nif (pattern) {\n  try {\n    const regex = new RegExp(pattern, 'i');\n    filtered = allRows.filter(item => regex.test(item.json.ad_name ?? ''));\n  } catch (e) { filtered = []; }\n}\nconst data = filtered.map(item => ({ id: item.json.ad_id, name: item.json.ad_name, status: item.json.status, effective_status: item.json.status, campaign_name: item.json.campaign_name ?? '' }));\nreturn [{ json: { statusCode: 200, body: { data, paging: { cursors: { before: '', after: '' } } } } }];"}}, {"id": "list-respond", "name": "List - Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [60, 400], "parameters": {"respondWith": "json", "responseBody": "={{ $json.body }}", "options": {"responseCode": "={{ $json.statusCode }}"}}}], "connections": {"Mock Precheck Webhook": {"main": [[{"node": "Precheck - Extract Ad ID", "type": "main", "index": 0}]]}, "Precheck - Extract Ad ID": {"main": [[{"node": "Precheck - GS Read Mock_Ads", "type": "main", "index": 0}]]}, "Precheck - GS Read Mock_Ads": {"main": [[{"node": "Precheck - Build Response", "type": "main", "index": 0}]]}, "Precheck - Build Response": {"main": [[{"node": "Precheck - Respond", "type": "main", "index": 0}]]}, "Mock Pause Webhook": {"main": [[{"node": "Pause - Extract Ad ID", "type": "main", "index": 0}]]}, "Pause - Extract Ad ID": {"main": [[{"node": "Pause - GS Read Mock_Ads", "type": "main", "index": 0}]]}, "Pause - GS Read Mock_Ads": {"main": [[{"node": "Pause - GS Update Status PAUSED", "type": "main", "index": 0}]]}, "Pause - GS Update Status PAUSED": {"main": [[{"node": "Pause - Build Response", "type": "main", "index": 0}]]}, "Pause - Build Response": {"main": [[{"node": "Pause - Respond", "type": "main", "index": 0}]]}, "Mock List Ads Webhook": {"main": [[{"node": "List - GS Read All Mock_Ads", "type": "main", "index": 0}]]}, "List - GS Read All Mock_Ads": {"main": [[{"node": "List - Filter by Pattern & Build Response", "type": "main", "index": 0}]]}, "List - Filter by Pattern & Build Response": {"main": [[{"node": "List - Respond", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "saveManualExecutions": true, "saveDataSuccessExecution": "all", "saveDataErrorExecution": "all", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}}