workflows/non-canonical/testing/local-meta-testing-simulator.json
{
  "name": "AdsKiller - Local Meta Testing Simulator [DEPRECATED]",
  "description": "DEPRECATED: usar workflows/adskiller-meta-mock-gsheet.json como única fuente de verdad mock para pausa manual.",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "meta/precheck/:adId",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "precheck-webhook",
      "name": "Mock Meta Precheck Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -540,
        -80
      ],
      "webhookId": "adskiller-local-meta-precheck"
    },
    {
      "parameters": {
        "jsCode": "const query = $json.query ?? {};\nconst body = $json.body ?? {};\nconst params = $json.params ?? {};\n\nfunction pick(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') return value;\n  }\n  return undefined;\n}\n\nfunction asNumber(value) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : null;\n}\n\nconst adId = String(pick(params.adId, query.ad_id, body.ad_id, 'mock_ad_001')).trim();\nconst scenario = String(pick(query.scenario, body.scenario, 'success')).trim().toLowerCase();\n\nconst forcedStatus = asNumber(pick(query.statusCode, query.status_code, body.statusCode, body.status_code));\n\nlet statusCode = 200;\nif (forcedStatus !== null) {\n  statusCode = forcedStatus;\n} else if (scenario === 'retry429') {\n  statusCode = 429;\n} else if (scenario === 'retry500') {\n  statusCode = 500;\n} else if (scenario === 'fail400') {\n  statusCode = 400;\n}\n\nlet effectiveStatus = String(pick(query.effective_status, body.effective_status, 'ACTIVE')).trim().toUpperCase();\nif (scenario === 'inactive') effectiveStatus = 'PAUSED';\n\nlet name = String(pick(query.name, body.name, 'Black Friday Teaser')).trim();\nif (scenario === 'name_mismatch') name = `UNMATCHED_${adId}`;\n\nconst successBody = {\n  id: adId,\n  name,\n  effective_status: effectiveStatus\n};\n\nconst errorBody = {\n  error: {\n    message: `Mock Meta precheck scenario=${scenario}`,\n    code: statusCode\n  },\n  ...successBody\n};\n\nreturn [{\n  json: {\n    statusCode,\n    body: statusCode >= 200 && statusCode < 300 ? successBody : errorBody,\n    scenario\n  }\n}];"
      },
      "id": "precheck-build-response",
      "name": "Build Precheck Mock Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.body}}",
        "options": {
          "responseCode": "={{$json.statusCode}}"
        }
      },
      "id": "precheck-respond",
      "name": "Respond Precheck",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -60,
        -80
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meta/pause/:adId",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "pause-webhook",
      "name": "Mock Meta Pause Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -540,
        160
      ],
      "webhookId": "adskiller-local-meta-pause"
    },
    {
      "parameters": {
        "jsCode": "const query = $json.query ?? {};\nconst body = $json.body ?? {};\nconst params = $json.params ?? {};\n\nfunction pick(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') return value;\n  }\n  return undefined;\n}\n\nfunction asNumber(value) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : null;\n}\n\nconst adId = String(pick(params.adId, query.ad_id, body.ad_id, 'mock_ad_001')).trim();\nconst scenario = String(pick(query.scenario, body.scenario, 'success')).trim().toLowerCase();\nconst forcedStatus = asNumber(pick(query.statusCode, query.status_code, body.statusCode, body.status_code));\n\nlet statusCode = 200;\nif (forcedStatus !== null) {\n  statusCode = forcedStatus;\n} else if (scenario === 'retry429') {\n  statusCode = 429;\n} else if (scenario === 'retry500') {\n  statusCode = 500;\n} else if (scenario === 'fail400') {\n  statusCode = 400;\n}\n\nconst successBody = {\n  success: true,\n  id: adId,\n  deprecated: true,\n  deprecation_message: 'Use adskiller-meta-mock-gsheet as source of truth.'\n};\nconst errorBody = {\n  success: false,\n  error: {\n    message: `Mock Meta pause scenario=${scenario}`,\n    code: statusCode\n  },\n  deprecated: true,\n  deprecation_message: 'Use adskiller-meta-mock-gsheet as source of truth.',\n  id: adId\n};\n\nreturn [{\n  json: {\n    statusCode,\n    body: statusCode >= 200 && statusCode < 300 ? successBody : errorBody,\n    scenario\n  }\n}];"
      },
      "id": "pause-build-response",
      "name": "Build Pause Mock Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.body}}",
        "options": {
          "responseCode": "={{$json.statusCode}}"
        }
      },
      "id": "pause-respond",
      "name": "Respond Pause",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -60,
        160
      ]
    }
  ],
  "connections": {
    "Mock Meta Precheck Webhook": {
      "main": [
        [
          {
            "node": "Build Precheck Mock Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Precheck Mock Response": {
      "main": [
        [
          {
            "node": "Respond Precheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Meta Pause Webhook": {
      "main": [
        [
          {
            "node": "Build Pause Mock Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pause Mock Response": {
      "main": [
        [
          {
            "node": "Respond Pause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires"
  },
  "versionId": "adskiller-local-meta-testing-simulator-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "tags": []
}
