artifacts/tmp-review/20260414-203557/artifacts/fase-3-2-exec-latest-with-data-raw.json
{"data":[{"id":"1004","finished":true,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"success","startedAt":"2026-04-14T03:24:11.848Z","stoppedAt":"2026-04-14T03:24:12.918Z","workflowId":"cFBr6GavlSWDsUFz","waitTill":null,"data":{"version":1,"startData":{},"resultData":{"runData":{"Webhook UI":[{"startTime":1776137051853,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"user-agent":"Mozilla/5.0 (Windows NT; Windows NT 10.0; es-ES) WindowsPowerShell/5.1.19041.4780","content-type":"application/json","host":"168.138.125.21.nip.io:5678","content-length":"280","expect":"100-continue","connection":"Keep-Alive"},"params":{},"query":{},"body":{"page_size":5,"to":"2026-04-15T23:59:59Z","action":"history","page":1,"run_mode":"manual","from":"2026-04-10T00:00:00Z","correlation_id_filter":"a21-history-20260413-210754","requested_by":"ops-fase3-2@adskiller"},"webhookUrl":"http://localhost:5678/webhook/contract-ui-management-v2","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Normalize Request":[{"startTime":1776137051859,"executionIndex":1,"source":[{"previousNode":"Webhook UI","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":8,"executionStatus":"success","data":{"main":[[{"json":{"page_size":5,"to":"2026-04-15T23:59:59Z","action":"history","page":1,"run_mode":"manual","from":"2026-04-10T00:00:00Z","correlation_id_filter":"a21-history-20260413-210754","requested_by":"ops-fase3-2@adskiller","timezone":"America/Argentina/Buenos_Aires","request_ts":"2026-04-14T03:24:11.866Z","today_tz":"2026-04-14"},"pairedItem":{"item":0}}]]}}],"Validate Input":[{"startTime":1776137051873,"executionIndex":2,"source":[{"previousNode":"Normalize Request","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":8,"executionStatus":"success","data":{"main":[[{"json":{"page_size":5,"to":"2026-04-15T23:59:59Z","action":"history","page":1,"run_mode":"manual","from":"2026-04-10T00:00:00Z","correlation_id_filter":"a21-history-20260413-210754","requested_by":"ops-fase3-2@adskiller","timezone":"America/Argentina/Buenos_Aires","request_ts":"2026-04-14T03:24:11.866Z","today_tz":"2026-04-14","actor":"ops-fase3-2@adskiller","correlation_id":"ak-ui-1776137051880-z5ed4e"},"pairedItem":{"item":0}}],[]]}}],"Route Action":[{"startTime":1776137051887,"executionIndex":3,"source":[{"previousNode":"Validate Input","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":2,"executionStatus":"success","data":{"main":[[],[{"json":{"page_size":5,"to":"2026-04-15T23:59:59Z","action":"history","page":1,"run_mode":"manual","from":"2026-04-10T00:00:00Z","correlation_id_filter":"a21-history-20260413-210754","requested_by":"ops-fase3-2@adskiller","timezone":"America/Argentina/Buenos_Aires","request_ts":"2026-04-14T03:24:11.866Z","today_tz":"2026-04-14","actor":"ops-fase3-2@adskiller","correlation_id":"ak-ui-1776137051880-z5ed4e"},"pairedItem":{"item":0}}],[],[],[],[],[],[],[],[]]}}],"GS Read For Search":[{"startTime":1776137051895,"executionIndex":4,"source":[{"previousNode":"Route Action","previousNodeOutput":1,"previousNodeRun":0}],"hints":[],"executionTime":995,"executionStatus":"success","data":{"main":[[{"json":{"row_number":2,"Contrato_ID":"CTR-0001","Cliente":"Cliente A","Regex_Anuncio":"promo.*abril.*a","Ad_ID":"120000000001","Ad_Name":"Promo Abril - Producto A","Fecha_Alta":"2026-03-01","Fecha_Fin":"2026-04-04","Status_Contrato":"Finalizado","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"2026-04-08T00:32:03.930-03:00","Updated_At":"2026-04-08T00:32:03.930-03:00"},"pairedItem":{"item":0}},{"json":{"row_number":3,"Contrato_ID":"CTR-0002","Cliente":"Cliente B","Regex_Anuncio":"promo.*abril.*b","Ad_ID":"120000000002","Ad_Name":"Promo Abril - Producto B","Fecha_Alta":"2026-03-10","Fecha_Fin":"2026-04-04","Status_Contrato":"Finalizado","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"2026-04-08T00:32:03.930-03:00","Updated_At":"2026-04-08T00:32:03.930-03:00"},"pairedItem":{"item":0}},{"json":{"row_number":4,"Contrato_ID":"CTR-0003","Cliente":"Cliente C","Regex_Anuncio":"always\\s*on","Ad_ID":"120000000003","Ad_Name":"Always On Lead Gen","Fecha_Alta":"2026-03-15","Fecha_Fin":"2026-04-06","Status_Contrato":"Finalizado","Notificado_Previo":true,"Fecha_Notificado_Previo":"2026-04-04","Fecha_Finalizacion":"2026-04-08T12:01:01.855-03:00","Updated_At":"2026-04-08T12:01:01.855-03:00"},"pairedItem":{"item":0}},{"json":{"row_number":5,"Contrato_ID":"CTR-0004","Cliente":"Cliente D","Regex_Anuncio":"black\\s*friday","Ad_ID":"120000000004","Ad_Name":"Black Friday Teaser","Fecha_Alta":"2026-03-12","Fecha_Fin":"2026-04-04","Status_Contrato":"Finalizado","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"2026-04-08T12:01:01.855-03:00","Updated_At":"2026-04-08T12:01:01.855-03:00"},"pairedItem":{"item":0}},{"json":{"row_number":6,"Contrato_ID":"CTR-0005","Cliente":"Cliente E","Regex_Anuncio":"archived\\s*ad","Ad_ID":"120000000005","Ad_Name":"Archived Ad Test","Fecha_Alta":"2026-03-20","Fecha_Fin":"2026-04-04","Status_Contrato":"Finalizado","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"2026-04-13T11:52:33.376-03:00","Updated_At":"2026-04-13T11:52:33.376-03:00"},"pairedItem":{"item":0}},{"json":{"row_number":7,"Contrato_ID":"CTR-9001","Cliente":"Cliente Test","Regex_Anuncio":"promo.*test","Ad_ID":"12000009999","Ad_Name":"Promo Test Abril","Fecha_Alta":"2026-04-06","Fecha_Fin":"2026-04-08","Status_Contrato":"Finalizado","Notificado_Previo":"TRUE","Fecha_Notificado_Previo":"2026-04-10T00:01:03.290-03:00","Fecha_Finalizacion":"2026-04-14T00:15:45.867-03:00","Updated_At":"2026-04-14T00:15:45.867-03:00"},"pairedItem":{"item":0}},{"json":{"row_number":8,"Contrato_ID":"AKTC07-RESET-001","Cliente":"aaaaa","Regex_Anuncio":"AKTC05B.*","Ad_ID":120000009999,"Ad_Name":"AKTC05B Non Retryable","Fecha_Alta":"2026-04-06","Fecha_Fin":"2026-04-09","Status_Contrato":"Finalizado","Notificado_Previo":true,"Fecha_Notificado_Previo":"2026-04-09T00:01:03.936-03:00","Fecha_Finalizacion":"2026-04-10T00:01:03.764-03:00","Updated_At":"2026-04-10T00:01:03.764-03:00"},"pairedItem":{"item":0}},{"json":{"row_number":9,"Contrato_ID":"CTR-9001","Cliente":"Cliente Test","Regex_Anuncio":"promo.*test","Ad_ID":12000009999,"Ad_Name":"Promo Test Abril","Fecha_Alta":"2026-04-08","Fecha_Fin":"2026-04-10","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-08T18:16:52.143Z"},"pairedItem":{"item":0}},{"json":{"row_number":10,"Contrato_ID":"AKF1-20260412211820","Cliente":"QA F1 Cierre","Regex_Anuncio":"(?i).*akf1.*","Ad_ID":12009990000001,"Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-15","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:18:26.635Z"},"pairedItem":{"item":0}},{"json":{"row_number":11,"Contrato_ID":"AKF1-20260412211841","Cliente":"QA F1 Cierre","Regex_Anuncio":"(?i).*akf1.*","Ad_ID":12009990000001,"Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-15","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:18:47.509Z"},"pairedItem":{"item":0}},{"json":{"row_number":12,"Contrato_ID":"AKF1-CHK-20260412211957","Cliente":"QA","Regex_Anuncio":"(?i).*qa.*","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-01","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:19:58.546Z"},"pairedItem":{"item":0}},{"json":{"row_number":13,"Contrato_ID":"AKF1-CLOSE-20260412212029","Cliente":"QA F1 Close","Regex_Anuncio":"(?i).*akf1-close.*","Ad_ID":12009990000002,"Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-20","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:20:34.471Z"},"pairedItem":{"item":0}},{"json":{"row_number":14,"Contrato_ID":"CTR-F1-AUTO-20260413005240","Cliente":"Cliente Auto","Regex_Anuncio":"promo-auto","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2027-01-31","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:52:46.896Z"},"pairedItem":{"item":0}},{"json":{"row_number":15,"Contrato_ID":"CTR-INT-20260413005533","Cliente":"Integracion Controlada","Regex_Anuncio":"int-control","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-12-31","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:55:34.617Z"},"pairedItem":{"item":0}},{"json":{"row_number":16,"Contrato_ID":"CTR-FINAL-20260413135337","Cliente":"Cliente Final Pass","Regex_Anuncio":"final.*pass","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-10","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T16:53:40.288Z"},"pairedItem":{"item":0}},{"json":{"row_number":17,"Contrato_ID":"CTR-FIX2-20260413135739","Cliente":"Test Fix GS 2","Regex_Anuncio":"test.*fix2","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-22","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T16:57:42.175Z"},"pairedItem":{"item":0}},{"json":{"row_number":18,"Contrato_ID":"CTR-FIX3-20260413135855","Cliente":"Test Fix GS 3","Regex_Anuncio":"test.*fix3","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-06-23","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T16:59:08.459Z"},"pairedItem":{"item":0}},{"json":{"row_number":19,"Contrato_ID":"AUTO-20260413144207","Cliente":"QA Layout","Regex_Anuncio":"test-auto","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2027-01-31","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T17:42:28.870Z"},"pairedItem":{"item":0}},{"json":{"row_number":20,"Contrato_ID":"TEST-001","Cliente":".camila.","Regex_Anuncio":"","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-12-31","Status_Contrato":"Activo","Notificado_Previo":"","Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":""},"pairedItem":{"item":0}}]]}}],"Filter Search Results":[{"startTime":1776137052897,"executionIndex":5,"source":[{"previousNode":"GS Read For Search","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"row_number":2,"Contrato_ID":"CTR-0001","Cliente":"Cliente A","Regex_Anuncio":"promo.*abril.*a","Ad_ID":"120000000001","Ad_Name":"Promo Abril - Producto A","Fecha_Alta":"2026-03-01","Fecha_Fin":"2026-04-04","Status_Contrato":"Finalizado","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"2026-04-08T00:32:03.930-03:00","Updated_At":"2026-04-08T00:32:03.930-03:00"},"pairedItem":{"item":0}},{"json":{"row_number":3,"Contrato_ID":"CTR-0002","Cliente":"Cliente B","Regex_Anuncio":"promo.*abril.*b","Ad_ID":"120000000002","Ad_Name":"Promo Abril - Producto B","Fecha_Alta":"2026-03-10","Fecha_Fin":"2026-04-04","Status_Contrato":"Finalizado","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"2026-04-08T00:32:03.930-03:00","Updated_At":"2026-04-08T00:32:03.930-03:00"},"pairedItem":{"item":1}},{"json":{"row_number":4,"Contrato_ID":"CTR-0003","Cliente":"Cliente C","Regex_Anuncio":"always\\s*on","Ad_ID":"120000000003","Ad_Name":"Always On Lead Gen","Fecha_Alta":"2026-03-15","Fecha_Fin":"2026-04-06","Status_Contrato":"Finalizado","Notificado_Previo":true,"Fecha_Notificado_Previo":"2026-04-04","Fecha_Finalizacion":"2026-04-08T12:01:01.855-03:00","Updated_At":"2026-04-08T12:01:01.855-03:00"},"pairedItem":{"item":2}},{"json":{"row_number":5,"Contrato_ID":"CTR-0004","Cliente":"Cliente D","Regex_Anuncio":"black\\s*friday","Ad_ID":"120000000004","Ad_Name":"Black Friday Teaser","Fecha_Alta":"2026-03-12","Fecha_Fin":"2026-04-04","Status_Contrato":"Finalizado","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"2026-04-08T12:01:01.855-03:00","Updated_At":"2026-04-08T12:01:01.855-03:00"},"pairedItem":{"item":3}},{"json":{"row_number":6,"Contrato_ID":"CTR-0005","Cliente":"Cliente E","Regex_Anuncio":"archived\\s*ad","Ad_ID":"120000000005","Ad_Name":"Archived Ad Test","Fecha_Alta":"2026-03-20","Fecha_Fin":"2026-04-04","Status_Contrato":"Finalizado","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"2026-04-13T11:52:33.376-03:00","Updated_At":"2026-04-13T11:52:33.376-03:00"},"pairedItem":{"item":4}},{"json":{"row_number":7,"Contrato_ID":"CTR-9001","Cliente":"Cliente Test","Regex_Anuncio":"promo.*test","Ad_ID":"12000009999","Ad_Name":"Promo Test Abril","Fecha_Alta":"2026-04-06","Fecha_Fin":"2026-04-08","Status_Contrato":"Finalizado","Notificado_Previo":"TRUE","Fecha_Notificado_Previo":"2026-04-10T00:01:03.290-03:00","Fecha_Finalizacion":"2026-04-14T00:15:45.867-03:00","Updated_At":"2026-04-14T00:15:45.867-03:00"},"pairedItem":{"item":5}},{"json":{"row_number":8,"Contrato_ID":"AKTC07-RESET-001","Cliente":"aaaaa","Regex_Anuncio":"AKTC05B.*","Ad_ID":120000009999,"Ad_Name":"AKTC05B Non Retryable","Fecha_Alta":"2026-04-06","Fecha_Fin":"2026-04-09","Status_Contrato":"Finalizado","Notificado_Previo":true,"Fecha_Notificado_Previo":"2026-04-09T00:01:03.936-03:00","Fecha_Finalizacion":"2026-04-10T00:01:03.764-03:00","Updated_At":"2026-04-10T00:01:03.764-03:00"},"pairedItem":{"item":6}},{"json":{"row_number":9,"Contrato_ID":"CTR-9001","Cliente":"Cliente Test","Regex_Anuncio":"promo.*test","Ad_ID":12000009999,"Ad_Name":"Promo Test Abril","Fecha_Alta":"2026-04-08","Fecha_Fin":"2026-04-10","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-08T18:16:52.143Z"},"pairedItem":{"item":7}},{"json":{"row_number":10,"Contrato_ID":"AKF1-20260412211820","Cliente":"QA F1 Cierre","Regex_Anuncio":"(?i).*akf1.*","Ad_ID":12009990000001,"Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-15","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:18:26.635Z"},"pairedItem":{"item":8}},{"json":{"row_number":11,"Contrato_ID":"AKF1-20260412211841","Cliente":"QA F1 Cierre","Regex_Anuncio":"(?i).*akf1.*","Ad_ID":12009990000001,"Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-15","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:18:47.509Z"},"pairedItem":{"item":9}},{"json":{"row_number":12,"Contrato_ID":"AKF1-CHK-20260412211957","Cliente":"QA","Regex_Anuncio":"(?i).*qa.*","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-01","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:19:58.546Z"},"pairedItem":{"item":10}},{"json":{"row_number":13,"Contrato_ID":"AKF1-CLOSE-20260412212029","Cliente":"QA F1 Close","Regex_Anuncio":"(?i).*akf1-close.*","Ad_ID":12009990000002,"Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-20","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:20:34.471Z"},"pairedItem":{"item":11}},{"json":{"row_number":14,"Contrato_ID":"CTR-F1-AUTO-20260413005240","Cliente":"Cliente Auto","Regex_Anuncio":"promo-auto","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2027-01-31","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:52:46.896Z"},"pairedItem":{"item":12}},{"json":{"row_number":15,"Contrato_ID":"CTR-INT-20260413005533","Cliente":"Integracion Controlada","Regex_Anuncio":"int-control","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-12-31","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:55:34.617Z"},"pairedItem":{"item":13}},{"json":{"row_number":16,"Contrato_ID":"CTR-FINAL-20260413135337","Cliente":"Cliente Final Pass","Regex_Anuncio":"final.*pass","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-10","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T16:53:40.288Z"},"pairedItem":{"item":14}},{"json":{"row_number":17,"Contrato_ID":"CTR-FIX2-20260413135739","Cliente":"Test Fix GS 2","Regex_Anuncio":"test.*fix2","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-22","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T16:57:42.175Z"},"pairedItem":{"item":15}},{"json":{"row_number":18,"Contrato_ID":"CTR-FIX3-20260413135855","Cliente":"Test Fix GS 3","Regex_Anuncio":"test.*fix3","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-06-23","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T16:59:08.459Z"},"pairedItem":{"item":16}},{"json":{"row_number":19,"Contrato_ID":"AUTO-20260413144207","Cliente":"QA Layout","Regex_Anuncio":"test-auto","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2027-01-31","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T17:42:28.870Z"},"pairedItem":{"item":17}},{"json":{"row_number":20,"Contrato_ID":"TEST-001","Cliente":".camila.","Regex_Anuncio":"","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-12-31","Status_Contrato":"Activo","Notificado_Previo":"","Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":""},"pairedItem":{"item":18}}]]}}],"Respond Search":[{"startTime":1776137052911,"executionIndex":6,"source":[{"previousNode":"Filter Search Results","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"row_number":2,"Contrato_ID":"CTR-0001","Cliente":"Cliente A","Regex_Anuncio":"promo.*abril.*a","Ad_ID":"120000000001","Ad_Name":"Promo Abril - Producto A","Fecha_Alta":"2026-03-01","Fecha_Fin":"2026-04-04","Status_Contrato":"Finalizado","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"2026-04-08T00:32:03.930-03:00","Updated_At":"2026-04-08T00:32:03.930-03:00"},"pairedItem":{"item":0}},{"json":{"row_number":3,"Contrato_ID":"CTR-0002","Cliente":"Cliente B","Regex_Anuncio":"promo.*abril.*b","Ad_ID":"120000000002","Ad_Name":"Promo Abril - Producto B","Fecha_Alta":"2026-03-10","Fecha_Fin":"2026-04-04","Status_Contrato":"Finalizado","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"2026-04-08T00:32:03.930-03:00","Updated_At":"2026-04-08T00:32:03.930-03:00"},"pairedItem":{"item":1}},{"json":{"row_number":4,"Contrato_ID":"CTR-0003","Cliente":"Cliente C","Regex_Anuncio":"always\\s*on","Ad_ID":"120000000003","Ad_Name":"Always On Lead Gen","Fecha_Alta":"2026-03-15","Fecha_Fin":"2026-04-06","Status_Contrato":"Finalizado","Notificado_Previo":true,"Fecha_Notificado_Previo":"2026-04-04","Fecha_Finalizacion":"2026-04-08T12:01:01.855-03:00","Updated_At":"2026-04-08T12:01:01.855-03:00"},"pairedItem":{"item":2}},{"json":{"row_number":5,"Contrato_ID":"CTR-0004","Cliente":"Cliente D","Regex_Anuncio":"black\\s*friday","Ad_ID":"120000000004","Ad_Name":"Black Friday Teaser","Fecha_Alta":"2026-03-12","Fecha_Fin":"2026-04-04","Status_Contrato":"Finalizado","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"2026-04-08T12:01:01.855-03:00","Updated_At":"2026-04-08T12:01:01.855-03:00"},"pairedItem":{"item":3}},{"json":{"row_number":6,"Contrato_ID":"CTR-0005","Cliente":"Cliente E","Regex_Anuncio":"archived\\s*ad","Ad_ID":"120000000005","Ad_Name":"Archived Ad Test","Fecha_Alta":"2026-03-20","Fecha_Fin":"2026-04-04","Status_Contrato":"Finalizado","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"2026-04-13T11:52:33.376-03:00","Updated_At":"2026-04-13T11:52:33.376-03:00"},"pairedItem":{"item":4}},{"json":{"row_number":7,"Contrato_ID":"CTR-9001","Cliente":"Cliente Test","Regex_Anuncio":"promo.*test","Ad_ID":"12000009999","Ad_Name":"Promo Test Abril","Fecha_Alta":"2026-04-06","Fecha_Fin":"2026-04-08","Status_Contrato":"Finalizado","Notificado_Previo":"TRUE","Fecha_Notificado_Previo":"2026-04-10T00:01:03.290-03:00","Fecha_Finalizacion":"2026-04-14T00:15:45.867-03:00","Updated_At":"2026-04-14T00:15:45.867-03:00"},"pairedItem":{"item":5}},{"json":{"row_number":8,"Contrato_ID":"AKTC07-RESET-001","Cliente":"aaaaa","Regex_Anuncio":"AKTC05B.*","Ad_ID":120000009999,"Ad_Name":"AKTC05B Non Retryable","Fecha_Alta":"2026-04-06","Fecha_Fin":"2026-04-09","Status_Contrato":"Finalizado","Notificado_Previo":true,"Fecha_Notificado_Previo":"2026-04-09T00:01:03.936-03:00","Fecha_Finalizacion":"2026-04-10T00:01:03.764-03:00","Updated_At":"2026-04-10T00:01:03.764-03:00"},"pairedItem":{"item":6}},{"json":{"row_number":9,"Contrato_ID":"CTR-9001","Cliente":"Cliente Test","Regex_Anuncio":"promo.*test","Ad_ID":12000009999,"Ad_Name":"Promo Test Abril","Fecha_Alta":"2026-04-08","Fecha_Fin":"2026-04-10","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-08T18:16:52.143Z"},"pairedItem":{"item":7}},{"json":{"row_number":10,"Contrato_ID":"AKF1-20260412211820","Cliente":"QA F1 Cierre","Regex_Anuncio":"(?i).*akf1.*","Ad_ID":12009990000001,"Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-15","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:18:26.635Z"},"pairedItem":{"item":8}},{"json":{"row_number":11,"Contrato_ID":"AKF1-20260412211841","Cliente":"QA F1 Cierre","Regex_Anuncio":"(?i).*akf1.*","Ad_ID":12009990000001,"Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-15","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:18:47.509Z"},"pairedItem":{"item":9}},{"json":{"row_number":12,"Contrato_ID":"AKF1-CHK-20260412211957","Cliente":"QA","Regex_Anuncio":"(?i).*qa.*","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-01","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:19:58.546Z"},"pairedItem":{"item":10}},{"json":{"row_number":13,"Contrato_ID":"AKF1-CLOSE-20260412212029","Cliente":"QA F1 Close","Regex_Anuncio":"(?i).*akf1-close.*","Ad_ID":12009990000002,"Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-20","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:20:34.471Z"},"pairedItem":{"item":11}},{"json":{"row_number":14,"Contrato_ID":"CTR-F1-AUTO-20260413005240","Cliente":"Cliente Auto","Regex_Anuncio":"promo-auto","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2027-01-31","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:52:46.896Z"},"pairedItem":{"item":12}},{"json":{"row_number":15,"Contrato_ID":"CTR-INT-20260413005533","Cliente":"Integracion Controlada","Regex_Anuncio":"int-control","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-12-31","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T00:55:34.617Z"},"pairedItem":{"item":13}},{"json":{"row_number":16,"Contrato_ID":"CTR-FINAL-20260413135337","Cliente":"Cliente Final Pass","Regex_Anuncio":"final.*pass","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-10","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T16:53:40.288Z"},"pairedItem":{"item":14}},{"json":{"row_number":17,"Contrato_ID":"CTR-FIX2-20260413135739","Cliente":"Test Fix GS 2","Regex_Anuncio":"test.*fix2","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-05-22","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T16:57:42.175Z"},"pairedItem":{"item":15}},{"json":{"row_number":18,"Contrato_ID":"CTR-FIX3-20260413135855","Cliente":"Test Fix GS 3","Regex_Anuncio":"test.*fix3","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-06-23","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T16:59:08.459Z"},"pairedItem":{"item":16}},{"json":{"row_number":19,"Contrato_ID":"AUTO-20260413144207","Cliente":"QA Layout","Regex_Anuncio":"test-auto","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2027-01-31","Status_Contrato":"Activo","Notificado_Previo":false,"Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":"2026-04-13T17:42:28.870Z"},"pairedItem":{"item":17}},{"json":{"row_number":20,"Contrato_ID":"TEST-001","Cliente":".camila.","Regex_Anuncio":"","Ad_ID":"","Ad_Name":"","Fecha_Alta":"2026-04-13","Fecha_Fin":"2026-12-31","Status_Contrato":"Activo","Notificado_Previo":"","Fecha_Notificado_Previo":"","Fecha_Finalizacion":"","Updated_At":""},"pairedItem":{"item":18}}]]}}]},"lastNodeExecuted":"Respond Search"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1776137051853,"source":"webhook","redaction":{"version":1,"policy":"none"},"triggerNode":{"name":"Webhook UI","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"cFBr6GavlSWDsUFz","name":"contract-ui-management-v2","active":true,"activeVersionId":"7d667f94-1dae-4a4f-86f0-81355c74ee20","isArchived":false,"createdAt":"2026-04-13T16:26:01.150Z","updatedAt":"2026-04-14T03:23:22.757Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"contract-ui-management-v2","authentication":"none","responseMode":"responseNode","webhookNotice":"","options":{}},"id":"1","name":"Webhook UI","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1184,128],"webhookId":"contract-ui-management-v2"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const payload = $json.body ?? $json;\nconst action = String(payload.action ?? '').trim().toLowerCase();\nconst timezone = 'America/Argentina/Buenos_Aires';\n\nfunction nowDateInTZ(tz) {\n  const fmt = new Intl.DateTimeFormat('en-CA', {\n    timeZone: tz,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  });\n  return fmt.format(new Date()); // YYYY-MM-DD\n}\n\nreturn [\n  {\n    json: {\n      ...payload,\n      action,\n      timezone,\n      request_ts: new Date().toISOString(),\n      today_tz: nowDateInTZ(timezone),\n    },\n  },\n];","notice":""},"id":"2","name":"Normalize Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,128]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const input = $json;\nconst allowedActions = new Set(['alta','search', 'consulta', 'extension', 'baja_manual', 'listar_ads', 'run_now', 'history', 'pause_ad', 'pause_active']);\n\nfunction isValidDateFormat(value) {\n  if (typeof value !== 'string') return false;\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(value)) return false;\n  const [y, m, d] = value.split('-').map(Number);\n  const dt = new Date(Date.UTC(y, m - 1, d));\n  return dt.getUTCFullYear() === y && dt.getUTCMonth() === (m - 1) && dt.getUTCDate() === d;\n}\n\nfunction toBool(value, fallback = false) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const normalized = String(value).trim().toLowerCase();\n  return ['1', 'true', 'si', 'yes', 'y'].includes(normalized);\n}\n\nfunction normalizeB64(value) {\n  const raw = String(value || '').trim().replace(/-/g, '+').replace(/_/g, '/');\n  const padding = raw.length % 4;\n  return padding ? raw + '='.repeat(4 - padding) : raw;\n}\n\nfunction badRequest(message, details = {}) {\n  const err = new Error(message);\n  err.name = 'ValidationError';\n  err.details = details;\n  throw err;\n}\n\nif (!allowedActions.has(input.action)) {\n  badRequest('`action` invalida. Usar: alta | search | consulta | extension | baja_manual | listar_ads | run_now | history | pause_ad | pause_active', { action: input.action });\n}\n\ninput.actor = String(input.requested_by ?? input.actor ?? 'ops@adskiller').trim();\nconst hasCorrelationId = Object.prototype.hasOwnProperty.call(input, 'correlation_id')\n  && String(input.correlation_id ?? '').trim() !== '';\nconst providedCorrelationId = hasCorrelationId ? String(input.correlation_id).trim() : '';\ninput.correlation_id = String(input.correlation_id ?? `ak-ui-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`);\n\nif (input.action === 'alta') {\n  const required = ['Contrato_ID', 'Cliente', 'Regex_Anuncio', 'Fecha_Fin'];\n  const missing = required.filter((f) => !String(input[f] ?? '').trim());\n  if (missing.length) badRequest('Faltan campos obligatorios para alta', { missing });\n  if (!isValidDateFormat(input.Fecha_Fin)) badRequest('Fecha_Fin invalida. Formato requerido: YYYY-MM-DD');\n}\n\nif (input.action === 'extension') {\n  const required = ['Contrato_ID', 'Nueva_Fecha_Fin'];\n  const missing = required.filter((f) => !String(input[f] ?? '').trim());\n  if (missing.length) badRequest('Faltan campos obligatorios para extension', { missing });\n  if (!isValidDateFormat(input.Nueva_Fecha_Fin)) badRequest('Nueva_Fecha_Fin invalida. Formato requerido: YYYY-MM-DD');\n}\n\nif (input.action === 'search') {\n  if (!String(input.q ?? '').trim()) badRequest('q es obligatorio para search');\n  input.q = String(input.q).trim();\n}\nif (input.action === 'consulta') {\n  const dias = Number(input.dias_proximos ?? 7);\n  if (!Number.isInteger(dias) || dias < 1 || dias > 60) badRequest('dias_proximos invalido. Debe ser entero entre 1 y 60');\n  input.dias_proximos = dias;\n}\n\nif (input.action === 'baja_manual' || input.action === 'listar_ads' || input.action === 'pause_ad' || input.action === 'pause_active') {\n  if (!String(input.Contrato_ID ?? '').trim()) badRequest('Contrato_ID es obligatorio para esta accion');\n}\n\nif (input.action === 'pause_ad' && !String(input.Ad_ID ?? '').trim()) {\n  badRequest('Ad_ID es obligatorio para pause_ad');\n}\n\nif (input.action === 'pause_active') {\n  const dryRun = toBool(input.dry_run, true);\n  const maxBatchSize = Number(input.max_batch_size ?? input.batch_limit ?? 20);\n  if (!Number.isInteger(maxBatchSize) || maxBatchSize < 1 || maxBatchSize > 100) {\n    badRequest('max_batch_size invalido. Debe ser entero entre 1 y 100');\n  }\n\n  input.dry_run = dryRun;\n  input.max_batch_size = maxBatchSize;\n  input.batch_limit = maxBatchSize;\n\n  if (dryRun) {\n    input.action = 'pause_active_preview';\n  } else {\n    const confirmToken = String(input.confirm_token ?? '').trim();\n    if (!confirmToken) {\n      badRequest('confirm_token es obligatorio cuando dry_run=false');\n    }\n\n    try {\n      const decoded = JSON.parse(Buffer.from(normalizeB64(confirmToken), 'base64').toString('utf8'));\n      const tokenContractId = String(decoded.contract_id ?? '').trim();\n      const tokenBatchSize = Number(decoded.max_batch_size ?? 0);\n      const expiresAt = Number(decoded.expires_at_epoch_ms ?? 0);\n\n      if (!tokenContractId || tokenContractId !== String(input.Contrato_ID).trim()) {\n        badRequest('confirm_token no corresponde al Contrato_ID enviado');\n      }\n      if (!Number.isInteger(tokenBatchSize) || tokenBatchSize !== maxBatchSize) {\n        badRequest('confirm_token no corresponde al max_batch_size enviado');\n      }\n      if (!Number.isFinite(expiresAt) || Date.now() > expiresAt) {\n        badRequest('confirm_token vencido');\n      }\n    } catch (err) {\n      badRequest('confirm_token invalido', { reason: String(err?.message ?? err) });\n    }\n\n    input.confirm_token = confirmToken;\n    input.confirm = true;\n  }\n}\n\nif (input.action === 'history') {\n  const page = Number(input.page ?? 1);\n  const pageSize = Number(input.page_size ?? 25);\n  if (!Number.isInteger(page) || page < 1) badRequest('page invalido. Minimo 1');\n  if (!Number.isInteger(pageSize) || pageSize < 1 || pageSize > 100) badRequest('page_size invalido. Debe ser 1..100');\n  input.page = page;\n  input.page_size = pageSize;\n\n  if (hasCorrelationId && !String(input.correlation_id_filter ?? input.correlation_id_query ?? '').trim()) {\n    input.correlation_id_filter = providedCorrelationId;\n  }\n}\n\nreturn [{ json: input }];","notice":""},"id":"3","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,128],"onError":"continueErrorOutput"},{"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"alta","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":false},{"conditions":{"value1":"{{ \\.action }}","operation":"equal","options":{},"value2":"search"},"renameOutput":false},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"extension","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":false},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"baja_manual","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":false},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"listar_ads","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":false},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"run_now","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":false},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"history","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":false},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"pause_ad","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":false},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"pause_active_preview","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":false},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"pause_active","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":false}]},"looseTypeValidation":false,"options":{}},"id":"4","name":"Route Action","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-528,128]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{\n  json: {\n    Contrato_ID: String($json.Contrato_ID).trim(),\n    Cliente: String($json.Cliente).trim(),\n    Regex_Anuncio: String($json.Regex_Anuncio).trim(),\n    Fecha_Alta: String($json.Fecha_Alta ?? $json.today_tz),\n    Fecha_Fin: String($json.Fecha_Fin),\n    Status_Contrato: String($json.Status_Contrato ?? 'Activo'),\n    Notificado_Previo: false,\n    Ad_ID: String($json.Ad_ID ?? ''),\n    Ad_Name: String($json.Ad_Name ?? ''),\n    Fecha_Notificado_Previo: '',\n    Fecha_Finalizacion: '',\n    Updated_At: $json.request_ts,\n  },\n}];","notice":""},"id":"5","name":"Prepare Alta Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,-80]},{"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"append","documentId":{"__rl":true,"value":"={{ $env.GSHEET_CONTRATOS_DOC_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6","name":"GS Append Alta","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-80,-80],"credentials":{"googleApi":{"id":"BtY3uGIkB5umd39o","name":"Google Service Account account"}}},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ { ok: true, action: 'alta', message: 'Contrato creado', data: $json } }}","options":{"responseCode":201}},"id":"7","name":"Respond Alta","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[144,-80]},{"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"read","documentId":{"__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"filtersUI":{},"combineFilters":"AND","options":{}},"id":"8","name":"GS Read Contratos","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-304,128],"credentials":{"googleApi":{"id":"BtY3uGIkB5umd39o","name":"Google Service Account account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const trigger = $items('Validate Input', 0, 0)[0].json;\nconst dias = Number(trigger.dias_proximos ?? 7);\n\nfunction parseYmd(ymd) {\n  const [y, m, d] = String(ymd).split('-').map(Number);\n  return new Date(Date.UTC(y, m - 1, d));\n}\n\nconst today = parseYmd(trigger.today_tz);\nconst maxDate = new Date(today.getTime() + dias * 24 * 60 * 60 * 1000);\n\nconst out = [];\nfor (const item of items) {\n  const row = item.json;\n  const exp = String(row.Fecha_Fin ?? '').trim();\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(exp)) continue;\n\n  const expDate = parseYmd(exp);\n  if (row.Status_Contrato === 'Finalizado') continue;\n\n  if (expDate >= today && expDate <= maxDate) {\n    out.push({ json: row });\n  }\n}\n\nout.sort((a, b) => String(a.json.Fecha_Fin).localeCompare(String(b.json.Fecha_Fin)));\nreturn out;","notice":""},"id":"9","name":"Filter Proximos Vencer","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,128]},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ { ok: true, action: 'consulta', dias_proximos: $items('Validate Input', 0, 0)[0].json.dias_proximos, total: $items('Filter Proximos Vencer').length, data: $items('Filter Proximos Vencer').map(i => i.json) } }}","options":{"responseCode":200}},"id":"10","name":"Respond Consulta","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[144,128]},{"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"read","documentId":{"__rl":true,"value":"={{ $env.GSHEET_CONTRATOS_DOC_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"filtersUI":{},"combineFilters":"AND","options":{}},"id":"11","name":"GS Read For Extension","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-304,320],"credentials":{"googleApi":{"id":"BtY3uGIkB5umd39o","name":"Google Service Account account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const req = $items('Validate Input', 0, 0)[0].json;\nconst idContrato = String(req.Contrato_ID).trim();\nconst found = items.find((i) => String(i.json.Contrato_ID ?? '').trim() === idContrato);\n\nif (!found) {\n  const err = new Error('Contrato no encontrado para extension');\n  err.name = 'NotFoundError';\n  err.details = { Contrato_ID: idContrato };\n  throw err;\n}\n\nreturn [{\n  json: {\n    ...found.json,\n    Contrato_ID: idContrato,\n    Fecha_Fin: String(req.Nueva_Fecha_Fin),\n    Notificado_Previo: false,\n    Updated_At: req.request_ts,\n  },\n}];","notice":""},"id":"12","name":"Prepare Extension Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,320]},{"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $env.GSHEET_CONTRATOS_DOC_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Contrato_ID"],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"13","name":"GS Update Extension","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[144,320],"credentials":{"googleApi":{"id":"BtY3uGIkB5umd39o","name":"Google Service Account account"}}},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ { ok: true, action: 'extension', message: 'Contrato extendido y Notificado_Previo reseteado', data: $json } }}","options":{"responseCode":200}},"id":"14","name":"Respond Extension","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[368,320]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const input = $json ?? {};\nconst nowIso = new Date().toISOString();\nconst safeAction = String(input.action ?? 'unknown').trim().toLowerCase();\nconst correlationId = String(input.correlation_id ?? `ak-f1-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`);\nconst logicalExecutionId = String(input.logical_execution_id ?? `${correlationId}:f1:${safeAction}`);\n\nreturn [{\n  json: {\n    schema_version: '1.0.0',\n    event_type: 'contract.ui.action',\n    source_workflow: 'contract-ui-management-v2',\n    target_workflow_id: '8mlwAxLtJVrwpLhi',\n    timezone: String(input.timezone ?? 'America/Argentina/Buenos_Aires'),\n    correlation_id: correlationId,\n    logical_execution_id: logicalExecutionId,\n    execution: {\n      n8n_execution_id: String($execution?.id ?? ''),\n      run_type: 'internal_execute_workflow',\n      status: 'queued'\n    },\n    payload: {\n      action: safeAction,\n      run_mode: String(input.run_mode ?? 'manual'),\n      actor: String(input.actor ?? 'ops@adskiller'),\n      tracking_id: String(input.tracking_id ?? ''),\n      Contrato_ID: String(input.Contrato_ID ?? ''),\n      Ad_ID: String(input.Ad_ID ?? ''),\n      Fecha_Fin: String(input.Fecha_Fin ?? ''),\n      Nueva_Fecha_Fin: String(input.Nueva_Fecha_Fin ?? ''),\n      Regex_Anuncio: String(input.Regex_Anuncio ?? ''),\n      request_ts: String(input.requested_at ?? input.request_ts ?? nowIso),\n      requested_at: String(input.requested_at ?? input.request_ts ?? nowIso),\n      today_tz: String(input.today_tz ?? ''),\n      timezone: String(input.timezone ?? 'America/Argentina/Buenos_Aires'),\n      dry_run: Boolean(input.dry_run ?? false),\n      confirm: Boolean(input.confirm ?? false),\n      confirm_token: String(input.confirm_token ?? ''),\n      max_batch_size: Number(input.max_batch_size ?? input.batch_limit ?? 20),\n      batch_limit: Number(input.batch_limit ?? input.max_batch_size ?? 20)\n    },\n    dispatched_at: nowIso\n  }\n}];","notice":""},"id":"15","name":"Build Internal Payload F1->F2","type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,-304]},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"__rl":true,"value":"8mlwAxLtJVrwpLhi","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"once","options":{"waitForSubWorkflow":true}},"id":"16","name":"Execute F2 Internal","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-288,-304],"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const source = $json ?? {};\nreturn [{\n  json: {\n    event: 'internal_chain_dispatch_ok',\n    source_workflow: 'contract-ui-management',\n    target_workflow_id: '8mlwAxLtJVrwpLhi',\n    correlation_id: String(source.correlation_id ?? ''),\n    logical_execution_id: String(source.logical_execution_id ?? ''),\n    status: 'dispatched',\n    timestamp: new Date().toISOString()\n  }\n}];","notice":""},"id":"17","name":"Log F1 Chain Dispatch OK","type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-384]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const source = $json ?? {};\nreturn [{\n  json: {\n    event: 'internal_chain_dispatch_error',\n    source_workflow: 'contract-ui-management',\n    target_workflow_id: '8mlwAxLtJVrwpLhi',\n    correlation_id: String(source.correlation_id ?? ''),\n    logical_execution_id: String(source.logical_execution_id ?? ''),\n    status: 'error',\n    error: String(source.error?.message ?? source.message ?? 'unknown_execute_workflow_error'),\n    timestamp: new Date().toISOString()\n  }\n}];","notice":""},"id":"18","name":"Log F1 Chain Dispatch Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-224]},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ { ok: false, error: 'ValidationError', message: 'Input invalido' } }}","options":{"responseCode":400}},"id":"valerr400","name":"Respond Validation Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-304,320]},{"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"read","documentId":{"__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"filtersUI":{},"combineFilters":"AND","options":{}},"id":"a2-read-baja","name":"GS Read For Baja","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-304,528],"credentials":{"googleApi":{"id":"BtY3uGIkB5umd39o","name":"Google Service Account account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const req = $items('Validate Input', 0, 0)[0].json;\nconst idContrato = String(req.Contrato_ID).trim();\nconst actor = String(req.actor ?? 'ops@adskiller');\nconst reason = String(req.reason ?? 'Cierre manual por operacion').trim();\nconst found = items.find((i) => String(i.json.Contrato_ID ?? '').trim() === idContrato);\nif (!found) { const err = new Error('Contrato no encontrado para baja_manual'); err.name = 'NotFoundError'; err.details = { Contrato_ID: idContrato }; throw err; }\nreturn [{ json: { ...found.json, Contrato_ID: idContrato, Status_Contrato: 'Finalizado', Fecha_Finalizacion: req.request_ts, Updated_At: req.request_ts, Finalizado_By: actor, Finalizado_Reason: reason } }];","notice":""},"id":"a2-prepare-baja","name":"Prepare Baja Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,528]},{"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Contrato_ID"],"schema":[{"id":"Contrato_ID","displayName":"Contrato_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cliente","displayName":"Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Regex_Anuncio","displayName":"Regex_Anuncio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ad_ID","displayName":"Ad_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ad_Name","displayName":"Ad_Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fecha_Alta","displayName":"Fecha_Alta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fecha_Fin","displayName":"Fecha_Fin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status_Contrato","displayName":"Status_Contrato","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Notificado_Previo","displayName":"Notificado_Previo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fecha_Notificado_Previo","displayName":"Fecha_Notificado_Previo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fecha_Finalizacion","displayName":"Fecha_Finalizacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Updated_At","displayName":"Updated_At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"a2-update-baja","name":"GS Update Baja","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[144,528],"credentials":{"googleApi":{"id":"BtY3uGIkB5umd39o","name":"Google Service Account account"}}},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ { ok: true, action: 'baja_manual', message: 'Contrato finalizado manualmente', data: $json, meta: { correlation_id: $items('Validate Input',0,0)[0].json.correlation_id, execution_id: $execution.id, actor: $items('Validate Input',0,0)[0].json.actor, timestamp: $items('Validate Input',0,0)[0].json.request_ts } } }}","options":{"responseCode":200}},"id":"a2-respond-baja","name":"Respond Baja Manual","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[368,528]},{"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"read","documentId":{"__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"filtersUI":{},"combineFilters":"AND","options":{}},"id":"a2-read-ads","name":"GS Read For Listar Ads","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-304,704],"credentials":{"googleApi":{"id":"BtY3uGIkB5umd39o","name":"Google Service Account account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const req = $items('Validate Input', 0, 0)[0].json;\nconst idContrato = String(req.Contrato_ID).trim();\nconst ads = items.filter((i) => String(i.json.Contrato_ID ?? '').trim() === idContrato).map((i) => ({ ad_id: String(i.json.Ad_ID ?? ''), ad_name: String(i.json.Ad_Name ?? ''), ad_status: String(i.json.Status_Ad ?? i.json.Ad_Status ?? 'UNKNOWN').toUpperCase(), contract_status: String(i.json.Status_Contrato ?? '') })).filter((it) => it.ad_id);\nreturn [{ json: { contract_id: idContrato, total: ads.length, items: ads } }];","notice":""},"id":"a2-build-ads","name":"Build Listar Ads Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,704]},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ { ok: true, action: 'listar_ads', data: $json, meta: { correlation_id: $items('Validate Input',0,0)[0].json.correlation_id, execution_id: $execution.id, actor: $items('Validate Input',0,0)[0].json.actor, timestamp: $items('Validate Input',0,0)[0].json.request_ts } } }}","options":{"responseCode":200}},"id":"a2-respond-ads","name":"Respond Listar Ads","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[144,704]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const req = $items('Validate Input', 0, 0)[0].json;\nconst nowIso = new Date().toISOString();\nconst trackingId = String(req.tracking_id ?? `trk-${Date.now()}-${Math.random().toString(36).slice(2, 7)}`);\nconst normalizedAction = String(req.action || '').trim();\nconst dispatchAction = normalizedAction === 'pause_active_preview' ? 'pause_active' : normalizedAction;\nconst maxBatchSize = Number(req.max_batch_size ?? req.batch_limit ?? 0);\nreturn [{\n  json: {\n    tracking_id: trackingId,\n    correlation_id: String(req.correlation_id),\n    logical_execution_id: `${trackingId}:f1:${dispatchAction}`,\n    action: dispatchAction,\n    run_mode: 'manual',\n    actor: String(req.actor ?? 'ops@adskiller'),\n    requested_at: req.request_ts ?? nowIso,\n    execution_id: String($execution?.id ?? ''),\n    status: 'accepted',\n    Contrato_ID: String(req.Contrato_ID ?? ''),\n    Ad_ID: String(req.Ad_ID ?? ''),\n    dry_run: Boolean(req.dry_run ?? false),\n    confirm: Boolean(req.confirm ?? false),\n    confirm_token: String(req.confirm_token ?? ''),\n    max_batch_size: Number.isInteger(maxBatchSize) ? maxBatchSize : 0,\n    batch_limit: Number.isInteger(maxBatchSize) ? maxBatchSize : Number(req.batch_limit ?? 0),\n    reason: String(req.reason ?? ''),\n    timezone: String(req.timezone ?? 'America/Argentina/Buenos_Aires')\n  }\n}];","notice":""},"id":"a2-build-tracking","name":"Build Operation Tracking","type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,912]},{"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"append","documentId":{"__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY","mode":"id"},"sheetName":{"__rl":true,"value":"Operations_Log","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"a2-append-oplog","name":"GS Append Operation Log","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-80,912],"credentials":{"googleApi":{"id":"BtY3uGIkB5umd39o","name":"Google Service Account account"}},"onError":"continueErrorOutput"},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ { ok: true, action: $json.action, data: { accepted: true, tracking_id: $json.tracking_id, correlation_id: $json.correlation_id, status: 'queued' }, meta: { execution_id: $json.execution_id || $execution.id, actor: $json.actor, timestamp: $json.requested_at } } }}","options":{"responseCode":202}},"id":"a2-respond-op","name":"Respond Operation Accepted","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[144,912]},{"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"read","documentId":{"__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY","mode":"id"},"sheetName":{"__rl":true,"value":"Operations_Log","mode":"name"},"filtersUI":{},"combineFilters":"AND","options":{}},"id":"a2-read-history","name":"GS Read Operations History","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-304,1088],"credentials":{"googleApi":{"id":"BtY3uGIkB5umd39o","name":"Google Service Account account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const req = $items('Validate Input', 0, 0)[0].json;\nconst requestedPage = Number(req.page ?? 1);\nconst requestedPageSize = Number(req.page_size ?? 25);\nconst page = Number.isInteger(requestedPage) && requestedPage > 0 ? requestedPage : 1;\nconst pageSize = Number.isInteger(requestedPageSize) && requestedPageSize > 0 ? Math.min(requestedPageSize, 100) : 25;\n\nconst from = String(req.from ?? '').trim();\nconst to = String(req.to ?? '').trim();\nconst resultFilter = String(req.result ?? '').trim().toLowerCase();\nconst runModeFilter = String(req.run_mode ?? '').trim().toLowerCase();\nconst executionFilter = String(req.execution_id ?? '').trim();\nconst correlationFilter = String(req.correlation_id_filter ?? req.correlation_id_query ?? '').trim();\n\nconst parseTs = (value) => {\n  const date = new Date(value);\n  return Number.isNaN(date.getTime()) ? null : date;\n};\n\nconst fromDate = from ? parseTs(from) : null;\nconst toDate = to ? parseTs(to) : null;\nlet rows = items.map((item) => item.json || {});\n\nrows = rows.filter((row) => {\n  const ts = parseTs(row.requested_at ?? row.timestamp ?? row.executed_at ?? '');\n  if (fromDate && (!ts || ts < fromDate)) return false;\n  if (toDate && (!ts || ts > toDate)) return false;\n\n  const rowResult = String(row.status ?? row.result ?? '').trim().toLowerCase();\n  const rowRunMode = String(row.run_mode ?? '').trim().toLowerCase();\n  const rowExecutionId = String(row.execution_id ?? '').trim();\n  const rowCorrelationId = String(row.correlation_id ?? '').trim();\n\n  if (resultFilter && rowResult !== resultFilter) return false;\n  if (runModeFilter && rowRunMode !== runModeFilter) return false;\n  if (executionFilter && rowExecutionId !== executionFilter) return false;\n  if (correlationFilter && rowCorrelationId !== correlationFilter) return false;\n\n  return true;\n});\n\nrows.sort((a, b) => String(b.requested_at ?? b.timestamp ?? '').localeCompare(String(a.requested_at ?? a.timestamp ?? '')));\n\nconst total = rows.length;\nconst start = (page - 1) * pageSize;\nconst itemsPage = rows.slice(start, start + pageSize).map((row) => ({\n  execution_id: String(row.execution_id ?? ''),\n  tracking_id: String(row.tracking_id ?? ''),\n  correlation_id: String(row.correlation_id ?? ''),\n  action: String(row.action ?? ''),\n  run_mode: String(row.run_mode ?? ''),\n  result: String(row.status ?? row.result ?? ''),\n  actor: String(row.actor ?? ''),\n  executed_at: String(row.requested_at ?? row.timestamp ?? row.executed_at ?? ''),\n}));\n\nreturn [{\n  json: {\n    page,\n    page_size: pageSize,\n    total,\n    items: itemsPage,\n  },\n}];","notice":""},"id":"a2-build-history","name":"Build History Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,1088]},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ { ok: true, action: 'history', data: $json, meta: { correlation_id: $items('Validate Input',0,0)[0].json.correlation_id, execution_id: $execution.id, actor: $items('Validate Input',0,0)[0].json.actor, timestamp: $items('Validate Input',0,0)[0].json.request_ts } } }}","options":{"responseCode":200}},"id":"a2-respond-history","name":"Respond History","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[144,1088]},{"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"read","documentId":{"__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"filtersUI":{},"combineFilters":"AND","options":{}},"id":"a2-read-pause-preview","name":"GS Read For Pause Active Preview","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-304,1264],"credentials":{"googleApi":{"id":"BtY3uGIkB5umd39o","name":"Google Service Account account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const req = $items('Validate Input', 0, 0)[0].json;\nconst contractId = String(req.Contrato_ID ?? '').trim();\nconst maxBatchSize = Number(req.max_batch_size ?? req.batch_limit ?? 20);\nconst actor = String(req.actor ?? 'ops@adskiller').trim();\nconst ttlMs = 10 * 60 * 1000;\n\nfunction encodeBase64Url(value) {\n  return Buffer.from(value, 'utf8')\n    .toString('base64')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_')\n    .replace(/=+$/g, '');\n}\n\nconst candidates = items\n  .filter((i) => String(i.json.Contrato_ID ?? '').trim() === contractId)\n  .filter((i) => String(i.json.Status_Contrato ?? '').trim().toLowerCase() === 'activo')\n  .slice(0, maxBatchSize)\n  .map((i) => ({\n    ad_id: String(i.json.Ad_ID ?? ''),\n    ad_name: String(i.json.Ad_Name ?? ''),\n    contract_id: contractId\n  }));\n\nconst nowMs = Date.now();\nconst expiresAt = nowMs + ttlMs;\nconst tokenPayload = {\n  contract_id: contractId,\n  actor,\n  max_batch_size: maxBatchSize,\n  issued_at_epoch_ms: nowMs,\n  expires_at_epoch_ms: expiresAt,\n  candidate_count: candidates.filter((x) => x.ad_id).length\n};\nconst confirmToken = encodeBase64Url(JSON.stringify(tokenPayload));\n\nreturn [{\n  json: {\n    dry_run: true,\n    contract_id: contractId,\n    max_batch_size: maxBatchSize,\n    total_candidates: candidates.length,\n    would_pause: candidates.filter((x) => x.ad_id).length,\n    confirm_token: confirmToken,\n    confirm_token_expires_at: new Date(expiresAt).toISOString(),\n    items: candidates\n  }\n}];","notice":""},"id":"a2-build-pause-preview","name":"Build Pause Active Preview","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,1264]},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ { ok: true, action: 'pause_active', data: $json, meta: { correlation_id: $items('Validate Input',0,0)[0].json.correlation_id, execution_id: $execution.id, actor: $items('Validate Input',0,0)[0].json.actor, timestamp: $items('Validate Input',0,0)[0].json.request_ts } } }}","options":{"responseCode":200}},"id":"a2-respond-pause-preview","name":"Respond Pause Active Preview","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[144,1264]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.action}}","operation":"in","value2":"run_now,pause_ad,pause_active"}]},"options":{}},"id":"a2-if-dispatch","name":"Should Dispatch F2","type":"n8n-nodes-base.if","typeVersion":2,"position":[-80,-304]},{"parameters":{"authentication":"serviceAccount","resource":"sheet","operation":"read","documentId":{"mode":"id","__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY"},"sheetName":{"mode":"name","__rl":true,"value":"Contratos"},"filtersUI":{},"combineFilters":"AND","options":{}},"id":"search-read","name":"GS Read For Search","type":"n8n-nodes-base.googleSheets","position":[-80,208],"typeVersion":4.5,"credentials":{"googleApi":{"id":"BtY3uGIkB5umd39o","name":"Google Service Account account"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const query = String($items('Validate Input', 0, 0)[0].json.q ?? '').toLowerCase();\nconst results = items.filter(item => {\n  const cliente = String(item.json.Cliente ?? '').toLowerCase();\n  return cliente.includes(query);\n});\nreturn results;","notice":""},"id":"search-filter","name":"Filter Search Results","type":"n8n-nodes-base.code","position":[80,208],"typeVersion":2},{"parameters":{"generalNotice":"","respondWith":"json","webhookNotice":"","responseBody":"={{ { ok: true, action: 'search', query: $items('Validate Input',0,0)[0].json.q, total: $items('Filter Search Results').length, data: $items('Filter Search Results').map(item => item.json) } }}","options":{"responseCode":200}},"id":"search-respond","name":"Respond Search","type":"n8n-nodes-base.respondToWebhook","position":[240,208],"typeVersion":1.1}],"connections":{"Webhook UI":{"main":[[{"node":"Normalize Request","type":"main","index":0}]]},"Normalize Request":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Route Action","type":"main","index":0}],[{"node":"Respond Validation Error","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Prepare Alta Row","type":"main","index":0}],[{"node":"GS Read For Search","type":"main","index":0}],[{"node":"GS Read For Extension","type":"main","index":0}],[{"node":"GS Read For Baja","type":"main","index":0}],[{"node":"GS Read For Listar Ads","type":"main","index":0}],[{"node":"Build Operation Tracking","type":"main","index":0}],[{"node":"GS Read Operations History","type":"main","index":0}],[{"node":"Build Operation Tracking","type":"main","index":0}],[{"node":"GS Read For Pause Active Preview","type":"main","index":0}],[{"node":"Build Operation Tracking","type":"main","index":0}]]},"Prepare Alta Row":{"main":[[{"node":"GS Append Alta","type":"main","index":0}]]},"GS Append Alta":{"main":[[{"node":"Respond Alta","type":"main","index":0}]]},"GS Read Contratos":{"main":[[{"node":"Filter Proximos Vencer","type":"main","index":0}]]},"Filter Proximos Vencer":{"main":[[{"node":"Respond Consulta","type":"main","index":0}]]},"GS Read For Extension":{"main":[[{"node":"Prepare Extension Row","type":"main","index":0}]]},"Prepare Extension Row":{"main":[[{"node":"GS Update Extension","type":"main","index":0}]]},"GS Update Extension":{"main":[[{"node":"Respond Extension","type":"main","index":0}]]},"Build Internal Payload F1->F2":{"main":[[{"node":"Should Dispatch F2","type":"main","index":0}]]},"Execute F2 Internal":{"main":[[{"node":"Log F1 Chain Dispatch OK","type":"main","index":0}],[{"node":"Log F1 Chain Dispatch Error","type":"main","index":0}]]},"Should Dispatch F2":{"main":[[{"node":"Execute F2 Internal","type":"main","index":0}],[]]},"GS Read For Baja":{"main":[[{"node":"Prepare Baja Row","type":"main","index":0}]]},"Prepare Baja Row":{"main":[[{"node":"GS Update Baja","type":"main","index":0}]]},"GS Update Baja":{"main":[[{"node":"Respond Baja Manual","type":"main","index":0}]]},"GS Read For Listar Ads":{"main":[[{"node":"Build Listar Ads Response","type":"main","index":0}]]},"Build Listar Ads Response":{"main":[[{"node":"Respond Listar Ads","type":"main","index":0}]]},"Build Operation Tracking":{"main":[[{"node":"GS Append Operation Log","type":"main","index":0},{"node":"Build Internal Payload F1->F2","type":"main","index":0}]]},"GS Append Operation Log":{"main":[[{"node":"Respond Operation Accepted","type":"main","index":0}],[{"node":"Respond Operation Accepted","type":"main","index":0}]]},"GS Read Operations History":{"main":[[{"node":"Build History Response","type":"main","index":0}]]},"Build History Response":{"main":[[{"node":"Respond History","type":"main","index":0}]]},"GS Read For Pause Active Preview":{"main":[[{"node":"Build Pause Active Preview","type":"main","index":0}]]},"Build Pause Active Preview":{"main":[[{"node":"Respond Pause Active Preview","type":"main","index":0}]]},"Filter Search Results":{"main":[[{"node":"Respond Search","type":"main","index":0}]]},"GS Read For Search":{"main":[[{"node":"Filter Search Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{},"pinData":{}},"customData":{}}],"nextCursor":"eyJsYXN0SWQiOiIxMDA0IiwibGltaXQiOjF9"}
