workflows/contract-ui-management.json
{
  "name": "contract-ui-management",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contract-ui-management",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook UI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1180,
        120
      ],
      "webhookId": "contract-ui-management"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nconst action = String(payload.action ?? '').trim().toLowerCase();\nconst timezone = 'America/Argentina/Buenos_Aires';\n\nfunction nowDateInTZ(tz) {\n  const fmt = new Intl.DateTimeFormat('en-CA', {\n    timeZone: tz,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  });\n  return fmt.format(new Date()); // YYYY-MM-DD\n}\n\nreturn [\n  {\n    json: {\n      ...payload,\n      action,\n      timezone,\n      request_ts: new Date().toISOString(),\n      today_tz: nowDateInTZ(timezone),\n    },\n  },\n];"
      },
      "id": "2",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst allowedActions = new Set(['alta', 'consulta', 'extension']);\n\nfunction isValidDateFormat(value) {\n  if (typeof value !== 'string') return false;\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(value)) return false;\n  const [y, m, d] = value.split('-').map(Number);\n  const dt = new Date(Date.UTC(y, m - 1, d));\n  return dt.getUTCFullYear() === y && dt.getUTCMonth() === (m - 1) && dt.getUTCDate() === d;\n}\n\nfunction badRequest(message, details = {}) {\n  const err = new Error(message);\n  err.name = 'ValidationError';\n  err.details = details;\n  throw err;\n}\n\nif (!allowedActions.has(input.action)) {\n  badRequest('`action` inválida. Usar: alta | consulta | extension', { action: input.action });\n}\n\nif (input.action === 'alta') {\n  const required = ['Contrato_ID', 'Cliente', 'Regex_Anuncio', 'Fecha_Fin'];\n  const missing = required.filter((f) => !String(input[f] ?? '').trim());\n  if (missing.length) {\n    badRequest('Faltan campos obligatorios para alta', { missing });\n  }\n\n  if (!isValidDateFormat(input.Fecha_Fin)) {\n    badRequest('Fecha_Fin inválida. Formato requerido: YYYY-MM-DD');\n  }\n}\n\nif (input.action === 'extension') {\n  const required = ['Contrato_ID', 'Nueva_Fecha_Fin'];\n  const missing = required.filter((f) => !String(input[f] ?? '').trim());\n  if (missing.length) {\n    badRequest('Faltan campos obligatorios para extension', { missing });\n  }\n\n  if (!isValidDateFormat(input.Nueva_Fecha_Fin)) {\n    badRequest('Nueva_Fecha_Fin inválida. Formato requerido: YYYY-MM-DD');\n  }\n}\n\nif (input.action === 'consulta') {\n  const dias = Number(input.dias_proximos ?? 7);\n  if (!Number.isInteger(dias) || dias < 1 || dias > 60) {\n    badRequest('dias_proximos inválido. Debe ser entero entre 1 y 60');\n  }\n  input.dias_proximos = dias;\n}\n\nreturn [{ json: input }];"
      },
      "id": "3",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -740,
        120
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "alta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "consulta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "extension",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -520,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    Contrato_ID: String($json.Contrato_ID).trim(),\n    Cliente: String($json.Cliente).trim(),\n    Regex_Anuncio: String($json.Regex_Anuncio).trim(),\n    Fecha_Alta: String($json.Fecha_Alta ?? $json.today_tz),\n    Fecha_Fin: String($json.Fecha_Fin),\n    Status_Contrato: String($json.Status_Contrato ?? 'Activo'),\n    Notificado_Previo: false,\n    Ad_ID: String($json.Ad_ID ?? ''),\n    Updated_At: $json.request_ts,\n  },\n}];"
      },
      "id": "5",
      "name": "Prepare Alta Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GSHEET_CONTRATOS_DOC_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Contratos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6",
      "name": "GS Append Alta",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -80,
        -80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "={{ $env.GSHEETS_CREDENTIAL_ID }}",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, action: 'alta', message: 'Contrato creado', data: $json } }}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "7",
      "name": "Respond Alta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        140,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GSHEET_CONTRATOS_DOC_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Contratos",
          "mode": "name"
        },
        "options": {
          "returnAll": true
        }
      },
      "id": "8",
      "name": "GS Read Contratos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -300,
        120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "={{ $env.GSHEETS_CREDENTIAL_ID }}",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trigger = $items('Validate Input', 0, 0)[0].json;\nconst dias = Number(trigger.dias_proximos ?? 7);\n\nfunction parseYmd(ymd) {\n  const [y, m, d] = String(ymd).split('-').map(Number);\n  return new Date(Date.UTC(y, m - 1, d));\n}\n\nconst today = parseYmd(trigger.today_tz);\nconst maxDate = new Date(today.getTime() + dias * 24 * 60 * 60 * 1000);\n\nconst out = [];\nfor (const item of items) {\n  const row = item.json;\n  const exp = String(row.Fecha_Fin ?? '').trim();\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(exp)) continue;\n\n  const expDate = parseYmd(exp);\n  if (row.Status_Contrato === 'Finalizado') continue;\n\n  if (expDate >= today && expDate <= maxDate) {\n    out.push({ json: row });\n  }\n}\n\nout.sort((a, b) => String(a.json.Fecha_Fin).localeCompare(String(b.json.Fecha_Fin)));\nreturn out;"
      },
      "id": "9",
      "name": "Filter Proximos Vencer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, action: 'consulta', dias_proximos: $items('Validate Input', 0, 0)[0].json.dias_proximos, total: $items('Filter Proximos Vencer').length, data: $items('Filter Proximos Vencer').map(i => i.json) } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "10",
      "name": "Respond Consulta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        140,
        120
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GSHEET_CONTRATOS_DOC_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Contratos",
          "mode": "name"
        },
        "options": {
          "returnAll": true
        }
      },
      "id": "11",
      "name": "GS Read For Extension",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -300,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "={{ $env.GSHEETS_CREDENTIAL_ID }}",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const req = $items('Validate Input', 0, 0)[0].json;\nconst idContrato = String(req.Contrato_ID).trim();\nconst found = items.find((i) => String(i.json.Contrato_ID ?? '').trim() === idContrato);\n\nif (!found) {\n  const err = new Error('Contrato no encontrado para extension');\n  err.name = 'NotFoundError';\n  err.details = { Contrato_ID: idContrato };\n  throw err;\n}\n\nreturn [{\n  json: {\n    ...found.json,\n    Contrato_ID: idContrato,\n    Fecha_Fin: String(req.Nueva_Fecha_Fin),\n    Notificado_Previo: false,\n    Updated_At: req.request_ts,\n  },\n}];"
      },
      "id": "12",
      "name": "Prepare Extension Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        320
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GSHEET_CONTRATOS_DOC_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Contratos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Contrato_ID"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "13",
      "name": "GS Update Extension",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        140,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "={{ $env.GSHEETS_CREDENTIAL_ID }}",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, action: 'extension', message: 'Contrato extendido y Notificado_Previo reseteado', data: $json } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "14",
      "name": "Respond Extension",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        360,
        320
      ]
    }
  ],
  "connections": {
    "Webhook UI": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Prepare Alta Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GS Read Contratos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GS Read For Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Alta Row": {
      "main": [
        [
          {
            "node": "GS Append Alta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS Append Alta": {
      "main": [
        [
          {
            "node": "Respond Alta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS Read Contratos": {
      "main": [
        [
          {
            "node": "Filter Proximos Vencer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Proximos Vencer": {
      "main": [
        [
          {
            "node": "Respond Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS Read For Extension": {
      "main": [
        [
          {
            "node": "Prepare Extension Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Extension Row": {
      "main": [
        [
          {
            "node": "GS Update Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS Update Extension": {
      "main": [
        [
          {
            "node": "Respond Extension",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "adskiller-local"
  },
  "id": "contract-ui-management",
  "tags": [
    {
      "name": "adskiller"
    },
    {
      "name": "mvp"
    },
    {
      "name": "ui"
    }
  ]
}
