artifacts/tmp-review/20260414-203557/downloaded-f1.json
{"updatedAt":"2026-04-13T04:32:17.498Z","createdAt":"2026-04-06T01:47:32.329Z","id":"rpnGFPo0nDthwzdB","name":"contract-ui-management","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"contract-ui-management","responseMode":"responseNode","options":{}},"id":"1","name":"Webhook UI","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1180,120],"webhookId":"contract-ui-management"},{"parameters":{"jsCode":"const payload = $json.body ?? $json;\nconst action = String(payload.action ?? '').trim().toLowerCase();\nconst timezone = 'America/Argentina/Buenos_Aires';\n\nfunction nowDateInTZ(tz) {\n  const fmt = new Intl.DateTimeFormat('en-CA', {\n    timeZone: tz,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  });\n  return fmt.format(new Date());\n}\n\nreturn [\n  {\n    json: {\n      ...payload,\n      action,\n      timezone,\n      request_ts: new Date().toISOString(),\n      today_tz: nowDateInTZ(timezone),\n    },\n  };\n]"},"id":"2","name":"Normalize Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,120]},{"parameters":{"jsCode":"const input = $json;\nconst allowedActions = new Set(['alta', 'consulta', 'extension']);\n\nfunction isValidDateFormat(value) {\n  if (typeof value !== 'string') return false;\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(value)) return false;\n  const [y, m, d] = value.split('-').map(Number);\n  const dt = new Date(Date.UTC(y, m - 1, d));\n  return dt.getUTCFullYear() === y && dt.getUTCMonth() === (m - 1) && dt.getUTCDate() === d;\n}\n\nfunction badRequest(message, details = {}) {\n  const err = new Error(message);\n  err.name = 'ValidationError';\n  err.details = details;\n  throw err;\n}\n\nif (!allowedActions.has(input.action)) {\n  badRequest('`action` inválida. Usar: alta | consulta | extension', { action: input.action });\n}\n\nif (input.action === 'alta') {\n  const required = ['Contrato_ID', 'Cliente', 'Regex_Anuncio', 'Fecha_Fin'];\n  const missing = required.filter((f) => !String(input[f] ?? '').trim());\n  if (missing.length) {\n    badRequest('Faltan campos obligatorios para alta', { missing });\n  }\n\n  if (!isValidDateFormat(input.Fecha_Fin)) {\n    badRequest('Fecha_Fin inválida. Formato requerido: YYYY-MM-DD');\n  }\n}\n\nif (input.action === 'extension') {\n  const required = ['Contrato_ID', 'Nueva_Fecha_Fin'];\n  const missing = required.filter((f) => !String(input[f] ?? '').trim());\n  if (missing.length) {\n    badRequest('Faltan campos obligatorios para extension', { missing });\n  }\n\n  if (!isValidDateFormat(input.Nueva_Fecha_Fin)) {\n    badRequest('Nueva_Fecha_Fin inválida. Formato requerido: YYYY-MM-DD');\n  }\n}\n\nif (input.action === 'consulta') {\n  const dias = Number(input.dias_proximos ?? 7);\n  if (!Number.isInteger(dias) || dias < 1 || dias > 60) {\n    badRequest('dias_proximos inválido. Debe ser entero entre 1 y 60');\n  }\n  input.dias_proximos = dias;\n}\n\nreturn [{ json: input }];"},"id":"3","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-740,120]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"alta","operator":{"type":"string","operation":"equals"}}]},"combinator":"and"}]},"options":{}},"id":"4","name":"Route Action","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-520,120]},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      Contrato_ID: String($json.Contrato_ID).trim(),\n      Cliente: String($json.Cliente).trim(),\n      Regex_Anuncio: String($json.Regex_Anuncio).trim(),\n      Fecha_Alta: String($json.Fecha_Alta ?? $json.today_tz),\n      Fecha_Fin: String($json.Fecha_Fin),\n      Status_Contrato: String($json.Status_Contrato ?? 'Activo'),\n      Notificado_Previo: false,\n      Ad_ID: String($json.Ad_ID ?? ''),\n      Ad_Name: String($json.Ad_Name ?? ''),\n      Fecha_Notificado_Previo: '',\n      Fecha_Finalizacion: '',\n      Updated_At: $json.request_ts,\n    },\n  },\n];"},"id":"5","name":"Prepare Alta Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,-80]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6","name":"GS Append Alta","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-80,-80],"credentials":{"googleSheetsOAuth2Api":{"id":"qIEJQ6Bbcg8r9QWG","name":"Google Sheets account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, action: 'alta', message: 'Contrato creado', data: $json } }}","options":{"responseCode":201}},"id":"7","name":"Respond Alta","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[140,-80]},{"parameters":{"operation":"read","documentId":{"__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"options":{"returnAll":true}},"id":"8","name":"GS Read Contratos","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-300,120],"credentials":{"googleSheetsOAuth2Api":{"id":"qIEJQ6Bbcg8r9QWG","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const trigger = $items('Validate Input', 0, 0)[0].json;\nconst dias = Number(trigger.dias_proximos ?? 7);\n\nfunction parseYmd(ymd) {\n  const [y, m, d] = String(ymd).split('-').map(Number);\n  return new Date(Date.UTC(y, m - 1, d));\n}\n\nconst today = parseYmd(trigger.today_tz);\nconst maxDate = new Date(today.getTime() + dias * 24 * 60 * 60 * 1000);\n\nconst out = [];\nfor (const item of items) {\n  const row = item.json;\n  const exp = String(row.Fecha_Fin ?? '').trim();\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(exp)) continue;\n\n  const expDate = parseYmd(exp);\n  if (row.Status_Contrato === 'Finalizado') continue;\n\n  if (expDate >= today && expDate <= maxDate) {\n    out.push({ json: row });\n  }\n}\n\nout.sort((a, b) => String(a.json.Fecha_Fin).localeCompare(String(b.json.Fecha_Fin)));\nreturn out;"},"id":"9","name":"Filter Proximos Vencer","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,120]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, action: 'consulta', dias_proximos: $items('Validate Input', 0, 0)[0].json.dias_proximos, total: $items('Filter Proximos Vencer').length, data: $items('Filter Proximos Vencer').map(i => i.json) } }}","options":{"responseCode":200}},"id":"10","name":"Respond Consulta","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[140,120]},{"parameters":{"operation":"read","documentId":{"__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"options":{"returnAll":true}},"id":"11","name":"GS Read For Extension","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-300,320],"credentials":{"googleSheetsOAuth2Api":{"id":"qIEJQ6Bbcg8r9QWG","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const req = $items('Validate Input', 0, 0)[0].json;\nconst idContrato = String(req.Contrato_ID).trim();\nconst found = items.find((i) => String(i.json.Contrato_ID ?? '').trim() === idContrato);\n\nif (!found) {\n  const err = new Error('Contrato no encontrado para extension');\n  err.name = 'NotFoundError';\n  err.details = { Contrato_ID: idContrato };\n  throw err;\n}\n\nreturn [\n  {\n    json: {\n      ...found.json,\n      Contrato_ID: idContrato,\n      Fecha_Fin: String(req.Nueva_Fecha_Fin),\n      Notificado_Previo: false,\n      Updated_At: req.request_ts,\n    },\n  };\n]"},"id":"12","name":"Prepare Extension Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,320]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Contrato_ID"],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"13","name":"GS Update Extension","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[140,320],"credentials":{"googleSheetsOAuth2Api":{"id":"qIEJQ6Bbcg8r9QWG","name":"Google Sheets account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, action: 'extension', message: 'Contrato extendido y Notificado_Previo reseteado', data: $json } }}","options":{"responseCode":200}},"id":"14","name":"Respond Extension","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[360,320]},{"parameters":{"jsCode":"const input = $json ?? {};\nconst nowIso = new Date().toISOString();\nconst safeAction = String(input.action ?? 'unknown').trim().toLowerCase();\nconst correlationId = String(input.correlation_id ?? `ak-f1-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`);\nconst logicalExecutionId = String(input.logical_execution_id ?? `${correlationId}:f1:${safeAction}`);\n\nreturn [\n  {\n    json: {\n      schema_version: '1.0.0',\n      event_type: 'contract.ui.action',\n      source_workflow: 'contract-ui-management',\n      target_workflow_id: '8mlwAxLtJVrwpLhi',\n      timezone: String(input.timezone ?? 'America/Argentina/Buenos_Aires'),\n      correlation_id: correlationId,\n      logical_execution_id: logicalExecutionId,\n      execution: {\n        n8n_execution_id: String($execution?.id ?? ''),\n        run_type: 'internal_execute_workflow',\n        status: 'queued'\n      },\n      payload: {\n        action: safeAction,\n        Contrato_ID: String(input.Contrato_ID ?? ''),\n        Fecha_Fin: String(input.Fecha_Fin ?? ''),\n        Nueva_Fecha_Fin: String(input.Nueva_Fecha_Fin ?? ''),\n        Regex_Anuncio: String(input.Regex_Anuncio ?? ''),\n        request_ts: String(input.request_ts ?? nowIso),\n        today_tz: String(input.today_tz ?? ''),\n        timezone: String(input.timezone ?? 'America/Argentina/Buenos_Aires')\n      },\n      dispatched_at: nowIso\n    },\n  };\n];"},"id":"15","name":"Build Internal Payload F1->F2","type":"n8n-nodes-base.code","typeVersion":2,"position":[-520,-300]},{"parameters":{"workflowId":{"__rl":true,"value":"8mlwAxLtJVrwpLhi","mode":"id"},"options":{"waitForSubWorkflow":true}},"id":"16","name":"Execute F2 Internal","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-280,-300],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const source = $json ?? {};\nreturn [\n  {\n    json: {\n      event: 'internal_chain_dispatch_ok',\n      source_workflow: 'contract-ui-management',\n      target_workflow_id: '8mlwAxLtJVrwpLhi',\n      correlation_id: String(source.correlation_id ?? ''),\n      logical_execution_id: String(source.logical_execution_id ?? ''),\n      status: 'dispatched',\n      timestamp: new Date().toISOString()\n    },\n  };\n];"},"id":"17","name":"Log F1 Chain Dispatch OK","type":"n8n-nodes-base.code","typeVersion":2,"position":[-40,-380]},{"parameters":{"jsCode":"const source = $json ?? {};\nreturn [\n  {\n    json: {\n      event: 'internal_chain_dispatch_error',\n      source_workflow: 'contract-ui-management',\n      target_workflow_id: '8mlwAxLtJVrwpLhi',\n      correlation_id: String(source.correlation_id ?? ''),\n      logical_execution_id: String(source.logical_execution_id ?? ''),\n      status: 'error',\n      error: String(source.error?.message ?? source.message ?? 'unknown_execute_workflow_error'),\n      timestamp: new Date().toISOString()\n    },\n  };\n];"},"id":"18","name":"Log F1 Chain Dispatch Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-40,-220]}],"connections":{"Webhook UI":{"main":[[{"node":"Normalize Request","type":"main","index":0}]]},"Normalize Request":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Route Action","type":"main","index":0}],[{"node":"Build Internal Payload F1->F2","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Prepare Alta Row","type":"main","index":0}],[{"node":"GS Read Contratos","type":"main","index":0}],[{"node":"GS Read For Extension","type":"main","index":0}]]},"Prepare Alta Row":{"main":[[{"node":"GS Append Alta","type":"main","index":0}]]},"GS Append Alta":{"main":[[{"node":"Respond Alta","type":"main","index":0}]]},"GS Read Contratos":{"main":[[{"node":"Filter Proximos Vencer","type":"main","index":0}]]},"Filter Proximos Vencer":{"main":[[{"node":"Respond Consulta","type":"main","index":0}]]},"GS Read For Extension":{"main":[[{"node":"Prepare Extension Row","type":"main","index":0}]]},"Prepare Extension Row":{"main":[[{"node":"GS Update Extension","type":"main","index":0}]]},"GS Update Extension":{"main":[[{"node":"Respond Extension","type":"main","index":0}]]},"Build Internal Payload F1->F2":{"main":[[{"node":"Execute F2 Internal","type":"main","index":0}]]},"Execute F2 Internal":{"main":[[{"node":"Log F1 Chain Dispatch OK","type":"main","index":0}],[{"node":"Log F1 Chain Dispatch Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":true,"saveManualExecutions":true,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook UI":[{"json":{"headers":{"content-type":"application/json","user-agent":"PostmanRuntime/7.53.0","accept":"*/*","postman-token":"2ebd7aa6-5d46-4c7b-be38-8405983914f4","host":"168.138.125.21.nip.io:5678","accept-encoding":"gzip, deflate, br","connection":"keep-alive","content-length":"244"},"params":{},"query":{},"body":{"action":"alta","Contrato_ID":"CTR-9001","Cliente":"Cliente Test","Regex_Anuncio":"promo.*test","Fecha_Fin":"2026-04-10","Canal_Notificacion":"Slack","Ad_ID":"12000009999","Ad_Name":"Promo Test Abril"},"webhookUrl":"http://168.138.125.21.nip.io:5678/webhook/contract-ui-management","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"ec685104-d2df-4af4-bd4d-86d44bc725a4","activeVersionId":"ec685104-d2df-4af4-bd4d-86d44bc725a4","versionCounter":101,"triggerCount":1,"shared":[{"updatedAt":"2026-04-06T01:47:32.332Z","createdAt":"2026-04-06T01:47:32.332Z","role":"workflow:owner","workflowId":"rpnGFPo0nDthwzdB","projectId":"Z0pgCY9RJ5VJF6JD","project":{"updatedAt":"2026-03-13T00:12:04.657Z","createdAt":"2026-03-13T00:09:47.440Z","id":"Z0pgCY9RJ5VJF6JD","name":"Alexander Villa <alexandervilla.cuenta@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"3350874b-f3a7-46b8-bdc1-49a5dbdda144"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-13T04:32:17.500Z","createdAt":"2026-04-13T04:32:17.500Z","versionId":"ec685104-d2df-4af4-bd4d-86d44bc725a4","workflowId":"rpnGFPo0nDthwzdB","nodes":[{"parameters":{"httpMethod":"POST","path":"contract-ui-management","responseMode":"responseNode","options":{}},"id":"1","name":"Webhook UI","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1180,120],"webhookId":"contract-ui-management"},{"parameters":{"jsCode":"const payload = $json.body ?? $json;\nconst action = String(payload.action ?? '').trim().toLowerCase();\nconst timezone = 'America/Argentina/Buenos_Aires';\n\nfunction nowDateInTZ(tz) {\n  const fmt = new Intl.DateTimeFormat('en-CA', {\n    timeZone: tz,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  });\n  return fmt.format(new Date());\n}\n\nreturn [\n  {\n    json: {\n      ...payload,\n      action,\n      timezone,\n      request_ts: new Date().toISOString(),\n      today_tz: nowDateInTZ(timezone),\n    },\n  };\n]"},"id":"2","name":"Normalize Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,120]},{"parameters":{"jsCode":"const input = $json;\nconst allowedActions = new Set(['alta', 'consulta', 'extension']);\n\nfunction isValidDateFormat(value) {\n  if (typeof value !== 'string') return false;\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(value)) return false;\n  const [y, m, d] = value.split('-').map(Number);\n  const dt = new Date(Date.UTC(y, m - 1, d));\n  return dt.getUTCFullYear() === y && dt.getUTCMonth() === (m - 1) && dt.getUTCDate() === d;\n}\n\nfunction badRequest(message, details = {}) {\n  const err = new Error(message);\n  err.name = 'ValidationError';\n  err.details = details;\n  throw err;\n}\n\nif (!allowedActions.has(input.action)) {\n  badRequest('`action` inválida. Usar: alta | consulta | extension', { action: input.action });\n}\n\nif (input.action === 'alta') {\n  const required = ['Contrato_ID', 'Cliente', 'Regex_Anuncio', 'Fecha_Fin'];\n  const missing = required.filter((f) => !String(input[f] ?? '').trim());\n  if (missing.length) {\n    badRequest('Faltan campos obligatorios para alta', { missing });\n  }\n\n  if (!isValidDateFormat(input.Fecha_Fin)) {\n    badRequest('Fecha_Fin inválida. Formato requerido: YYYY-MM-DD');\n  }\n}\n\nif (input.action === 'extension') {\n  const required = ['Contrato_ID', 'Nueva_Fecha_Fin'];\n  const missing = required.filter((f) => !String(input[f] ?? '').trim());\n  if (missing.length) {\n    badRequest('Faltan campos obligatorios para extension', { missing });\n  }\n\n  if (!isValidDateFormat(input.Nueva_Fecha_Fin)) {\n    badRequest('Nueva_Fecha_Fin inválida. Formato requerido: YYYY-MM-DD');\n  }\n}\n\nif (input.action === 'consulta') {\n  const dias = Number(input.dias_proximos ?? 7);\n  if (!Number.isInteger(dias) || dias < 1 || dias > 60) {\n    badRequest('dias_proximos inválido. Debe ser entero entre 1 y 60');\n  }\n  input.dias_proximos = dias;\n}\n\nreturn [{ json: input }];"},"id":"3","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-740,120]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"alta","operator":{"type":"string","operation":"equals"}}]},"combinator":"and"}]},"options":{}},"id":"4","name":"Route Action","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-520,120]},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      Contrato_ID: String($json.Contrato_ID).trim(),\n      Cliente: String($json.Cliente).trim(),\n      Regex_Anuncio: String($json.Regex_Anuncio).trim(),\n      Fecha_Alta: String($json.Fecha_Alta ?? $json.today_tz),\n      Fecha_Fin: String($json.Fecha_Fin),\n      Status_Contrato: String($json.Status_Contrato ?? 'Activo'),\n      Notificado_Previo: false,\n      Ad_ID: String($json.Ad_ID ?? ''),\n      Ad_Name: String($json.Ad_Name ?? ''),\n      Fecha_Notificado_Previo: '',\n      Fecha_Finalizacion: '',\n      Updated_At: $json.request_ts,\n    },\n  },\n];"},"id":"5","name":"Prepare Alta Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,-80]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6","name":"GS Append Alta","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-80,-80],"credentials":{"googleSheetsOAuth2Api":{"id":"qIEJQ6Bbcg8r9QWG","name":"Google Sheets account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, action: 'alta', message: 'Contrato creado', data: $json } }}","options":{"responseCode":201}},"id":"7","name":"Respond Alta","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[140,-80]},{"parameters":{"operation":"read","documentId":{"__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"options":{"returnAll":true}},"id":"8","name":"GS Read Contratos","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-300,120],"credentials":{"googleSheetsOAuth2Api":{"id":"qIEJQ6Bbcg8r9QWG","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const trigger = $items('Validate Input', 0, 0)[0].json;\nconst dias = Number(trigger.dias_proximos ?? 7);\n\nfunction parseYmd(ymd) {\n  const [y, m, d] = String(ymd).split('-').map(Number);\n  return new Date(Date.UTC(y, m - 1, d));\n}\n\nconst today = parseYmd(trigger.today_tz);\nconst maxDate = new Date(today.getTime() + dias * 24 * 60 * 60 * 1000);\n\nconst out = [];\nfor (const item of items) {\n  const row = item.json;\n  const exp = String(row.Fecha_Fin ?? '').trim();\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(exp)) continue;\n\n  const expDate = parseYmd(exp);\n  if (row.Status_Contrato === 'Finalizado') continue;\n\n  if (expDate >= today && expDate <= maxDate) {\n    out.push({ json: row });\n  }\n}\n\nout.sort((a, b) => String(a.json.Fecha_Fin).localeCompare(String(b.json.Fecha_Fin)));\nreturn out;"},"id":"9","name":"Filter Proximos Vencer","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,120]},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, action: 'consulta', dias_proximos: $items('Validate Input', 0, 0)[0].json.dias_proximos, total: $items('Filter Proximos Vencer').length, data: $items('Filter Proximos Vencer').map(i => i.json) } }}","options":{"responseCode":200}},"id":"10","name":"Respond Consulta","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[140,120]},{"parameters":{"operation":"read","documentId":{"__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"options":{"returnAll":true}},"id":"11","name":"GS Read For Extension","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-300,320],"credentials":{"googleSheetsOAuth2Api":{"id":"qIEJQ6Bbcg8r9QWG","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const req = $items('Validate Input', 0, 0)[0].json;\nconst idContrato = String(req.Contrato_ID).trim();\nconst found = items.find((i) => String(i.json.Contrato_ID ?? '').trim() === idContrato);\n\nif (!found) {\n  const err = new Error('Contrato no encontrado para extension');\n  err.name = 'NotFoundError';\n  err.details = { Contrato_ID: idContrato };\n  throw err;\n}\n\nreturn [\n  {\n    json: {\n      ...found.json,\n      Contrato_ID: idContrato,\n      Fecha_Fin: String(req.Nueva_Fecha_Fin),\n      Notificado_Previo: false,\n      Updated_At: req.request_ts,\n    },\n  };\n]"},"id":"12","name":"Prepare Extension Row","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,320]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1RKQ05Zy6beCwCr_mT95eVSgeOqQTAfTA_9kaYX1XJoY","mode":"id"},"sheetName":{"__rl":true,"value":"Contratos","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Contrato_ID"],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"13","name":"GS Update Extension","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[140,320],"credentials":{"googleSheetsOAuth2Api":{"id":"qIEJQ6Bbcg8r9QWG","name":"Google Sheets account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, action: 'extension', message: 'Contrato extendido y Notificado_Previo reseteado', data: $json } }}","options":{"responseCode":200}},"id":"14","name":"Respond Extension","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[360,320]},{"parameters":{"jsCode":"const input = $json ?? {};\nconst nowIso = new Date().toISOString();\nconst safeAction = String(input.action ?? 'unknown').trim().toLowerCase();\nconst correlationId = String(input.correlation_id ?? `ak-f1-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`);\nconst logicalExecutionId = String(input.logical_execution_id ?? `${correlationId}:f1:${safeAction}`);\n\nreturn [\n  {\n    json: {\n      schema_version: '1.0.0',\n      event_type: 'contract.ui.action',\n      source_workflow: 'contract-ui-management',\n      target_workflow_id: '8mlwAxLtJVrwpLhi',\n      timezone: String(input.timezone ?? 'America/Argentina/Buenos_Aires'),\n      correlation_id: correlationId,\n      logical_execution_id: logicalExecutionId,\n      execution: {\n        n8n_execution_id: String($execution?.id ?? ''),\n        run_type: 'internal_execute_workflow',\n        status: 'queued'\n      },\n      payload: {\n        action: safeAction,\n        Contrato_ID: String(input.Contrato_ID ?? ''),\n        Fecha_Fin: String(input.Fecha_Fin ?? ''),\n        Nueva_Fecha_Fin: String(input.Nueva_Fecha_Fin ?? ''),\n        Regex_Anuncio: String(input.Regex_Anuncio ?? ''),\n        request_ts: String(input.request_ts ?? nowIso),\n        today_tz: String(input.today_tz ?? ''),\n        timezone: String(input.timezone ?? 'America/Argentina/Buenos_Aires')\n      },\n      dispatched_at: nowIso\n    },\n  };\n];"},"id":"15","name":"Build Internal Payload F1->F2","type":"n8n-nodes-base.code","typeVersion":2,"position":[-520,-300]},{"parameters":{"workflowId":{"__rl":true,"value":"8mlwAxLtJVrwpLhi","mode":"id"},"options":{"waitForSubWorkflow":true}},"id":"16","name":"Execute F2 Internal","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-280,-300],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const source = $json ?? {};\nreturn [\n  {\n    json: {\n      event: 'internal_chain_dispatch_ok',\n      source_workflow: 'contract-ui-management',\n      target_workflow_id: '8mlwAxLtJVrwpLhi',\n      correlation_id: String(source.correlation_id ?? ''),\n      logical_execution_id: String(source.logical_execution_id ?? ''),\n      status: 'dispatched',\n      timestamp: new Date().toISOString()\n    },\n  };\n];"},"id":"17","name":"Log F1 Chain Dispatch OK","type":"n8n-nodes-base.code","typeVersion":2,"position":[-40,-380]},{"parameters":{"jsCode":"const source = $json ?? {};\nreturn [\n  {\n    json: {\n      event: 'internal_chain_dispatch_error',\n      source_workflow: 'contract-ui-management',\n      target_workflow_id: '8mlwAxLtJVrwpLhi',\n      correlation_id: String(source.correlation_id ?? ''),\n      logical_execution_id: String(source.logical_execution_id ?? ''),\n      status: 'error',\n      error: String(source.error?.message ?? source.message ?? 'unknown_execute_workflow_error'),\n      timestamp: new Date().toISOString()\n    },\n  };\n];"},"id":"18","name":"Log F1 Chain Dispatch Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-40,-220]}],"connections":{"Webhook UI":{"main":[[{"node":"Normalize Request","type":"main","index":0}]]},"Normalize Request":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Route Action","type":"main","index":0}],[{"node":"Build Internal Payload F1->F2","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Prepare Alta Row","type":"main","index":0}],[{"node":"GS Read Contratos","type":"main","index":0}],[{"node":"GS Read For Extension","type":"main","index":0}]]},"Prepare Alta Row":{"main":[[{"node":"GS Append Alta","type":"main","index":0}]]},"GS Append Alta":{"main":[[{"node":"Respond Alta","type":"main","index":0}]]},"GS Read Contratos":{"main":[[{"node":"Filter Proximos Vencer","type":"main","index":0}]]},"Filter Proximos Vencer":{"main":[[{"node":"Respond Consulta","type":"main","index":0}]]},"GS Read For Extension":{"main":[[{"node":"Prepare Extension Row","type":"main","index":0}]]},"Prepare Extension Row":{"main":[[{"node":"GS Update Extension","type":"main","index":0}]]},"GS Update Extension":{"main":[[{"node":"Respond Extension","type":"main","index":0}]]},"Build Internal Payload F1->F2":{"main":[[{"node":"Execute F2 Internal","type":"main","index":0}]]},"Execute F2 Internal":{"main":[[{"node":"Log F1 Chain Dispatch OK","type":"main","index":0}],[{"node":"Log F1 Chain Dispatch Error","type":"main","index":0}]]}},"authors":"Alexander Villa","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-13T04:32:17.575Z","id":132,"workflowId":"rpnGFPo0nDthwzdB","versionId":"ec685104-d2df-4af4-bd4d-86d44bc725a4","event":"activated","userId":"3350874b-f3a7-46b8-bdc1-49a5dbdda144"},{"createdAt":"2026-04-13T04:32:17.550Z","id":131,"workflowId":"rpnGFPo0nDthwzdB","versionId":"ec685104-d2df-4af4-bd4d-86d44bc725a4","event":"deactivated","userId":"3350874b-f3a7-46b8-bdc1-49a5dbdda144"}]}}